mixin sProfile(data)
	// start sProfile
	+b.SECTION.sProfile.section#sProfile&attributes(attributes)
		.container
			block
			+b.section-title
				+e.bg
					+e.ball--1
					+e.ball--2
					+e.ball--3
					+e.ball--4
				+e.row.row.align-items-center
					.col-auto
						+e.logo(href='#')
							img(loading="lazy" src="img/@2x/company-logo-3.jpg" alt="")
					.col-12.col-md
						h1 ООО Центр Дентальной Травматологии
				+e.like-btn(href='#')
					+icon('like')
			+e.row.row
				+e.l-col.col-xl-9
					+e.sub-title.pb-25 Об организации
					+e.txt-box
						p Центр дентальной травматологии Iceberg
						p Наша стоматологическая клиника, основанная в 2013 году является ведущей частной клиникой в стоматологической травматологии (IADT Fellow). В 2019 году стала второй в рейтинге лучших частных клиник России по версии “Коммерсантъ”.
						p Мы помогаем людям открыто улыбаться, общаться уверенно и наслаждаться пищей, чтобы они могли достигать свои жизненные цели, не задумываясь о проблемах с зубами.
						p Открыто делимся опытом и формируем уважение к российской медицине среди мирового сообщества,  повышая компетентность врачей и населения по всему миру.
						br.d-none.d-xl-block
						p Объединяем усилия профессиональной команды и оснащение  цифровой зуботехнической лаборатории, взрослого отделения и детского отделения с анестезиологией, чтобы восстановить прежний вид улыбки и восстановить здоровье на долгие годы.
					+contacts('d-xl-none mb-55')
					//-+emploeeAmount('')
					+e.sub-title.pb-43 Фотографии
					+b.galery-row.row
						+galeryItem(1)
						+galeryItem(2)
						+galeryItem(3)
						+galeryItem(3)
						+galeryItem(4)
						+galeryItem(1)
					+e.sm-title.pb-43 Вакансии организации
					+b.organ--vac
						+vacancyItem({
							dataFancy: 'jobGalery1',
							imgsNumArr: [3, 1, 4],
							logo: true,
							update: true,
							prof: 'Врач-терапевт стационар',
							orgName: 'ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург',
							city: 'г. Санкт-Петербург',
							descr: 'Получает информацию о заболевании. Применяет объективные методы обследования больного. Выявляет общие и специфические признаки заболевания. Выполняет перечень работ и услуг. Высшее профильное образование.',
							salary: '30 000-35 000 ₽',
						})
						+vacancyItem({
							dataFancy: 'jobGalery1',
							imgsNumArr: [3, 1, 4],
							logo: true,
							update: true,
							prof: 'Врач-терапевт стационар',
							orgName: 'ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург',
							city: 'г. Санкт-Петербург',
							descr: 'Получает информацию о заболевании. Применяет объективные методы обследования больного. Выявляет общие и специфические признаки заболевания. Выполняет перечень работ и услуг. Высшее профильное образование.',
							salary: '30 000-35 000 ₽',
						})
				.col-xl-3.d-none.d-xl-block
					+contacts('mb-36')
					+emploeeAmount('')
	// end sProfile

mixin emploeeAmount(addClasses='')
	+b.emp-am(class=addClasses)
		+e.bg
			+e.ball--1
			+e.ball--2
		+e.title Количество сотрудников
		+e.amount
			img(loading="lazy" src="img/svg/doctor.svg" alt="")
			span 102

mixin contacts(addClasses='')
	+b.contacts(class=addClasses)
		+e.row.row
			.col-12
				+e.item
					+e.headline Контакты
			+contactsCell('Город:')
				+e.txt Санкт-Петербург
			+contactsCell('Адрес:')
				+e.txt 435345, г. Санкт-Петербург, ул. Иванова, д 7
			+contactsCell('Телефон:')
				+e.tell(href='tel:+74995465567') + 7 (499) 546-55-67
			+contactsCell('E-mail:')
				+e.link(href="mailto:info@iceberg.dental") info@iceberg.dental
			+contactsCell('Сайт:')
				+e.link(href="www.iceberg.dental" target="_blank" ) www.iceberg.dental
			+contactsCell('Ответственное лицо:')
				+e.txt Константинопольская Ирина Васильевна
			+contactsCell()
				+e.social-row.row
					+contactSoc('tg')
					+contactSoc('tw')
					+contactSoc('fb')
					+contactSoc('vk')
					+contactSoc('ok')
mixin contactSoc(iconName)
	.col-auto
		+e.soc-link(href="#")
			img(loading="lazy" src=`img/svg/${iconName}.svg` alt="")

mixin contactsCell(title)
	.col-12.col-md-6.col-xl-12
		+e.item
			if title
				+e.title=title
			block