mixin sVacDay(data)
	// start sVacDay
	+b.SECTION.sVacDay.section#sVacDay&attributes(attributes)
		.container
			+b.section-title--lined.text-center.text-xl-start
				h2 Вакансии дня
			+e.row.row
				-for (var i = 0; i < 6; i++)
					+sVacDayCard()
	// end sVacDay

mixin sVacDayCard()
	.col-md-6
		+e.card
			//-+e.star
				img(loading="lazy" src="img/svg/circle-star.svg" alt="")
			+e.duty(href='#') Врач-терапевт стационар
			+e.salary 30 000-35 000 ₽
			+e.logo-row.row
				.col-auto
					+e.logo
						img(loading="lazy" src="img/@2x/n-chosen-1.png" alt="")
				.col
					+e.name ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург
					+e.city г. Санкт-Петербург
			//-+e.btns-row.row
				.col-6
					+e.call-btn(href="#") Откликнуться
				.col-6
					+e.contacts-btn(href="#") Показать контакты
