// start .sNVac
.sNVac {

	&__items{
		padding-bottom: 24px;
		@include media-breakpoint-up(xl){
			padding-bottom: 22px;
		}
	}
	&__item{
		@include mt($smooth);

		@media (max-width: 576px){
			margin-bottom: 16px;
			padding: 24px;
		}
		margin-bottom: 12px;
		&:last-child{
			margin-bottom: 0;
		}

		padding: 18px 18px 24px 18px;
		@include media-breakpoint-up(md){
			padding: 24px;
		}
		@include media-breakpoint-between(xlg, xl){
			padding: 18px;
		}
		@include media-breakpoint-up(xl){
			padding: 24px 24px 20px;
		}

		background: $white;
		border: 1px solid $gray-210;
		border-radius: 5px;

		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0);
		&:hover{
			box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15)
		}
	}
	&__main-row{
		--bs-gutter-x: 24px;
		--bs-gutter-y: 24px;

		@include media-breakpoint-between(xlg, xl){
			--bs-gutter-x: 18px;
			--bs-gutter-y: 18px;
		}
	}
	&__data-row{
		@include roww(24px);
		flex-wrap: nowrap;
	}
	&__img{
		width: 90px;
		height: 90px;
		background: $white;
		border: 1px solid $gray-210;
		border-radius: 5px;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__vac-name{
		display: block;
		font-weight: 500;
		line-height: 1.5;

		color: $headings-color;
		&:hover{
			color: $primary;
		}

		margin-bottom: 6px;
	}
	&__salary{
		line-height: 1.5;
		margin-bottom: 6px;
	}
	&__loc-row{
		@include roww(12px);
		--col-mb: 6px;
	}
	&__company{
		display: inline-block;
		@extend .primary-link;
	}
	&__city{
		//font-size: 15px;
		line-height: 1.5;
		color: $gray-600;
	}
	//sub-row
	&__sub-row{
		@include roww(11px);
		--col-mb: 12px;
	}
	&__time{
		padding-right: 13px;
		color: $gray-600;
	}
	&__detail-btn{
		@extend .btn;
		@extend .btn-outline-light;

		border-radius: 50px;

		font-size: inherit;
		//font-size: 15px;
		//@include media-breakpoint-between(xlg, xl){
		//	font-size: 13px;
		//}

		line-height: (18/15);
		padding: 10px 24px;
		color: $headings-color;

		box-shadow: none!important;
	}
	&__like-btn{
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 576px){
			width: 46px;
			height: 46px;
		}
		width: 40px;
		height: 40px;
		@include media-breakpoint-between(xlg, xl){
			width: 36px;
			height: 36px;
		}

		border: 1px solid $gray-210;
		border-radius: 50%;

		.icon{
			color: $warning;
			@include media-breakpoint-between(xlg, xl){
				font-size: 18px;
			}

			@media (max-width: 576px){
				font-size: 24px;
			}
			font-size: 20px;
		}
	}
	&__{}
	&__empty{
		background: $white;
		border: 1px solid $gray-210;
		border-radius: 5px;

		display: flex;
		flex-direction: column;
		align-items: center;

		min-height: 470px;

		padding: 87px 24px;
	}
	&__e-img{
		width: 170px;
		height: 170px;
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}

		margin-bottom: 36px;

		animation: top-bot 2s linear infinite;
	}
	&__e-txt{
		line-height: 1.5;

		margin-bottom: 24px;
		@include media-breakpoint-between(xlg, xl){
			margin-bottom: 18px;
		}
	}
	&__e-btn{
		//@extend .btn-light-default;
		@extend .btn-gray-blue;
		font-weight: 500;
		padding: 11px 20px;

		@media (max-width: 576px){
			font-size: 20px;
		}
		@include media-breakpoint-between(xlg, xl){
			font-size: 13px;
		}
		font-size: 15px;

	}

	&--compilation{
		.sNVac__empty{
			min-height: 0;
			padding-top: 48px;
			padding-bottom: 48px;
		}
	}

	.vac-btn{
		font-size: inherit;
	}
} // end.sNVac

@keyframes top-bot {
	from{
		transform: translateY(0px);
	}
	25%{
		transform: translateY(-7px);
	}
	50%{
		transform: translateY(0px);
	}
	75%{
		transform: translateY(7px);
	}
	to{
		transform: translateY(0px);
	}
}

.pugination-n{
	.pagination{
		background: $white;
		border: 1px solid $gray-210;
		border-radius: 5px;

		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;

		li{
			border-right: 1px solid $gray-210;

			a{
				@include mt($sharp);
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 8px;
				@media (max-width: 576px){
					padding: var(--pugination-n-pages-padd, 8px);
				}

				min-width: 39px;
				min-height: 40px;
				color: $headings-color;

				background-color: transparent;
				&:hover{
					background-color: rgba($light, .5);
					&:before{
						opacity: 1;
					}
				}

				position: relative;
				z-index: 1;
				&:before{
					content: '';
					position: absolute;
					z-index: -1;
					opacity: 0;
					@include mt($sharp);
					width: 100%;
					height: 2px;
					left: 0;
					bottom: 0;
					//background: linear-gradient(86.99deg, #2AED80 0.21%, #10B7F5 99.92%);
					background: $green2;
					//background: $red;
				}
			}

			&.prev,
			&.next{
				a{
					@media (max-width: 576px){
						padding: var(--pugination-n-link-padd, 8px 12px);
					}
					padding: 8px 12px;
					min-width: 89px;
				}

				.icon{
					font-size: 10px;
					@media (max-width: 576px){
						font-size: var(--pugination-n-icon-fs, 10px);
					}
					color: $warning;
				}
			}

			&.prev{
				a{
					.icon{
						margin-right: 6px;
						@media (max-width: 576px){
							margin-right: 10px;
						}
					}
				}
			}
			&.next{
				a{
					.icon{
						margin-left: 6px;
						@media (max-width: 576px){
							margin-left: 10px;
						}
					}
				}
			}
			&.disabled{
				pointer-events: none;
				a{
					color: $secondary;
				}
				.icon{
					color: $secondary;
				}
			}


		}
	}
}

//
.creator-item{
	@include mt($smooth);

	margin-bottom: 12px;
	&:last-child{
		margin-bottom: 0;
	}

	@media (max-width: 576px){
		padding: 24px;
	}
	padding: 18px 18px 24px 18px;
	@include media-breakpoint-up(md){
		padding: 24px;
	}
	@include media-breakpoint-between(xlg, xl){
		padding: 18px;
	}
	@include media-breakpoint-up(xl){
		padding: 22px 24px 22px 20px;
	}

	background: $white;
	border: 1px solid $gray-210;
	border-radius: 5px;

	box-shadow: 0px 0px 15px rgba(38, 39, 40, 0);
	&:hover{
		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15)
	}

	&__data-row{
		--bs-gutter-x: 24px;

		flex-wrap: nowrap;
	}
	&__main-row{
		--bs-gutter-x: 24px;
		--bs-gutter-y: 24px;

		@include media-breakpoint-between(xlg, xl){
			--bs-gutter-x: 18px;
			--bs-gutter-y: 18px;
		}

		@include media-breakpoint-between(md,lg){
			margin-bottom: 24px;
		}
	}
	&__main-l-col{
		@include media-breakpoint-between(md,lg){
			width: 62.5%;
			padding-right: 0;
		}
	}

	&__img{
		width: 90px;
		height: 90px;
		background: $white;
		border: 1px solid $gray-210;
		border-radius: 5px;
		padding: 5px;
		overflow: hidden;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}


		&--empty{
			background: $gray-100;
			padding: 0px;
		}
	}
	&__vac-name{
		display: block;
		font-weight: 500;
		line-height: 1.5;

		color: $headings-color;
		&:hover{
			color: $primary;
		}

		margin-bottom: 6px;
	}
	&__salary{
		line-height: 1.5;
		margin-bottom: 6px;
	}
	&__loc-row{
		@include roww(12px);
		--col-mb: 6px;
	}
	&__city{
		line-height: 1.5;
		color: $gray-600;
	}
	//
	&__status-row{
		@media (max-width: 576px){
			--bs-gutter-y: 18px;
		}
		--bs-gutter-x: 12px;
		--bs-gutter-y: 12px;
		justify-content: flex-end;

		flex-direction: row-reverse;
		@include media-breakpoint-up(md){
			flex-direction: row;
		}
		padding-bottom: 20px;
		@include media-breakpoint-between(md,lg){
			padding-bottom: 0;
		}
	}
	&__p-date{
		color: $gray-600;
	}
	&__remain{

	}
	&__views{
		position: relative;
		top: 2px;

		display: inline-flex;
		align-items: center;
		.icon{
			color: $secondary;
			font-size: 24px;
			margin-right: 6px;
		}
		span{
			color: $secondary;
		}
	}
	//
	&__plate{
		border-style: solid;
		border-width: 1px;
		padding: 5px 13px;
		border-radius: 5px;

		min-width: 100px;
		text-align: center;
	}
	&__btns-row{
		--bs-gutter-y: 12px;

		--bs-gutter-x: 6px;
		@include media-breakpoint-up(md){
			--bs-gutter-x: 12px;
			justify-content: flex-end;
		}
	}
	&__l-btn{
		min-width: 160px;

		border-width: 1px!important;
		border-radius: 60px;

		padding: 10px 24px;
		@media (max-width: 576px){
			min-width: 0;
			padding: 12px 18px;
		}
		font-size: inherit;
		line-height: (18/15);

		&--blue{
			@extend .btn;
			@extend .btn-outline-primary;
		}
		&--views{
			@extend .btn;
			@extend .btn-outline-primary;

			display: inline-flex;
			align-items: center;
			.icon{
				font-size: 24px;
				margin-right: 8px;
			}

			padding: 7px 24px;
			@media (max-width: 576px){
				min-width: 0;
				padding: 12px 18px;
			}
		}
		&--no-views{
			@extend .btn;
			@extend .btn-outline-light;
			color: $secondary;

			border: 1px solid $gray-210;
			background-color: transparent!important;
			&:hover{
				background-color: $gray-210!important;
			}
		}
		&--gray{
			@extend .btn;
			@extend .btn-outline-light;
			color: $headings-color;

			border: 1px solid $gray-210;
			background-color: transparent!important;
			&:hover{
				background-color: $gray-210!important;
			}
		}
		&--orange{
			@extend .btn;
			@extend .btn-outline-warning;

			&:hover{
				color: $white!important;
			}
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
}