mixin sNVac(data)
	// start sNVac
	+b.sNVac#sNVac&attributes(attributes)
		+e.items
			+snVacItem({
				time: 'Вчера, 17:53',
				vacName: 'Врач хирург-терапевт',
				salary: '330 000 ₽'
			})
			+snVacItem({
				time: '24 февраля 2021',
				imgName: '1',
				vacName: 'Врач педиатр',
				salary: '70 000 ₽'
			})
			+snVacItem({
				time: '24 февраля 2021',
				imgName: '2',
				vacName: 'Гинеколог',
				salary: '200 000 ₽ – 250 000 ₽'
			})
			+snVacItem({
				time: 'Вчера, 17:53',
				vacName: 'Врач хирург-терапевт',
				salary: 'з/п не указана'
			})
		+puginationN()
	// end sNVac

mixin sNVacEmpty(data)
	// start sNVac
	+b.sNVac#sNVac&attributes(attributes)
		+e.empty
			+e.e-img
				img(loading="lazy" src="img/@2x/empty-vac.png" alt="")
			+e.e-txt У вас нет избранных вакансий.
			+e.e-btn(href='#') К списку вакансий

mixin snVacItem(data)
	+e.item
		+e.main-row.row.row--mb.align-items-center
			.col-md
				+e.data-row.row.align-items-center
					.col-auto
						+e.img(href='#')
							if data.imgName
								img(loading="lazy" src=`img/@2x/n-chosen-${data.imgName}.png` alt="")
							else
								img(loading="lazy" src=`img/svg/sqsuare-users-stab.svg` alt="")
					.col-auto
						+e.vac-name(href='#')=data.vacName
						+e.salary=data.salary
						+e.loc-row.row.row--mb.align-items-center
							.col-auto.col-md-12.col-xl-auto
								+e.company(href='#') ООО УК Медгард
							.col-auto.col-md-12.col-xl-auto
								+e.city г. Санкт-Петербург
			.col-md-auto
				+e.sub-row.row.row--mb.align-items-center.justify-content-end
					.col-auto
						+e.time=data.time
					.col-auto
						+e.detail-btn(href="#") Подробнее
					.col-auto
						+e.like-btn(href="#")
							+icon('like-fill')

mixin puginationN()
	+b.pugination-n.row
		.col-auto
			ul.pagination
				li.prev.disabled: a(href="#")
					+icon('chevron-left')
					span Назад
				li: a(href="#") 1
				li: a(href="#") 2
				li: a(href="#") 3
				li: a(href="#") ...
				li: a(href="#") 5
				li.next: a(href="#")
					span Вперед
					+icon('chevron-right')
