.footer {
	margin-top: auto;
	padding: 60px 0;
	background-color: $light;

	//
	&--alt{
		border-top: 1px solid $gray-210;
		background-color: $white;
	}
	&__gray-row{
		@include roww(24px);
		--bs-gutter-y: 15px;
	}
	&__g-link{
		font-size: rem(16);
		line-height: 1.25;
		color: $gray-600;
		&:hover{
			color: $primary;
		}
	}
	&__ar-row{
		--bs-gutter-y: 30px;

		flex-direction: column-reverse;
		@include media-breakpoint-up(md){
			flex-direction: row;
		}
	}

	//

	&__menu-col{
		@include media-breakpoint-between(md, xl){
			padding-top: 35px;
		}
	}
	&__gray-col{
		margin-bottom: 25px;
		@include media-breakpoint-up(md){
			margin-bottom: 0;
		}
	}
	&__menu-row{
		width: 100%;
		@include media-breakpoint-down(md){
			justify-content: center;
			padding-left: 76px;
			margin-bottom: 23px;
		}
		& > *{
			@include media-breakpoint-down(md){
				width: 175px!important;
			}
		}
	}

	&__a-menu-row{
		width: 100%;
		--bs-gutter-y: 15px;

		padding-bottom: 15px;
		@include media-breakpoint-up(md){
			padding-bottom: 0;
		}
	}

	&__a-title{
		display: block;
		margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;

    color: $headings-color;
		&:hover{
			color: $primary;
		}
  }

	&__row{
		& > *{
			@include media-breakpoint-down(md){
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	&__logo{
		display: block;
		width: 218px;

		@include media-breakpoint-between(md, xl){
			margin-bottom: 41px;
		}
		margin-bottom: 38px;

		&--alt{
			margin-bottom: 30px!important;
		}
		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}
	&__l-txt{
		font-size: 16px;
		line-height: 1.5;

		color: $secondary;

		padding-bottom: 42px;
		@include media-breakpoint-up(xl){
			padding-bottom: 40px;
		}

		&--alt{
			padding-bottom: 30px!important;
		}
	}
	//
	.navMenu{
		margin: 0;
		display: block;

		--link-col: #{$body-color};
		&.gray{
			--link-col: #{$secondary};
		}

		&__item{
			padding: 0;
			margin: 0 0 15px;
		}
		&__link{
			padding: 0;
			margin: 0;
			text-align: inherit;

			color: var(--link-col);
			&:hover{
				//color: var(--link-col);
				color: $primary;
			}
		}
	}
	//
	.social{
		margin-bottom: 44px;
		@include media-breakpoint-up(md){
			margin-bottom: 56px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 0;
		}

		//26px
	}

	//
	&__all-rights{
		margin-bottom: 46px;
		@include media-breakpoint-up(md){
			margin-bottom: 11px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 0;
		}
	}
	&__likes{
		display: inline-flex;
		align-items: center;

		.icon{
			color: $warning;
			font-size: 24px;
			margin-right: 7px;
		}
	}
	&__{}
	&__{}
	&__{}

	&.footer-white{
		background-color: $white;

		.navMenu__item{
			&:hover{
				--link-col: #{$primary};
			}
		}
	}

	//
	//.social{
	//	margin-bottom: 40px;
	//	@include media-breakpoint-up(md){
	//		margin-bottom: 38px;
	//	}
	//	@include media-breakpoint-up(xl){
	//		margin-bottom: 36px;
	//	}
	//}
	&__business-logo{
		display: block;

		margin-bottom: 40px;
		@include media-breakpoint-up(md){
			margin-bottom: 38px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 36px;
		}

		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}
}

.social{

	&__row{
		@include roww(10px);

		& > *{
			margin-bottom: 10px;
		}

		margin-bottom: -10px;
	}

	&__item{
		@include mt();
		display: block;
		width: 30px;
		height: 30px;

		&:hover{
			//opacity: .95;
			filter: brightness(1.07);
			//transform: scale(1.05);
		}

		img{
			width: 100%;
			height: 100%;
		}
	}

}