.modal-win {
	width: 100%;
	position: relative;
	max-width: 558px!important;

	padding: 48px!important;
	border-radius: 5px;

	.fancybox-button.fancybox-close-small{
		padding: 0!important;
		width: 18px!important;
		height: 18px!important;
		top: 24px!important;
		right: 24px!important;

		background-image: url(../img/svg/modal-cross.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;


		svg{
			display: none;
		}
	}
}

//
.modal-callback{
	.form-wrap{
		&__hedline{
			font-weight: 600;
			font-size: 20px;
			@media (max-width: 576px){
				font-size: 24px;
			}

			line-height: 1.25;
			color: $headings-color;
			margin-bottom: 24px;
		}
		&__data{
			padding: 24px 0;
			border-top:  1px solid $gary-110;
			border-bottom:  1px solid $gary-110;
			margin-bottom: 24px;
		}
		&__d-row{
			@include roww(24px);
			--bs-gutter-y: 24px;
		}
		&__img{
			display: block;
			width: 68px;
			height: 68px;
			border-radius: 50%;
			overflow: hidden;

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__name{
			font-weight: 600;
			line-height: 1.25;
			color: $headings-color;
			margin-bottom: 6px;
		}
		&__short-info{
			line-height: 1.25;
			color: $headings-color;
			margin-bottom: 6px;
		}
		&__mail{
			line-height: 1.25;
			color: $gray-600;
		}
		//
		&__input-title{
			display: block;
			font-weight: 600;
			color: $headings-color;

			@media (max-width: 576px){
				font-size: 28px;
			}
			font-size: 14px;
			margin-bottom: 14px;
		}
		&__input-wrap{
			margin-bottom: 36px;
			textarea{
				height: 96px;
				@media (max-width: 576px){
					height: 120px;
				}
				padding: 10px;
			}
		}
		&__input{
			@media (max-width: 576px){
				font-size: 18px;
			}
			font-size: 14px;
			padding: 14px 10px;

			&:focus{
				box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);
			}
		}
		&__btn{
			@extend .green-btn;
			padding: 14px 20px;
			min-width: 220px;
			font-size: inherit;
		}
		&__{}
		&__{}
	}

	&__{}
}

.modal-contacts{
	&__title{
		font-weight: 600;
		font-size: 20px;
		@media (max-width: 576px){
			font-size: 24px;
		}
		color: $headings-color;
		margin-bottom: 40px;
	}

	&__items{}
	&__item{
		margin-bottom: 19px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__i-title{
		font-weight: 600;
		font-size: 16px;
		@media (max-width: 576px){
			font-size: 20px;
		}

		line-height: (19/16);
		color: $headings-color;
		margin-bottom: 8px;
	}
	&__link{
		display: block;
		font-size: 16px;
		@media (max-width: 576px){
			font-size: 20px;
		}

		line-height: (19/16);

		color: $headings-color;
		&:hover{
			color: $headings-color;
		}
	}
	&__{}
}

//
.modal-city{
	font-family: $default-font;

	&__title{
		font-weight: 600;
		font-size: 16px;
		@media (max-width: 576px){
			font-size: 20px;
		}
		line-height: 1.25;
		color: $headings-color;

		margin-bottom: 24px;
	}
	.form-wrap{
		&__input-wrap{
			position: relative;
			margin-bottom: 24px;

			input:focus + .form-wrap__cross-btn{
				opacity: 1;
			}
		}
		&__input{
			font-family: $default-font;
			padding: 15px 11px;
			&--soc{
				padding-left: 48px;
			}

			@media (max-width: 576px){
				font-size: 18px;
			}
			font-size: 14px;
			line-height: (16/14);
			//color: #888C94;
			@include placeholder(){
				color: $gray-600;
			}

			&:focus{
				border-color: $cyan!important;
			}
		}

		&__cross-btn{
			@include mt();
			@extend .btn;
			opacity: 0;

			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			padding: 15px 12px;
			width: 42px;
			height: 48px;

			background-image: url(../img/svg/modal-cross.svg);
			background-size: 18px;
			@media (max-width: 576px){
				background-size: 24px;
			}
			background-repeat: no-repeat;
			background-position: 50%;
		}

		&__soc-icon{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 12px;
			width: 24px;
			height: 24px;

			display: flex;
			align-items: center;
			justify-content: center;

			.icon{
				font-size: 24px;

			}
		}
		&__results{
			ul{
				list-style: none;
				padding: 0;
				margin: 0;

				max-height: 348px;
				overflow-y: auto;
				@extend .custom-scroll2;

				li{

				}
				a{
					display: block;
					font-size: 14px;
					@media (max-width: 576px){
						font-size: 18px;
					}
					line-height: 2.25;

					color: $headings-color;
					&:hover{
						color: $primary;
					}

					&.current{
						font-weight: 600;
					}
				}
			}
		}
		&__btns-row{
			@include roww(24px);
			--bs-gutter-y: 24px;
		}
		&__discard-btn{
			@extend .btn-light-default;
			font-family: $mono;

			font-weight: 500;
			font-size: inherit;
			line-height: (18/15);
			color: $headings-color;
		}
		&__save-btn{
			@extend .btn-default;
			font-family: $mono;

			font-weight: 500;
			font-size: inherit;
			line-height: (18/15);
			color: $headings-color;

			border-radius: 50px;
			padding: 11px 24px;
		}

		//
		&__{}
	}

	&__{}
	&__{}
}
//

.custom-modal{
	// display: none;
	//
	&:before{
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(1px);
		filter: blur(0px);
		opacity: 0;
		transition: all 0s ease-in-out 0s;
	}

	@include mt(1);
	background-clip: padding-box;
	right: 0;
	--pos:100%;
	--vis: hidden;
	transform: translateX(var(--pos));
	visibility: var(--vis);
	&:not(.active){
		// width: 1px;
		
	}
	&.active{
		--pos: 0;
		--vis: visible;
		@include mt(.4);
		display: block;
		&:before{
			filter: blur(2px);
			opacity: 1;
			transition: all .4s ease-in-out .4s;
		}
	}

	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;

	&__inner{
		width: 100%;
		height: 100%;
		display: flex;
	}
	&__close{
		//@include mt($smooth);
		//opacity: var(--close-bl-o, 1);
		//background-color: rgba($headings-color, .24);
		flex-grow: 1;
	}

	&__content{
		height: 100%;
		overflow-y: auto;
		background: darken($white, 1);
		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);

		position: relative;

		padding: 24px 34px;
		@include media-breakpoint-up(md){
			padding: 30px 38px;
		}
		width: 100%;
		@include media-breakpoint-up(xl){
			padding: 40px 48px;
			width: 851px;
			margin-left: auto;
		}
		@include media-breakpoint-up(xxl){
			padding: 50px 72px;
		}
	}
	//
	&__cross-btn{
    cursor: pointer;
		position: absolute;
		top: 24px;
		right: 48px;

		.icon{
			@media (max-width: 576px){
				font-size: 32px;
			}
			font-size: 24px;
			color: $secondary;
		}
	}

	//
	.form-wrap{
		textarea{
			height: 80px;
			&.double{
				height: 160px;
			}
		}
		&__main-title{
			font-weight: 600;
			font-size: 24px;
			line-height: (29/24);
			margin-bottom: 48px;
		}
		&__input-wrap{
			padding-bottom: 24px;

			& > *{
				margin-bottom: 18px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		//title-wrap
		&__title-wrap{
			& > *{
				margin-bottom: 12px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		//
		&__title-col{
			min-width: 106px;
		}
		&__title{
			font-weight: 500;
		}
		&__secondary{
			color: $secondary;
		}
		//
		&__inp-row{
			@include roww(18px);
			@include media-breakpoint-up(md){
				@include roww(24px);
			}

			--bs-gutter-y: 18px;
		}
		&__two-title{
			font-weight: 500;
			//font-size: 15px;
			//line-height: (18/15);
			//color: $headings-color;
		}
		&__input{
			width: 100%;
			font-size: inherit;

			padding: 10px;
			border-radius: 5px;
		}

		.custom-select{
			min-width: 80px;
		}
		&__{}
		&__{}
		//footer
		&__foot-row{
			justify-content: flex-end;
			padding-top: 24px;

			@include roww(18px);
			@include media-breakpoint-up(md){
				@include roww(24px);
			}
		}
		&__cancel-btn{
			@extend .btn;
			@extend .btn-light;
			border-radius: 60px;

			@media (max-width: 576px){
				padding: 10px 11px;
			}

			font-weight: 500;
			font-size: inherit;
			line-height: (18/15);
		}
		&__save-btn{
			@extend .btn-default;
			border-radius: 60px;

			padding: 10px 23px;
			@media (max-width: 576px){
				padding: 10px 11px;
			}

			font-weight: 500;
			font-size: inherit;
			line-height: (18/15);
		}
		.skill-select{
			.select2-search{
				//display: block!important;
				//
				//&__field{
				//	margin-left: 10px!important;
				//}
			}
		}

		//repeater
		&__repeater{

		}
		&__r-item{

		}
		//
		&__remove-item{
			border-bottom: 1px solid $gray-210;
			margin-bottom: 48px;
		}
		&__r-btn{
			display: flex;
			align-items: center;

			--icon-color: #{$gray-550};
			--ball-bg: #{$gray-100};
			--txt-color: #{$headings-color};
			&:hover{
				--icon-color: #{$white};
				--ball-bg: #{$warning};
				--txt-color: #{$warning};
			}

			padding-bottom: 24px;
		}
		&__r-ball{
			@include mt($smooth);
			width: 24px;
			height: 24px;
			flex-shrink: 0;
			border-radius: 50%;

			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--ball-bg, #{$light});

			.icon{
				@include mt();
				font-size: 10px;
				color: var(--icon-color);
			}

			margin-right: 12px;
		}
		&__ri-txt{
			font-size: inherit;
			line-height: 1.25;
			color: var(--txt-color, #{$headings-color});
		}
		&__r-add-btn{
			@extend .btn;
			@extend .btn-outline-primary;

			//color: ;
			border-radius: 60px;
			padding: 10px 23px;

			color: $primary!important;
			&:hover{
				color: $white!important;
			}
		}
		.custom-chb{
			.txt{
				@media (max-width: 576px){
					font-size: 17px;
				}
				font-size: inherit;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		.custom-radio{
			margin-bottom: 12px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__{}
		&__{}
		&__{}
		&__{}
	}

	&__{}

	.custom-select{
		@media (max-width: 576px){
			.select2-selection{
				--select-h: 48px;
			}
			.select2.select2-container.select2-container--default{
				height: 48px!important;
			}
			.select2-selection__rendered{
				display: flex!important;
				align-items: center!important;
				--rendered-fs: 18px;
			}
		}
	}

}

//multiple select alt
.multiple-select{
	width: 100%;
	height: 100%;

	.select2.select2-container.select2-container--default{
		width: 100% !important;
	}

	*{
		font-family: $default-font!important;
		font-weight: 400!important;
		font-size: inherit!important;
		line-height: (18/15);
		white-space: normal!important;
	}

	.select2-selection.select2-selection--multiple{
		min-height: 40px;
		padding: 0px!important;
		border-radius: 5px!important;
		@include mt();
		width: 100%!important;
		height: 100%!important;

		border: 1px solid $input-border-color!important;

		background-color: $white!important;
		background-image: url(../img/svg/chevron-down.svg) !important;
		background-position-x: calc(100% - 12px)!important;
		background-position-y: center!important;
		background-repeat: no-repeat!important;
	}
	.select2-selection.select2-selection--multiple.select2-container--open{
		border: 1px solid $input-focus-border-color!important;
	}

	.select2-selection{
		background-color: transparent!important;
		width: 100%!important;
		height: 100% !important;

		&__rendered{
			margin: 0 0 -10px!important;
			padding: 4px 24px 4px 5px!important;
			& > *{
				margin: 0 2.5px 9px 2.5px!important;
			}
			display: flex!important;
			flex-wrap: wrap!important;
		}

		&__choice{
			display: flex!important;
			flex-direction: row-reverse!important;
			align-items: center!important;

			border: none!important;
			background-color: $light!important;
			padding: 5px 5px!important;
			border-radius: 3px!important;
		}
		&__choice__remove{
			position: absolute!important;
			top: 0!important;
			bottom: unset!important;
			right: unset!important;
			left: 0!important;

			width: 100%!important;
			height: 100%!important;
			padding: 0!important;
			border: none!important;

			font-size: 0!important;
			color: transparent!important;

			background-color: transparent!important;
			border-radius: 0!important;
		}
		&__choice__display{
			display: inline-flex!important;
			align-items: center!important;

			padding: 0!important;
			margin: 0!important;
			font-family: $mono!important;
			font-size: inherit!important;
			line-height: (18/15) !important;

			color: $dark!important;

			&:after{
				flex-shrink: 0;
				content: '' !important;
				display: inline-block;
				vertical-align: baseline;
				@include mt();
				width: 8px;
				height: 8px;
				margin-left: 6px;

				background-image: url(../img/svg/sm-cross2.svg);
			}
		}
	}

	.select2-container--default.select2-container--focus{
		.select2-search{
			display: inline-block!important;
		}
		.select2-search__field{
			margin: 5px!important;
			height: 30px!important;
		}
	}
	.select2-search{
		display: none!important;
		.select2-search__field{
			margin: 0!important;
			height: 0px!important;

			line-height: 30px!important;
			padding: 0 5px!important;

			font-size: inherit!important;
			font-family: $mono!important;

			//padding: 5px!important;
		}
	}

	//placeholder
	.select2-selection__placeholder{
		color: $body-color!important;
	}
}

//
.modal-load{
	font-family: $mono;
	font-size: 15px;
	line-height: 1.5;

	&__title{
		font-weight: 500;
		font-size: 16px;
		color: $headings-color;

		margin-bottom: rem(24);
	}
	&__descr{
		margin-bottom: 24px;
	}
	&__name{
		line-height: (18/15);
		color: $gray-600;
		margin-bottom: rem(24);
	}
	&__btn{
		min-width: 205px;
		border-radius: 60px;
		font-size: 15px;
		line-height: (18/15);
		padding: 9px 20px;

		&--load{
			@extend .btn;
			@extend .btn-outline-primary;
		}
		&--save{
			@extend .green-btn;
			padding: 11px 20px;
		}
	}

	//
	&__btns-row{
		--bs-gutter-y: 12px;

		--bs-gutter-x: 12px;
		@include media-breakpoint-up(md){
			--bs-gutter-x: 24px;
		}
	}
	&__btn-sm{
		@extend .btn-gray-blue;
		min-width: 100px;
	}
	&__btn-big{
		@extend .btn-gray-blue;
		min-width: 100%;
	}
	&__{}
}