.modal-win {
	width: 100%;
	position: relative;
	max-width: 558px!important;

	padding: 48px!important;
	border-radius: 5px;

	.fancybox-button.fancybox-close-small{
		padding: 0!important;
		width: 18px!important;
		height: 18px!important;
		top: 24px!important;
		right: 24px!important;

		background-image: url(../img/svg/modal-cross.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;


		svg{
			display: none;
		}
	}

	&.modal-new{
		.fancybox-button.fancybox-close-small{
			@include media-breakpoint-down(md){
				width: 30px!important;
				height: 30px!important;

				top: 30px!important;
				right: 30px!important;
			}
		}
	}
}

//
.modal-callback{
	.form-wrap{
		&__hedline{
			font-weight: 600;
			font-size: 20px;
			@media (max-width: 576px){
				font-size: 24px;
			}

			line-height: 1.25;
			color: $headings-color;
			margin-bottom: 24px;
		}
		&__data{
			padding: 24px 0;
			border-top:  1px solid $gary-110;
			border-bottom:  1px solid $gary-110;
			margin-bottom: 24px;
		}
		&__d-row{
			@include roww(24px);
			--bs-gutter-y: 24px;
		}
		&__img{
			display: block;
			width: 68px;
			height: 68px;
			border-radius: 50%;
			overflow: hidden;

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__name{
			font-weight: 600;
			line-height: 1.25;
			color: $headings-color;
			margin-bottom: 6px;
		}
		&__short-info{
			line-height: 1.25;
			color: $headings-color;
			margin-bottom: 6px;
		}
		&__mail{
			line-height: 1.25;
			color: $gray-600;
		}
		//
		&__input-title{
			display: block;
			font-weight: 600;
			color: $headings-color;

			@media (max-width: 576px){
				font-size: 28px;
			}
			font-size: 14px;
			margin-bottom: 14px;
		}
		&__input-wrap{
			margin-bottom: 36px;
			textarea{
				height: 96px;
				@media (max-width: 576px){
					height: 120px;
				}
				padding: 10px;
			}
		}
		&__input{
			@media (max-width: 576px){
				font-size: 18px;
			}
			font-size: 14px;
			padding: 14px 10px;

			&:focus{
				box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);
			}
		}
		&__btn{
			@extend .green-btn;
			padding: 14px 20px;
			min-width: 220px;
			font-size: inherit;
		}
		&__{}
		&__{}
	}

	&__{}
}

.modal-contacts{
	&__title{
		font-weight: 600;
		font-size: 20px;
		@media (max-width: 576px){
			font-size: 24px;
		}
		color: $headings-color;
		margin-bottom: 40px;
	}

	&__items{}
	&__item{
		margin-bottom: 19px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__i-title{
		font-weight: 600;
		font-size: 16px;
		@media (max-width: 576px){
			font-size: 20px;
		}

		line-height: (19/16);
		color: $headings-color;
		margin-bottom: 8px;
	}
	&__link{
		display: block;
		font-size: 16px;
		@media (max-width: 576px){
			font-size: 20px;
		}

		line-height: (19/16);

		color: $headings-color;
		&:hover{
			color: $headings-color;
		}
	}
	&__{}
}

//
.modal-city{
	font-family: $default-font;

	&__title{
		font-weight: 600;
		font-size: 16px;
		@media (max-width: 576px){
			font-size: 20px;
		}
		line-height: 1.25;
		color: $headings-color;

		margin-bottom: 24px;
	}
	.form-wrap{
		&__input-wrap{
			position: relative;
			margin-bottom: 24px;

			input:focus + .form-wrap__cross-btn{
				opacity: 1;
			}
		}
		&__input{
			font-family: $default-font;
			padding: 15px 11px;
			&--soc{
				padding-left: 48px;
			}

			@media (max-width: 576px){
				font-size: 18px;
			}
			font-size: 14px;
			line-height: (16/14);
			//color: #888C94;
			@include placeholder(){
				color: $gray-600;
			}

			&:focus{
				border-color: $cyan!important;
			}
		}

		&__cross-btn{
			@include mt();
			@extend .btn;
			opacity: 0;

			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			padding: 15px 12px;
			width: 42px;
			height: 48px;

			background-image: url(../img/svg/modal-cross.svg);
			background-size: 18px;
			@media (max-width: 576px){
				background-size: 24px;
			}
			background-repeat: no-repeat;
			background-position: 50%;
		}

		&__soc-icon{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 12px;
			width: 24px;
			height: 24px;

			display: flex;
			align-items: center;
			justify-content: center;

			.icon{
				font-size: 24px;

			}
		}
		&__results{
			ul{
				list-style: none;
				padding: 0;
				margin: 0;

				max-height: 348px;
				overflow-y: auto;
				@extend .custom-scroll2;

				li{

				}
				a{
					display: block;
					font-size: 14px;
					@media (max-width: 576px){
						font-size: 18px;
					}
					line-height: 2.25;

					color: $headings-color;
					&:hover{
						color: $primary;
					}

					&.current{
						font-weight: 600;
					}
				}
			}
		}
		&__btns-row{
			@include roww(24px);
			--bs-gutter-y: 24px;
		}
		&__discard-btn{
			@extend .btn-light-default;
			font-family: $mono;

			font-weight: 500;
			font-size: inherit;
			line-height: (18/15);
			color: $headings-color;
		}
		&__save-btn{
			@extend .btn-default;
			font-family: $mono;

			font-weight: 500;
			font-size: inherit;
			line-height: (18/15);
			color: $headings-color;

			border-radius: 50px;
			padding: 11px 24px;
		}

		//
		&__{}
	}


	//--new
	&--new{
		padding: 0!important;

		border-radius: 0!important;
		--modal-x-padd: 30px;
		height: calc(var(--vh, 1vh) * 100);
		width: 100vw!important;
		max-width: 100vw!important;
		@include media-breakpoint-up(md){
			border-radius: 12px!important;
			--modal-x-padd: 48px;
			height: calc(var(--vh, 1vh) * 100 - 48px * 2);
			width: 558px!important;
		}
	}
	//spining
	.form-wrap__input-wrap.spining{
		position: relative;
		&:after{
			pointer-events: none;
			content: '';
			position: absolute;
			z-index: 2;
			right: 12px;

			top: calc(50% - 12px);
			width: 24px;
			height: 24px;
			@include media-breakpoint-up(md){
				top: calc(50% - 10px);
				width: 20px;
				height: 20px;
			}

			background-image: url(../img/svg/spining.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			//
			animation: spining 1.2s linear infinite;
		}

		.form-wrap__cross-btn{
			display: none;
		}
	}

	&__top-box{
		padding: 30px var(--modal-x-padd);
		@include media-breakpoint-up(md){
			padding: 48px var(--modal-x-padd) 24px;
		}

		border-bottom: 1px solid $gray-210;
	}
	&__title-alt{
		font-weight: 600;
		line-height: 1.25;

		font-size: 30px;
		margin-bottom: 24px;
    @include media-breakpoint-up(md){
			font-size: 24px;
			margin-bottom: 20px;
		}
	}
	&__content-box{
		overflow-y: auto;

		@extend .custom-scroll2;
		--track-bg: #{$gray-100};
		--thumb-bg: #{$gray-210};

		margin: 30px var(--modal-x-padd) 18px;
		height: calc(var(--vh, 1vh) * 100 - var(--top-box-h, 195px) - 30px - 18px);
		@include media-breakpoint-up(md){
			margin: 24px var(--modal-x-padd) 12px;
			height: calc(var(--vh, 1vh) * 100 - 48px * 2 - var(--top-box-h, 195px) - 24px - 12px);
		}
		@include media-breakpoint-up(xl){
			margin: 24px var(--modal-x-padd) 24px;
			height: calc(var(--vh, 1vh) * 100 - 48px * 2 - var(--top-box-h, 195px) - 24px * 2);
		}

		padding-right: 12px!important;
		margin-right: 14px!important;
	}

	//c-row
	&__c-top-row{
		--bs-gutter-x: 24px;
		--bs-gutter-y: 24px;

		padding-bottom: 48px;
		@include media-breakpoint-up(md){
			padding-bottom: 36px;
		}
	}
	&__popular{
		display: block;
		color: $headings-color;
		&:hover{
			color: $primary;
		}

		font-weight: 600;
		font-size: 26px;
		@include media-breakpoint-up(md){
			font-size: 18px;
		}

		line-height: 1.25;
	}
	&__all-btn{
		@extend .btn;
		@extend .btn-primary;

		font-weight: 600;
		font-size: inherit;
		line-height: 1.25;
		color: $white!important;

		padding: 10px 20px;
		border-radius: 6px;
	}
	&__ct-main-row{
		--bs-gutter-x: 24px;
	}
	&__item{
		padding-bottom: 30px;
		@include media-breakpoint-up(md){
			padding-bottom: 24px;
		}

		&:last-child{
			padding-bottom: 0;
		}
	}
	&__ct-row{
		--bs-gutter-x: 20px;
		--bs-gutter-y: 12px;
	}
	&__letter-col{
		@include media-breakpoint-up(md){
			min-width: calc(16px + var(--bs-gutter-x));
		}
	}
	&__letter{
		font-weight: 600;
		color: $gray-600;

		font-size: 26px;
		line-height: (31/26);
		@include media-breakpoint-up(md){
			font-size: 18px;
			line-height: (21/18);
		}
	}
	&__ct-sub-row{
		--bs-gutter-x: 12px;
		--bs-gutter-y: 12px;
		@include media-breakpoint-up(md){
			--bs-gutter-x: 20px;
			--bs-gutter-y: 8px;
		}
	}
	&__city{
		display: block;

		color: $headings-color;
		&:hover{
			color: $primary;
		}

		&.bold{
			font-weight: 600;
		}
	}

	//
	.ct-ancors{
		&__items{
			transform: translateY(-10px);
			top: 0!important;
		}
	}
	&__{}
	&__{}
}
//

.custom-modal{
	&:before{
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(1px);
		filter: blur(0px);
		opacity: 0;
		transition: all 0s ease-in-out 0s;
	}

	--content-bg: #{darken($white, 1)};
	//
	--content-pad: 24px 34px;
	@include media-breakpoint-up(md){
		--content-pad: 30px 38px;
	}
	--content-width: 100%;
	@include media-breakpoint-up(xl){
		--content-width: 851px;
		--content-pad: 40px 48px;
	}
	@include media-breakpoint-up(xxl){
		--content-pad: 50px 72px;
	}

	&.no-blur{
		&:before{
			backdrop-filter: blur(0px);
		}
	}
	&--sm{
		--content-bg: #{$white};
		--content-pad: 0!important;
		--close-top: 24px;
		--close-right: 24px;

		--content-width: 100%;
		@include media-breakpoint-up(md){
			--content-width: 584px;
		}
		@include media-breakpoint-up(xl){
			--content-width: 584px;
		}

		//cross-btn
	}

	@include mt(1);
	background-clip: padding-box;
	right: 0;
	left: var(--pos, 105%);
	visibility: var(--vis, hidden);
	&.active{
		--pos: 0;
		--vis: visible;
		@include mt(.4);
		display: block;
		&:before{
			filter: blur(2px);
			opacity: 1;
			transition: all .4s ease-in-out .4s;
		}
	}

	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;


	&__inner{
		width: 100%;
		height: 100%;
		display: flex;
	}
	&__close{
		//@include mt($smooth);
		//opacity: var(--close-bl-o, 1);
		//background-color: rgba($headings-color, .24);
		flex-grow: 1;
	}
	&__content{
		height: 100%;
		overflow-y: auto;
		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);

		position: relative;

		background: var(--content-bg);
		padding: var(--content-pad);
		width: var(--content-width);
		margin-left: auto;
	}

	//
	&__cross-btn{
    cursor: pointer;
		position: absolute;
		top: var(--close-top, 24px);
		right: var(--close-right, 48px);

		.icon{
			@media (max-width: 576px){
				font-size: 30px;
			}
			font-size: 24px;
			color: $secondary;
		}
	}

	//
	.form-wrap{
		textarea{
			height: 80px;
			&.double{
				height: 160px;
			}
		}
		&__main-title{
			font-weight: 600;
			font-size: 24px;
			line-height: (29/24);
			margin-bottom: 48px;
		}
		&__input-wrap{
			padding-bottom: 24px;

			& > *{
				margin-bottom: 18px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		//title-wrap
		&__title-wrap{
			& > *{
				margin-bottom: 12px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		//
		&__title-col{
			min-width: 106px;
		}
		&__title{
			font-weight: 500;
		}
		&__secondary{
			color: $secondary;
		}
		//
		&__inp-row{
			@include roww(18px);
			@include media-breakpoint-up(md){
				@include roww(24px);
			}

			--bs-gutter-y: 18px;
		}
		&__two-title{
			font-weight: 500;
			//font-size: 15px;
			//line-height: (18/15);
			//color: $headings-color;
		}
		&__input{
			width: 100%;
			font-size: inherit;

			padding: 10px;
			border-radius: 5px;
		}

		.custom-select{
			min-width: 80px;
		}
		&__{}
		&__{}
		//footer
		&__foot-row{
			justify-content: flex-end;
			padding-top: 24px;

			@include roww(18px);
			@include media-breakpoint-up(md){
				@include roww(24px);
			}
		}
		&__cancel-btn{
			@extend .btn;
			@extend .btn-light;
			border-radius: 60px;

			padding: 10px 23px;
			@media (max-width: 576px){
				padding: 10px 11px;
			}

			font-weight: 500;
			font-size: inherit;
			line-height: (18/15);
		}
		&__save-btn{
			@extend .btn-default;
			border-radius: 60px;

			padding: 10px 23px;
			@media (max-width: 576px){
				padding: 10px 11px;
			}

			font-weight: 500;
			font-size: inherit;
			line-height: (18/15);
		}
		.skill-select{
			.select2-search{
				//display: block!important;
				//
				//&__field{
				//	margin-left: 10px!important;
				//}
			}
		}

		//repeater
		&__repeater{

		}
		&__r-item{

		}
		//
		&__remove-item{
			border-bottom: 1px solid $gray-210;
			margin-bottom: 48px;
		}
		&__r-btn{
			cursor: pointer;

			display: flex;
			align-items: center;

			--icon-color: #{$gray-550};
			--ball-bg: #{$gray-100};
			--txt-color: #{$headings-color};
			&:hover{
				--icon-color: #{$white};
				--ball-bg: #{$warning};
				--txt-color: #{$warning};
			}

			padding-bottom: 24px;
		}
		&__r-ball{
			@include mt($smooth);
			width: 24px;
			height: 24px;
			flex-shrink: 0;
			border-radius: 50%;

			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--ball-bg, #{$light});

			.icon{
				@include mt();
				font-size: 10px;
				color: var(--icon-color);
			}

			margin-right: 12px;
		}
		&__ri-txt{
			font-size: inherit;
			line-height: 1.25;
			color: var(--txt-color, #{$headings-color});
		}
		&__r-add-btn{
			@extend .btn;
			@extend .btn-outline-primary;

			//color: ;
			border-radius: 60px;
			padding: 10px 23px;

			color: $primary!important;
			&:hover{
				color: $white!important;
			}
		}

		//
		&__r-hint{
			display: none;
			&.active{
				display: block;
			}
		}

		//
		&__chb-txt{

		}
		&__{}
		&__{}
		&__{}
	}

	&__{}

	.custom-select{
		@media (max-width: 576px){
			.select2-selection{
				--select-h: 48px;
			}
			.select2.select2-container.select2-container--default{
				height: 48px!important;
			}
			.select2-selection__rendered{
				display: flex!important;
				align-items: center!important;
				--rendered-fs: 18px;
			}
		}
	}

}

//multiple select alt
.multiple-select{
	width: 100%;
	height: 100%;

	.select2.select2-container.select2-container--default{
		width: 100% !important;
	}

	*{
		font-family: $default-font!important;
		font-weight: 400!important;
		font-size: inherit!important;
		line-height: (18/15);
		white-space: normal!important;
	}

	.select2-selection.select2-selection--multiple{
		min-height: rem(40px);
		padding: 0px!important;
		border-radius: rem(5px)!important;
		@include mt();
		width: 100%!important;
		height: 100%!important;

		border: 1px solid $input-border-color!important;

		background-color: $white!important;
		background-image: url(../img/svg/chevron-down.svg) !important;
		background-position-x: calc(100% - 12px)!important;
		background-position-y: center!important;
		background-repeat: no-repeat!important;
	}
	.select2-selection.select2-selection--multiple.select2-container--open{
		border: 1px solid $input-focus-border-color!important;
	}

	.select2-selection{
		background-color: transparent!important;
		width: 100%!important;
		height: 100% !important;

		&__rendered{
			margin: 0 0 rem(-10px)!important;
			padding: rem(4px) rem(24px) rem(4px) rem(5px)!important;
			& > *{
				margin: 0 rem(2.5px) rem(9px) rem(2.5px)!important;
			}
			display: flex!important;
			flex-wrap: wrap!important;
		}

		&__choice{
			display: flex!important;
			flex-direction: row-reverse!important;
			align-items: center!important;

			border: none!important;
			background-color: $light!important;
			padding: rem(5px) rem(5px)!important;
			border-radius: rem(3px)!important;
		}
		&__choice__remove{
			position: absolute!important;
			top: 0!important;
			bottom: unset!important;
			right: unset!important;
			left: 0!important;

			width: 100%!important;
			height: 100%!important;
			padding: 0!important;
			border: none!important;

			font-size: 0!important;
			color: transparent!important;

			background-color: transparent!important;
			border-radius: 0!important;
		}
		&__choice__display{
			display: inline-flex!important;
			align-items: center!important;

			padding: 0!important;
			margin: 0!important;
			font-family: $mono!important;
			font-size: inherit!important;
			line-height: (18/15) !important;

			color: $dark!important;

			&:after{
				flex-shrink: 0;
				content: '' !important;
				display: inline-block;
				vertical-align: baseline;
				@include mt();
				width: rem(8px);
				height: rem(8px);
				margin-left: 6px;

				background-image: url(../img/svg/sm-cross2.svg);
				background-size: 100%;
				background-repeat: no-repeat;
			}
		}
	}

	.select2-container--default.select2-container--focus{
		.select2-search{
			display: inline-block!important;
		}
		.select2-search__field{
			margin: rem(5px)!important;
			height: rem(30px)!important;
		}
	}
	.select2-search{
		display: none!important;
		.select2-search__field{
			margin: 0!important;
			height: 0px!important;

			line-height: rem(30px)!important;
			padding: 0 rem(5px)!important;

			font-size: inherit!important;
			font-family: $mono!important;

			//padding: 5px!important;
		}
	}

	//placeholder
	.select2-selection__placeholder{
		color: $body-color!important;
	}
}

//
.modal-load{
	font-family: $mono;
	font-size: 15px;
	line-height: 1.5;

	&__title{
		font-weight: 500;
		font-size: 16px;
		color: $headings-color;

		margin-bottom: rem(24);
	}
	&__descr{
		margin-bottom: 24px;
	}
	&__name{
		line-height: (18/15);
		color: $gray-600;
		margin-bottom: rem(24);
	}
	&__btn{
		min-width: 205px;
		border-radius: 60px;
		font-size: 15px;
		line-height: (18/15);
		padding: 9px 20px;

		&--load{
			@extend .btn;
			@extend .btn-outline-primary;
		}
		&--save{
			@extend .green-btn;
			padding: 11px 20px;
		}
	}

	//
	&__btns-row{
		--bs-gutter-y: 12px;

		--bs-gutter-x: 12px;
		@include media-breakpoint-up(md){
			--bs-gutter-x: 24px;
		}
	}
	&__btn-sm{
		@extend .btn-gray-blue;
		min-width: 100px;
	}
	&__btn-big{
		@extend .btn-gray-blue;
		min-width: 100%;
	}
	&__{}
}
//045
.modal-login{
	font-size: inherit;
	border-radius: 12px;

	padding: 48px!important;
	@include media-breakpoint-up(md){
		padding: 48px 45px!important;
	}

	&__ball{
		width: 100px;
		height: 100px;
		padding: 26px;
		margin-bottom: 24px;
		@include media-breakpoint-up(md){
			width: 50px;
			height: 50px;
			padding: 13px;
			margin-bottom: 20px;
		}

		margin-left: auto;
		margin-right: auto;
		background: $gray-100;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: 100%;
			height: auto;
			max-height: 100%;
		}
	}
	&__title{
		font-weight: 600;

		font-size: 30px;
		margin-bottom: 24px;
		@include media-breakpoint-up(md){
			font-size: 24px;
			margin-bottom: 12px;
		}
		line-height: 1.25;
	}
	&__descr{
		margin-bottom: 24px;
	}
	&__row{
		--bs-gutter-x: 20px;
		--bs-gutter-y: 12px;

		padding-bottom: 24px;
	}
	&__btn{
		min-width: 100%;
		@include media-breakpoint-up(md){
			min-width: 180px;
		}

		padding: 15px 20px;
		font-size: inherit;
		line-height: inherit;
		font-weight: bold;
		color: $white!important;

		&--green{
			@extend .green-btn;
		}
		&--blue{
			@extend .btn;
			@extend .btn-primary;
			border: none!important;
		}

	}
	&__already{
		font-size: 20px;
		@include media-breakpoint-up(md){
			font-size: 13.9px;
		}

		a{

		}
	}
	&__{}
	&__{}

}
//
.modal-cface{
	font-size: inherit;
	line-height: 1.25;
	border-radius: 12px;

	padding: 48px!important;

	&__face-txt{
    font-weight: 600;

    line-height: (28/24);
		margin-bottom: 8px;
		@include media-breakpoint-up(md){
			line-height: (19/16);
			margin-bottom: 12px;
		}

	}
	&__name{
		line-height: (28/24);
		margin-bottom: 12px;
		@include media-breakpoint-up(md){
			line-height: (19/16);
			margin-bottom: 6px;
		}
	}
	&__duty{
		font-size: 20px;
		margin-bottom: 24px;
		@include media-breakpoint-up(md){
			font-size: 14px;
			margin-bottom: 18px;
		}
		color: $gray-600;


	}
	&__number{
		display: block;
		font-weight: 600;
		color: $cyan;

		font-size: 36px;
		margin-bottom: 12px;
		@include media-breakpoint-up(md){
			font-size: 42px;
			margin-bottom: 4px;
		}
	}
	&__mail{
		display: inline-block;

		margin-bottom: 24px;
		color: $gray-600;
	}
	&__shedule-txt{
		font-weight: 600;

		line-height: (28/24);
		margin-bottom: 12px;
		@include media-breakpoint-up(md){
			line-height: (19/16);
			margin-bottom: 8px;
		}
	}
	&__shedule-val{
		font-size: 20px;
		@include media-breakpoint-up(md){
			font-size: 14px;
		}

		margin-bottom: 36px;
	}
	&__footer{
		border-top: 1px solid $gary-110;
		padding-top: 36px;
		font-size: 20px;
		@include media-breakpoint-up(md){
			padding-top: 24px;
			font-size: 14px;
		}
	}
	&__{}
	&__{}
}
//

.modal-complain{
	&__title{
    font-weight: 600;
    font-size: 30px;
		@include media-breakpoint-up(md){
			font-size: 24px;
		}

		margin-bottom: 24px;
  }

	&__radio-items{
		padding-bottom: 24px;

		.custom-radio{
			margin-bottom: 12px;
			@include media-breakpoint-up(md){
				margin-bottom: 18px;
			}
			&:last-child{
				margin-bottom: 0;
			}

			align-items: flex-start!important;

			.circle{
				width: 30px;
				height: 30px;
				margin-right: 12px;
				@include media-breakpoint-up(md){
					width: 24px;
					height: 24px;
					margin-right: 6px;
				}

				&:after{
					top: 50%;
					left: 50%;
					transform: translateY(-50%) translateX(-50%);

					width: 18px;
					height: 18px;
					@include media-breakpoint-up(md){
						width: 12px;
						height: 12px;
					}
				}
			}
			.txt{
				line-height: (30/24);
				@include media-breakpoint-up(md){
					line-height: (24/16);
				}
				font-size: inherit;
			}
		}


	}
	&__row{
		--bs-gutter-x: 20px;
		--bs-gutter-y: 12px;
	}
	&__btn{
		@extend .btn;

		min-width: 100%;
		@include media-breakpoint-up(md){
			min-width: 196px;
		}
		padding: 15px 24px;

		&--blue{
			@extend .btn-primary;
			color: $white!important;
			font-weight: 700;
		}
		&--gray{
			@extend .btn-light;

		}
	}
	//
	&__{}
	&__{}
}
//
.modal-checkbox{
	padding: 0!important;
	--modal-x-padd: 48px;
	border-radius: 12px!important;
	//height: calc(var(--vh, 1vh) * 100 - 120px) !important;

	--header-padd: 48px var(--modal-x-padd) 24px;
	--checkboxes-pad: 24px var(--modal-x-padd);
	&--inside-custom{
		height: calc(var(--vh, 1vh) * 100);
		--checkboxes-pad: 0;

		--modal-x-padd: 30px;
		--header-padd: 30px var(--modal-x-padd);
		@include media-breakpoint-up(md){
			--modal-x-padd: 48px;
			--header-padd: 24px var(--modal-x-padd);
			//--checkboxes-pad: 24px var(--modal-x-padd);
		}
		@include media-breakpoint-up(xxl){
			--header-padd: 48px var(--modal-x-padd);
			//--checkboxes-pad: 48px var(--modal-x-padd);
		}

		//
		.modal-checkbox__checkboxes{
			@extend .custom-scroll2;
			--track-bg: #{$gray-100};
			--thumb-bg: #{$gray-210};

			margin: 30px var(--modal-x-padd) 18px;
			@include media-breakpoint-up(md){
				margin: 24px var(--modal-x-padd) 12px;
			}
			@include media-breakpoint-up(xl){
				margin: 24px var(--modal-x-padd) 24px;
			}

			padding-right: 12px!important;
			margin-right: 14px!important;
		}
	}

	&__content{
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__header{
		padding: var(--header-padd);
		border-bottom: 1px solid $gray-210;

		font-weight: 600;
		font-size: 30px;
		@include media-breakpoint-up(md){
			font-size: 24px;
		}
		line-height: 1.25;
	}
	&__checkboxes{
		padding: var(--checkboxes-pad);
		flex-grow: 1;

		height: calc(var(--vh, 1vh) * 100 - 120px - 102px - 128px);
		min-height: 300px;
		overflow-y: auto;
	}

	//
	&__footer{
		border-top: 1px solid $gray-210;
		padding: 24px var(--modal-x-padd);
		border-bottom: 1px solid $gray-210;
	}
	&__chosen-txt{
		line-height: (18/15);
		margin-bottom: 24px;
	}
	&__btns-row{
		--bs-gutter-x: 12px;
		--bs-gutter-y: 12px;
	}
	&__btn{
		@extend .btn;
		border: none!important;
		font-size: inherit!important;
		border-radius: 60px;
		line-height: (18/15);
		font-weight: 500!important;
		min-width: 100%;
		padding: 11px 16px;

		&--gray{
			@extend .btn-light;
		}
		&--green{
			@extend .green-btn;
		}
	}
	//
	&__chb-cont{
		.custom-chb{
			@include mt();
			padding: 11px 12px;

			background: $white;
			&:hover{
				background: $gray-100;
			}

			border-radius: 5px;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}
	.custom-chb{
		.txt{
			font-size: inherit!important;
		}
	}
	&__letter{
		padding: 12px 32px;
		font-weight: 600;

		font-size: 24px;
		@include media-breakpoint-up(md){
			font-size: 20px;
		}
		line-height: 1.25;
	}

	//
	&__dd-item{
		&.active{
			& > .modal-checkbox__dd-head .modal-checkbox__dd-arrow{
				--arrow-rotate: rotate(0deg);
			}
		}
	}
	&__dd-arrow{
		@include mt();
		transform: rotate(var(--arrow-rotate, -90deg));

		content: '';
		display: inline-block;
		margin-right: 12px;
		width: 16px;
		height: 16px;
		@include media-breakpoint-up(md){
			margin-right: 10px;
			width: 12px;
			height: 12px;
		}

		background-image: url(../img/svg/chevron-down-sm.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__dd-head{
		cursor: pointer;
		@include mt();
		padding: 11px 12px;

		background: $white;
		&:hover{
			background: $gray-100;
		}
		border-radius: 5px;

		display: flex;
		align-items: center;

		.custom-chb{
			margin-left: auto;
			width: auto;
		}
	}

	.custom-chb{
		.square{
			margin-right: 0;
			&:after{
				@media (max-width: 576px){
					background-size: 16px;
				}
			}
		}
	}
	&__ddh-txt{

	}
	&__chb-cont{

	}
	&__dd-content{
		display: none;
		&.active{
			display: block;
		}
		padding-left: 18px;
	}
	&__{}
	&__{}
}