// start .sNow
.sNow {
	--sTPB: 30px;
	--sPT: 57px;
	@include media-breakpoint-up(md){
		--sPT: 57px;
	}
	--sPB: 0;
	@include media-breakpoint-up(xl){
		--sPT: 142px;
		--sPB: 143px;
	}

	.section-title{
		--aft-xm: auto;
		@include media-breakpoint-up(xl){
			--aft-xm: 0;
		}

		h2{
			letter-spacing: -0.2px;
		}
	}

	position: relative;
	z-index: 1;
	&__bg{
		overflow: hidden;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $gray-100;
	}
	&__ball {
		position: absolute;
		opacity: 0.5;

		&--1{
			background: radial-gradient(50% 50% at 50% 50%, #C4FBDC 0%, rgba(196, 251, 220, 0) 100%);
			width: 1101px;
			height: 1101px;

			left: -594px;
			top: -616px;
			@include media-breakpoint-up(md){
				left: -486px;
				top: -616px;
			}
			@include media-breakpoint-up(xl){
				left: -33px;
				top: -616px;
			}
		}
		&--2{
			background: radial-gradient(50% 50% at 50% 50%, #88DDFC 0%, rgba(136, 221, 252, 0) 100%);
			width: 1106px;
			height: 1113px;

			top: 158px;
			right: -805px;
			@include media-breakpoint-up(md){
				top: 146px;
				right: -850px;
			}
			@include media-breakpoint-up(xl){
				top: -69px;
				right: -243px;
			}
		}
	}

	&__container{
		position: relative;
		z-index: 1;
	}

	&__row{
		position: static;
		@include roww(24px);
	}
	&__descr{
		line-height: 1.75;
		margin-bottom: 39px;
	}
	&__btn{
		//@extend .btn-default;
		@extend .green-btn;

		font-weight: 600;
		font-size: 18px;
		padding: 21.5px 29px;
	}
	&__pic-col{
		margin-top: 57px;
		@include media-breakpoint-up(xl){
			margin-top: 0;
		}
	}
	&__img{
		display: flex;
		justify-content: center;
		@include media-breakpoint-up(xl){
			position: absolute;
			z-index: -1;
			bottom: calc(var(--sPB) * -1);
			right: 16px;
			height: calc(100% + var(--sPT) + var(--sPB) - 60px);
			max-width: 100%;
			justify-content: flex-end;
			align-items: flex-end;
		}

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sNow