// start .sCurriculum
.sCurriculum {
	//
	&__box{
		position: relative;
		background: $white;
		border: 1px solid $gray-210;
		border-radius: 5px;
		margin-bottom: 24px;

		padding: 33px;
		@include media-breakpoint-up(md){
			padding: 37px;
		}
		@include media-breakpoint-up(xlg){
			padding: 24px;
		}
		@include media-breakpoint-up(xl){
			padding: 36px;
		}
		@include media-breakpoint-between(xlg, xl){
			padding: 24px;
		}

		@include media-breakpoint-up(xxl){
			padding: 47px;
		}
	}
} // end.sCurriculum

.data-box{
	//margin-top: -6px;
	@include media-breakpoint-up(md){
		//margin-top: 0;
	}

	.edit-btn{
		@include media-breakpoint-up(md){
			position: absolute;
			top: 37px;
			right: 38px;
		}
		@include media-breakpoint-up(xlg){
			top: 20px;
			right: 20px;
		}

		@include media-breakpoint-between(xlg, xl){
			font-size: 13px;
			.icon{
				font-size: 18px;
				margin-right: 8px;
			}
		}
		@include media-breakpoint-up(xl){
			top: 24px;
			right: 24px;
		}
		@include media-breakpoint-up(xxl){
			top: 47px;
			right: 49px;
		}

		@extend .edit-btn-frame;
	}
	&__row{
		@include roww(0);
		@include media-breakpoint-up(xl){
			@include roww(36px);
		}
		@include media-breakpoint-up(xxl){
			@include roww(48px);
		}
		@include media-breakpoint-up(base){
			@include roww(96px);
		}
	}
	&__img-col{
		margin-bottom: 38px;
		padding-bottom: 38px;
		@include media-breakpoint-up(md){
			margin-bottom: 24px;
			padding-bottom: 23px;
		}
		border-bottom: 1px solid $gray-210;
		@include media-breakpoint-up(xl){
			border-bottom: none;
			border-right: 1px solid $gray-210;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		display: flex;
		align-items: center;
	}
	&__sub-row{
		@include roww(34px);
		@include media-breakpoint-up(md){
			@include roww(24px);
		}
		@include media-breakpoint-up(xl){
			@include roww(0);
		}
	}
	&__img{
		width: 104px;
		height: 104px;
		@include media-breakpoint-up(md){
			width: 124px;
			height: 124px;
		}
		@include media-breakpoint-up(xl){
			width: 150px;
			height: 150px;
		}
		@include media-breakpoint-up(base){
			width: 243px;
			height: 243px;

			//margin-top: -20px;
		}
		border-radius: 50%;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__name{
		font-weight: 500;
		font-size: 20px;
		@include media-breakpoint-between(xlg, xl){
			font-size: 18px;
		}
		line-height: 1.5;

		@include media-breakpoint-up(md){
			max-width: calc(100% - 140px);
		}
		@include media-breakpoint-up(xl){
			max-width: calc(100% - 155px);
		}
	}
	&__data-items{

	}
	//data-item
	&__data-item{
		padding-bottom: 18px;
		@include media-breakpoint-up(md){
			padding-bottom: 24px;
		}

		&:last-child{
			padding-bottom: 0;
		}
	}
	&__key-col{
		width: 48%;
		@include media-breakpoint-up(md){
			width: 50%;
		}
		@include media-breakpoint-up(xxl){
			width: 218px;
		}

		font-weight: 500;
		color: $secondary;
	}
	&__val-col{

	}
	&__{}
	&__{}
}

.add-box{

	&__title{
		font-weight: 500;
		font-size: 20px;
		@include media-breakpoint-between(xlg, xl){
			font-size: 18px;
		}
		line-height: 1.5;

		margin-bottom: 15px;
		@include media-breakpoint-up(md){
			margin-bottom: 24px;
		}
	}
	&__descr{
		//font-size: 15px;
		line-height: 1.6;

		margin-bottom: 34px;
		@include media-breakpoint-up(md){
			margin-bottom: 38px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 46px;
		}
	}
	&__row{
		@include roww(12px);
		--bs-gutter-y: 12px;
	}
	&__col{

	}
	&__item{
		@include mt();
		min-height: 100%;
		background: $white;

		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.1);
		&:hover{
			box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.2);
		}

		display: block;
		text-align: center;
		padding: 29px 17px;
		@include media-breakpoint-up(md){
			display: flex;
			align-items: center;
			border-radius: 60px;
			text-align: left;
			padding: 12px 24px;
		}
		@include media-breakpoint-up(xlg){
			padding: 8px 16px;
		}
		@include media-breakpoint-up(xl){
			padding: 9px 18px;
		}
		@include media-breakpoint-up(xxl){
			padding: 12px 24px;
		}
	}
	&__img{
		//width: 34px;
		//height: 34px;
		width: 24px;
		height: 24px;
		margin: 0 auto 18px auto;
		@include media-breakpoint-up(md){
			width: 24px;
			height: 24px;
			margin: 0 12px 0 0;
		}

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__txt{
		font-weight: 500;
		line-height: 1.5;

		@include media-breakpoint-between(xlg, xl){
			font-size: 13px;
		}
		@include media-breakpoint-between(xl, xxl){
			font-size: 14px;
		}
		.black{
			color: $headings-color;
		}
		.blue{
			margin-left: 4px;
			color: $primary;
		}
	}
	&__{}
	&__{}
}

.complete-box{
	@include media-breakpoint-down(md){
		//padding-top: 30px;
	}
	&__title{
		font-weight: 500;

		font-size: 20px;
		@include media-breakpoint-between(xlg, xl){
			font-size: 18px;
		}

		line-height: 1.5;
		margin-bottom: 16px;
	}
	&__descr{
		line-height: 1.55;
		margin-bottom: 18px;
		@include media-breakpoint-up(md){
			line-height: 1.5;
			margin-bottom: 24px;
		}
	}

	.complete-strip{
		margin-bottom: 2px;
	}
}

.complete-strip{
	position: relative;
	background: $white;
	border: 1px solid $gray-210;
	border-radius: 60px;
	height: 40px;
	padding: 3px;

	&__line-cont{
		height: 100%;
		overflow: hidden;
		position: relative;
		border-radius: 60px;
	}
	&__line{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(86.99deg, $green 0.21%, $cyan 99.92%), $white;
	}
	&__number{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-weight: 500;
	}
}

//
.hint-row{
	@include roww(5px);
	position: relative;
	z-index: 20;

	&__title{
		font-weight: 500;
	}
	&__quest-sign{
		@include mt();
		width: 18px;
		height: 18px;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		background: $gray-210;
		--hint-scale: 0;
		&:hover{
			background: $primary;
			--hint-scale: 1;
			.icon{
				color: $white;
			}
		}
		.icon{
			@include mt();
			font-size: 10px;
			color: $gray-550;

			position: relative;
			left: 0px;
		}
	}
	&__hint-cont{
		position: absolute;
		@include mt();
		transform: scaleY(var(--hint-scale));
		transform-origin: top left;
		z-index: 99;
		left: 0;
		top: 100%;
		padding-top: 12px;
	}
	&__hint{
		position: relative;
		z-index: 1;
		background: $white;
		border: 1px solid $gray-210;
		border-radius: 5px;

		padding: 12px;

		&:before,
		&:after{
			content: '';
			position: absolute;
			bottom: calc(100% - 0px);
			transform: translateX(-50%);

			width: 0;
			height: 0;
			//left: var(--hint-left,79%);
			//@media (min-width: 1920px) {
			//	left: var(--hint-left,66%);
			//}
			left: 191px;
			border-style: solid;
		}
		&:before{
			z-index: 1;
			border-width: 0 7.5px 9px 7.5px;
			border-color: transparent transparent $gray-210 transparent;
		}
		&:after{
			z-index: 2;
			border-width: 0 6.5px 8px 6.5px;
			border-color: transparent transparent $white transparent;
		}
	}
	&__{}
}

.cv-soc{

	&__row{
		@include roww(6px);
	}
	&__item{
		@include mt();
		width: 24px;
		height: 24px;

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}

		&:hover{
			transform: scale(1.1);
		}
	}

	&__{}
}

.edit-btn-frame{
	display: flex;
	align-items: center;

	font-weight: 500;
	font-size: 15px;

	color: $secondary;
	&:hover{
		color: $primary;
	}

	.icon{
		font-size: 24px;
		margin-right: 12px;
		color: currentColor;
	}
	span{
		color: currentColor;
	}
}

//
.table-box{
	&__header-row{
		padding-bottom: 48px;
		@include media-breakpoint-between(xlg, xl){
			padding-bottom: 24px;
		}
		@include media-breakpoint-between(xl, xxl){
			padding-bottom: 36px;
		}
	}
	&__title-row{
		@include roww(12px);
	}
	&__img{
		width: 30px;
		height: 30px;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
	&__h-title{
    font-weight: 500;
    font-size: 20px;
		@include media-breakpoint-between(xlg, xl){
			font-size: 18px;
		}

    line-height: 1.5;
	}
	//.edit-btn
	.edit-btn{
		@extend .edit-btn-frame;
	}
	&__table{

	}
	&__t-row{
		@include roww(0);
		min-height: 63px;
		padding: 16px 0;
		border-bottom: 1px solid $gray-100;

		&:last-child{
			border-bottom: none;
		}
	}
	&__title{
		font-weight: 500;
		color: $secondary;
	}
	&__sub-row{
		@include roww(6px);
	}
	&__txt-val{
		&:before{
			width: 10px;
			height: 10px;
			flex-shrink: 0;
			display: inline-block;
			margin-right: 6px;

			background-image: url(../img/svg/check-sm.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&--check{
			display: inline-flex;
			align-items: center;

			&:before{
				content: '';
			}
		}
	}
	//
	&__plate{
		@extend .btn;
		@extend .btn-light;
		pointer-events: none;
		border-radius: 60px;
		padding: 5px 11px;

		font-size: 15px;
		@include media-breakpoint-between(xlg, xl){
			font-size: 13px;
		}

		line-height: (18/15);
		color: $headings-color;
		font-family: $mono;

		//
		&:before{
			flex-shrink: 0;
			width: 10px;
			height: 10px;
			display: inline-block;
			margin-right: 6px;

			background-image: url(../img/svg/check-sm.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&--check{
			display: inline-flex;
			align-items: center;

			&:before{
				content: '';
			}
		}
	}
	&__about-txt{
    line-height: 1.5;
	}
	&__ball{
		@extend .btn;
		@extend .btn-light;
		border-radius: 60px;
		min-width: 30px;
		min-height: 30px;
		padding: 3px;
		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 15px;
		line-height: (18/15);
		color: $headings-color;
		font-family: $mono;
	}

	&__event-item{
		display: flex;
		align-items: center;

		border-bottom: 1px solid $gray-100;
		padding-bottom: 21px;
		margin-bottom: 21px;

		&:last-child{
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}

		&:before{
			content: '';
			flex-shrink: 0;
			width: 10px;
			height: 10px;
			display: inline-block;
			margin-right: 6px;

			background-image: url(../img/svg/check-sm.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	&__{}
}

//
.exp-item{
	padding-bottom: 24px;
	border-bottom: 1px solid $light;
	margin-bottom: 24px;
	&:last-child{
		padding-bottom: 0;
		border-bottom: none;
		margin-bottom: 0;
	}

	&__row{
		--bs-gutter-y: 12px;
		@include roww(12px);
	}
	&__plate{
		@extend .btn;
		@extend .btn-light;
		border-radius: 60px;
		padding: 5px 11px;
		pointer-events: none;

		font-size: 15px;
		@include media-breakpoint-between(xlg, xl){
			font-size: 13px;
		}

		line-height: (18/15);
		color: $headings-color;
		font-family: $mono;
	}
	&__place{
		font-weight: 500;
		color: $secondary;
	}
	&__secondary{
		color: $secondary;
	}
	&__regular{
		line-height: 1.5;
	}

	//
	&__{}
	&__{}
}

.cv-skills{
	&__row{
		@include roww(6px);
	}
	&__cv-skill{
		cursor: default;
		pointer-events: none;
		@extend .btn;
		@extend .btn-light;
		padding: 5px 11px;

		font-size: 15px;
		@include media-breakpoint-between(xlg, xl){
			font-size: 13px;
		}

		line-height: (18/15);
		color: $headings-color;
		font-family: $mono;
	}
}