mixin sVacPage(data)
	// start sVacPage
	+b.SECTION.sVacPage.section#sVacPage&attributes(attributes)
		.container
			block
			+b.section-title
				h1 Врач стоматолог-терапевт
				+e.salary з/п: 30 000-35 000 ₽
			+e.row.row
				.col-12.col-xl-9
					//-
					+e.header
						+e.header-row.row.align-items-center
							.col-md-auto
								+e.logo
									img(loading="lazy" src="img/@2x/company-logo-3.png" alt="")
							.col-md
								+e.name ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург
								+e.city г. Санкт-Петербург, пр. Мечникова, д.27
					//-
					+shortData('d-xl-none mb-24')
					+e.UL.striped-ul
						li
							strong Опыт работы:&nbsp;
							span от 1 до 3 лет
						li
							strong Тип занятости:&nbsp;
							span Полная
						li
							strong График:&nbsp;
							span Полный день
					h5 Обязанности:
					ul
						li Терапевтический приём пациентов отделения стоматологии;
						li Оказание квалифицированной медицинской помощи пациентам, используя современные методы профилактики, диагностики, лечения;
						li Ведение установленной медицинской документации;
						li Проведение санитарно-просветительской работы среди больных по укреплению здоровья и профилактике заболеваний, пропаганде здорового образа жизни;
						li Обеспечение соблюдения требований охраны труда, техники безопасности, гигиены труда, противопожарной безопасности при эксплуатации помещений, оборудования и аппаратуры, используемой в стоматологической практике.
					h5 Требования:
					ul
						li Высшее медицинское образование;
						li Наличие действующего сертификата "Стоматология терапевтическая";
						li Ведение установленной медицинской документации;
						li Опыт работы по специальности;
						li Все виды терапевтического лечения;
					h5 Условия:
					ul
						li Официальное оформление по ТК РФ;
						li Полный соц.пакет;
						li Получение медицинских услуг в клиниках на льготных условиях.
					h5 Навыки:
					+e.skill-row.row
						.col-auto
							+e.sk-btn Умный
						.col-auto
							+e.sk-btn Усидчевый
					h5 Фотографии
					+galeryRow()
					h5 Расположение на карте
					+e.map
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa24858180c70500d85f43cf6f43344f955abbaae44d7b9c6bf32f8e46d75746d&amp;width=868&amp;height=554&amp;lang=ru_RU&amp;scroll=false"></script>
					h5 Похожие вакансии:
					//-+e.small-title Похожие вакансии:
					+b.organ--vac
						+vacancyItem({
							dataFancy: 'jobGalery1',
							imgsNumArr: [3, 1, 4],
							logo: true,
							update: true,
							prof: 'Врач-терапевт стационар',
							orgName: 'ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург',
							city: 'г. Санкт-Петербург',
							descr: 'Получает информацию о заболевании. Применяет объективные методы обследования больного. Выявляет общие и специфические признаки заболевания. Выполняет перечень работ и услуг. Высшее профильное образование.',
							salary: '30 000-35 000 ₽',
						})
						+vacancyItem({
							dataFancy: 'jobGalery1',
							imgsNumArr: [3, 1, 4],
							logo: true,
							update: true,
							prof: 'Врач-терапевт стационар',
							orgName: 'ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург',
							city: 'г. Санкт-Петербург',
							descr: 'Получает информацию о заболевании. Применяет объективные методы обследования больного. Выявляет общие и специфические признаки заболевания. Выполняет перечень работ и услуг. Высшее профильное образование.',
							salary: '30 000-35 000 ₽',
						})
				.col-xl-3.d-none.d-xl-block
					+shortData()
	// end sVacPage
mixin shortData(addClasses='')
	+b.st-data(class=addClasses)
		+e.top-row.row.justify-content-center.align-items-center
			+e.btn-col.col-6.col-xl-12
				+e.call-btn(href="#") Откликнуться
			+e.btn-col.col-6.col-xl-12
				+e.show-btn.mb-xl-12(href="#") Показать контакты
			.col-auto.col-xl-12
				//class active
				+e.to-chosen.mb-xl-12(href='#')
					+icon('heart')
					+e.tc-txt В избранное
			.col-auto.col-xl-12
				+e.gray Размещено: 04.02.2021
			.col-auto.col-xl-12
				+e.gray Обновлено: 04.02.2021

mixin galeryRow()
	+b.galery-row.row
		+galeryItem(1)
		+galeryItem(2)
		+galeryItem(3)
		+galeryItem(3)
		+galeryItem(4)
		+galeryItem(1)

mixin galeryItem(imgNum)
	.col-6.col-md-4
		+e.g-item(href=`img/@2x/stab-${imgNum}.jpg` data-fancybox='jobGalery')
			img(loading="lazy" src=`img/@2x/stab-${imgNum}.jpg` alt="")

