mixin sVacPage(data)
	// start sVacPage
	+b.SECTION.sVacPage.section#sVacPage&attributes(attributes)
		.container
			block
			+b.section-title
				h1 Врач стоматолог-терапевт
				+e.salary з/п: 30 000-35 000 ₽
			+e.row.row
				.col-12.col-xl-9
					//-
					//-+e.header
						+e.header-row.row.align-items-center
							.col-md-auto
								+e.logo
									img(loading="lazy" src="img/@2x/company-logo-3.png" alt="")
							.col-md
								+e.name ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург
								+e.city г. Санкт-Петербург, пр. Мечникова, д.27
					+e.header
						+e.header-row.row.align-items-center
							.col-auto
								+e.logo--empty(href="#")
									img(loading="lazy" src="img/svg/company-stab2.svg" alt="")
							.col
								+e.name(href='#') ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург
								+e.city г. Санкт-Петербург, пр. Мечникова, д.27
					//-
					+shortData('d-xl-none mb-27')
					+e.UL.striped-ul--common
						li
							strong Опыт работы:&nbsp;
							span от 1 до 3 лет
						li
							strong Тип занятости:&nbsp;
							span Полная
						li
							strong График:&nbsp;
							span Полный день
					h5 Обязанности:
					ul
						li Погрузка/разгрузка
						li Размещение и перемещение товара в пределах зон хранения склада.
						li Выполнение установленных объемов погрузочно-разгрузочных работ.
						li Подсобные работы
					h5 Требования:
					ul
						li Внимательность.
						li Активные, честные, аккуратные.
						li Умение ладить с коллективом, неконфликтные.
					h5 Условия:
					ul
						li.no-before Г. Долгопрудный, мкр. Хлебниково, Новое шоссе 1ст1
						li График 6/1, смена 12 часов (из них 1 час перерыва)
						li Дневная смена с 8.00 до 20.00
						li Проживание БЕСПЛАТНО в общежитии компании
						li Доставка до рабочего места
						li Спецодежда предоставляется.
						li Трудоустройство - самозанятость.
						li еженедельные авансы от 1500 р до 2000 р.
					h5.mb-24 Расположение на карте
					+e.location Г. Долгопрудный, мкр. Хлебниково, Новое шоссе 1ст1
					+e.map
						//-<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa24858180c70500d85f43cf6f43344f955abbaae44d7b9c6bf32f8e46d75746d&amp;width=868&amp;height=554&amp;lang=ru_RU&amp;scroll=false"></script>
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5da924d94a1a837b04194e827fa7052ac1db386fa101e650a54b8297b635d2ac&amp;width=706&amp;height=481&amp;lang=ru_RU&amp;scroll=false"></script>
					+shortData('d-xl-none mb-24')
					+profSocBl('d-xl-none mb-48', 'Поделиться вакансией')
					h5.mb-24 Похожие вакансии:
					//-+e.small-title Похожие вакансии:
					+e.vacancy-items
						+profileItem({
							logo: '1',
						})
						+profileItem({
							logo: '2',
						})
						+profileItem({
							logo: '1',
						})
				+e.sticky-col.col-xl-3.d-none.d-xl-block
					+e.sticky-item
						+shortData('mb-24')
						+profSocBl('', 'Поделиться вакансией')
	// end sVacPage

mixin shortData(addClasses='', socAddClasses='')
	+b.st-data(class=addClasses)
		+e.top-row.row.justify-content-center.align-items-center
			+e.btn-col.col-6.col-xl-12
				+e.call-btn.link-modal(href="#modal-callback") Откликнуться
			+e.btn-col.col-6.col-xl-12
				+e.show-btn.mb-xl-12.link-modal(href="#modal-contacts") Показать контакты
			.col-auto.col-xl-12
				//class active
				+e.to-chosen.mb-xl-12.sVacPage-like-btn-js(href='#')
					+e.icon-cont
						+icon('like')
						+icon('like-fill')
					+e.tc-txt В избранное
			.col-auto.col-xl-12
				+e.gray Размещено: 04.02.2021
			//-.col-auto.col-xl-12
				+e.gray Обновлено: 04.02.2021

mixin galeryRow()
	+b.galery-row.row
		+galeryItem(1)
		+galeryItem(2)
		+galeryItem(3)
		+galeryItem(3)
		+galeryItem(4)
		+galeryItem(1)

mixin galeryItem(imgNum)
	.col-6.col-md-4
		+e.g-item(href=`img/@2x/stab-${imgNum}.jpg` data-fancybox='jobGalery')
			img(loading="lazy" src=`img/@2x/stab-${imgNum}.jpg` alt="")

