:root {
	--animate-delay: 1.2s;
	--fontSizeBase: #{$em-base};

	--sPT: #{rem(40)};
	--sPB: #{rem(45)};
	--sTPB: #{rem(30)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(80)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(40)};
	}

	--header-h: 76px;

	--mvp-cont-padd-x: 18px;
	@include media-breakpoint-up(md){
		--mvp-cont-padd-x: 24px;
	}
	@include media-breakpoint-between(xlg, xl){
		--mvp-cont-padd-x: 20px;
	}
	@include media-breakpoint-up(xxl){
		--mvp-cont-padd-x: 48px;
	}
	--cont-mw-xl: 1140px;
	//
	@include media-breakpoint-up(xlg){
		--aside-l-w: 220px;
		--aside-r-w: 180px;
	}
	@include media-breakpoint-up(xl){
		--aside-l-w: 220px;
		--aside-r-w: 180px;
	}
	@include media-breakpoint-up(xxl){
		--aside-l-w: 240px;
		--aside-r-w: 240px;
	}
	@include media-breakpoint-up(base){
		--aside-l-w: 294px;
		--aside-r-w: 294px;
	}


	//
	--swiperArrowSize: #{rem(68)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: #ffffff;
}