.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-chevron-down {
	font-size:(7/10)*1rem;
	width:(10/7)*1em;
}
.icon-like {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-location {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-zoom {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
