.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-avatar-stab {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-bell {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-check {
	font-size:(8/10)*1rem;
	width:(10/8)*1em;
}
.icon-chevron-down {
	font-size:(7/10)*1rem;
	width:(10/7)*1em;
}
.icon-chevron-left {
	font-size:(10/10)*1rem;
	width:(7/10)*1em;
}
.icon-chevron-right {
	font-size:(10/10)*1rem;
	width:(7/10)*1em;
}
.icon-chevron-top {
	font-size:(7/10)*1rem;
	width:(10/7)*1em;
}
.icon-cross {
	font-size:(8/10)*1rem;
	width:(8/8)*1em;
}
.icon-cross-big {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-edit {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-eye {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-filter {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-heart {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-like {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-like-fill {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-location {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-messages {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-pass-eye {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-pencil {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-pencil2 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-plus {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-plus-bold {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-print {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-q-sign {
	font-size:(10/10)*1rem;
	width:(7/10)*1em;
}
.icon-sad {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-share {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-side-mnu-1 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-side-mnu-2 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-side-mnu-3 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-side-mnu-4 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-side-mnu-5 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-side-mnu-6 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-side-mnu-7 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-side-mnu-8 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-side-mnu-9 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-soc-fb {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-soc-gpl {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-soc-inst {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-soc-ok {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-soc-tg {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-soc-tw {
	font-size:(18/10)*1rem;
	width:(22/18)*1em;
}
.icon-soc-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-top-link-1 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-top-link-2 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-top-link-3 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-top-link-4 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-top-link-5 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-top-link-6 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-top-link-7 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-user {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vac-plus {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-zoom {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-zoom-2 {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
