mixin sEmplDay(data)
	// start sEmplDay
	+b.SECTION.sEmplDay.section#sEmplDay&attributes(attributes)
		.container
			+b.section-title--lined.text-center.text-xl-start
				h2 Работодатели дня¬
			+e.row.row
				+sEmplDayCard(1).col-lg-3.col-6
				+sEmplDayCard(2).col-lg-3.col-6
				+sEmplDayCard(3).col-lg-3.col-6
				+sEmplDayCard(4).col-lg-3.col-6
			// br убрать убрать  внизу вариант, когда 2 карточки
			br
			br
			+e.row.row
				+sEmplDayCard(1).col-lg-6
	// end sEmplDay


mixin sEmplDayCard(imgNum)
	div&attributes(attributes)
		+e.card
			+e.img(href="#")
				img(loading="lazy" src=`img/@2x/sEmplDay-${imgNum}.png` alt="")
			+e.txt-content.text-center
				+e.name(href="#") ЧУЗ Клиническая больница «РЖД - Медицина» города Санкт-Петербург
				+e.vac-ammount(href='#') 7 вакансий