// start .sEmplDay
.sEmplDay {
	--sPT: 30px;
	--sPB: 60px;
	--sTPB: 53px;
	@include media-breakpoint-up(md){
		--sPT: 27px;
		--sPB: 60px;
		--sTPB: 53px;
	}
	@include media-breakpoint-up(xl){
		--sPT: 30px;
		--sPB: 60px;
		--sTPB: 45px;
	}

	.section-title{
		--aft-xm: auto;
		@include media-breakpoint-up(xl){
			--aft-xm: 0;
		}
	}
	&__card{
		min-height: 100%;
		@include mt();
		background: $white;
		border: 1px solid $gary-110;
		border-radius: 5px;

		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0);
		//--maount-bb-o: 1;
		&:hover{
			box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);
			//--maount-bb-o: 0;
		}

		padding: 23px;
		//padding: 23px;

		position: relative;
	}
	&__star{
		position: absolute;
		top: 24px;
		right: 24px;
		width: 24px;
		height: 24px;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__row{
		@include roww(12px);
		--bs-gutter-y: 12px;
		@include media-breakpoint-up(md){
			@include roww(24px);
			--bs-gutter-y: 24px;
		}
	}
	&__c-row{
		@include roww(24px);
		--bs-gutter-y: 24px;
	}
	&__img{
		width: 220px;
		height: 120px;
		margin: 0 auto 23px auto;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__name{
		font-size: 16px;
		display: block;
		line-height: 1.5;
		margin-bottom: 12px;

		color: $headings-color;
		&:hover{
			color: $headings-color;
		}

		//
		@include media-breakpoint-up(xl){
			margin-left: auto;
			margin-right: auto;
			max-width: 465px;
		}
	}
	&__vac-ammount{
		font-size: 14px;
		line-height: 1.25;

		display: inline-block;
		//border-bottom: 1px dashed currentColor;
		//position: relative;
		//z-index: 1;
		//&:before{
		//	@include mt();
		//	opacity: var(--maount-bb-o, 1);
		//	content: '';
		//	position: absolute;
		//	width: 100%;
		//	height: 1px;
		//	left: 0;
		//	top: 100%;
		//	border-bottom: 1px dashed currentColor;
		//}

		//--maount-bb-o: 1;
		//&:hover{
		//	--maount-bb-o: 0;
		//}
	}
	&__{}
} // end.sEmplDay