// start .headerBlock
.headerBlock {
  --sPB: 0;

  --sPT: 46px;
  --sTPB: 21px;
  @include media-breakpoint-up(md){
    --sPT: 47px;
    --sTPB: 24px;
  }
  @include media-breakpoint-up(xl){
    --sPT: 40px;
    --sTPB: 40px;
  }

  position: relative;
  z-index: 1;
  &__bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $light;
  }

  &__ball{
    opacity: 0.5;

    &--1{
      position: absolute;
      width: 872px;
      height: 878px;
      left: -689px;
      top: -389px;

      background: radial-gradient(50% 50% at 50% 50%, #88DDFC 0%, rgba(136, 221, 252, 0) 100%);
    }
    &--2{
      position: absolute;
      width: 658px;
      height: 658px;
      left: -31px;
      top: 400px;

      background: radial-gradient(50% 50% at 50% 50%, #C4FBDC 0%, rgba(196, 251, 220, 0) 100%);
    }
    &--3{
      position: absolute;
      width: 658px;
      height: 658px;

      left: 3px;
      top: -212px;
      @include media-breakpoint-up(md){
        left: 82px;
        top: -160px;
      }
      @include media-breakpoint-up(lg){
        right: 307px;
        left: unset;
        top: -203px;
      }

      background: radial-gradient(50% 50% at 50% 50%, #C4FBDC 0%, rgba(196, 251, 220, 0) 100%);
    }
    &--4{
      position: absolute;
      width: 872px;
      height: 878px;

      left: 276px;
      top: 174px;
      @include media-breakpoint-up(md){
        left: 355px;
        top: 226px;
      }
      @include media-breakpoint-up(lg){
        right: -180px;
        left: unset;
        top: 183px;
      }

      background: radial-gradient(50% 50% at 50% 50%, #88DDFC 0%, rgba(136, 221, 252, 0) 100%);
      opacity: 0.5;
    }
  }

  &__row{

  }
  .section-title{
    @include media-breakpoint-up(lg){
      padding-top: 50px;
    }

    h1{
      margin-bottom: 32px;
      @include media-breakpoint-up(md){
        margin-bottom: 45px;
      }
      @include media-breakpoint-up(lg){
        margin-bottom: 43px;
      }
    }
    ul{
      @include media-breakpoint-down(md){
        min-width: 300px;
        width: 63%;
        margin-left: auto;
        margin-right: auto;
      }
      @include media-breakpoint-between(md, xl){
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        margin-right: -22px;
      }

      list-style: none;
      padding: 0;
      margin: 0 0 rem(20);

      li{
        @include media-breakpoint-between(md, xl){
          width: 33.33%;
        }

        padding: 0 0 15px 18px;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          left: 2px;
          top: 7px;

          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: linear-gradient(86.99deg, #2AED80 0.21%, #10B7F5 99.92%);
        }
      }
    }
  }
  &__img-col{
    display: flex;
    flex-direction: column;
  }
  &__img{
    max-width: 100%;

    width: 444px;
    margin: auto auto 0;
    @include media-breakpoint-up(lg){
      margin: auto auto 0;
      width: auto;
    }
    @include media-breakpoint-up(xl){
      margin: 0 0 0 -5px;
    }

    img{
      width: auto;
      height: auto;
      max-width: 110%;
    }
  }

  //
  &__{}
  &__{}
}

// end.headerBlock