mixin headerNew(data)
	// start headerNew
	+b.headerNew#headerAlt&attributes(attributes)
		.container-xl
			+e.row.row.align-items-center
				.col.col-xl-auto
					+e.logo(href="/")
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col.d-none.d-xl-block
					+mnu9()
				.col-auto.d-none.d-md-block
					+e.tel(href="tel:+7 (965) 667-06-05") +7 (965) 667-06-05
				.col-auto.d-none.d-md-block
					+e.btn.scroll-link(href="#sTel") Подписаться
				.col-auto.d-xl-none
					+e.burger.mvp-burger-js
						span
		//-.mvp-burger-js
		+mvpMmenu2()
	// end headerNew