// start .sProfileN
.sProfileN {
	position: relative;
	overflow: hidden;
	--sPT: 18px;
	@include media-breakpoint-up(md){
		--sPT: 24px;
	}
	--sPB: 60px;
	@include media-breakpoint-up(xlg){
		--sPB: 60px;
		// position: static;
		overflow: visible;
	}

	&__row{
		@include roww(var(--mvp-cont-padd-x, 24px));

		--col-mb: 18px;
		@include media-breakpoint-up(md){
			--col-mb: 24px;
		}
	}
	&__content-col{ 
		@media (min-width: 1920px){
			max-width: calc(100% - 340px - 340px);
		}
	}

	//
	&__title-row{
		@include roww(24px);
		--col-mb: 24px;
	}
	&__title{
		font-weight: 600;
		font-size: 24px;
		@include media-breakpoint-between(xlg, xl){
			font-size: 18px;
		}

		line-height: (29/24);
		margin-bottom: 0;

	}
	//place-vac
	&__place-vac{
		display: inline-flex;
		align-items: center;

		color: $body-color;
		&:hover{
			color: $primary;
		}
	}
	&__pv-ball{
		border-radius: 50%;
		background-color: $primary;

		width: 30px;
		height: 30px;
		@include media-breakpoint-between(xlg,xl){
			width: 24px;
			height: 24px;
		}

		margin-right: 12px;

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			font-size: 15px;
			@include media-breakpoint-between(xlg,xl){
				font-size: 12px;
			}
			color: $white;
		}

	}
	//

	&__look{
		color: $gray-600;
	}

	//
	&__aside-menu{
		&--static{
			position: static;
			top: unset;
		}

		position: sticky;
		z-index: 1;
		top: calc(var(--header-h) + var(--sPT) - 57px + var(--top-nav-top, 0px));
		padding-top: 57px;
		width: var(--aside-r-w, 240px);
		@media (min-width: 1920px) {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

		ul{
			@media (min-width: 1920px) {
				min-width: 217px;
			}

			list-style: none;
			padding: 0;
			margin: 0 0 24px 0;

			position: relative;
			z-index: 1;
			&:after{
				content: '';
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				width: 1px;
				height: 100%;
				background-color: $gray-210;
			}

			& > li{
				margin-bottom: 17px;
				& > a{
					@include mt($smooth);
					color: $gray-600;
					display: block;

					padding: 3.5px 15px;
					@include media-breakpoint-up(xxl){
						padding: 3.5px 23px;
					}

					border-left: 2px solid transparent;

					&.active{
						border-left: 2px solid $warning;
						color: $headings-color;
					}
					&:hover{
						color: $headings-color;
					}
				}
			}
		}
	}
	&__how-btn{
		@extend .btn;
		@extend .btn-outline-primary;

		@media (min-width: 1920px) {
			min-width: 217px;
		}

		@include media-breakpoint-between(xlg, xxl){
			font-size: 13px;
			padding: 8px 12px;
		}

		padding: 10px 23px;
		border-radius: rem(60);

		color: $primary!important;
		&:hover{
			color: $white!important;
		}
	}
	//box
	&__box{
		--i-title-w: 100%;
		--pd-col-w: calc(100% - 180px);
		@include media-breakpoint-up(md){
			--pd-col-w: calc(100% - 147px);
			--i-title-w: 209px;
		}
		@include media-breakpoint-between(xlg,xl){
			--i-title-w: 180px;
		}
		@include media-breakpoint-up(base){
			--pd-col-w: 733px;
			--i-title-w: 242px;
		}

		background: $white;
		border: 1px solid $gray-210;
		border-radius: 5px;

		padding: 33px;
		@include media-breakpoint-up(md){
			padding: 37px;
		}
		@include media-breakpoint-between(xlg, xl){
			padding: 24px;
		}
		@include media-breakpoint-up(xl){
			padding: 36px;
		}
		@include media-breakpoint-up(xxl){
			padding: 48px;
		}

		.form-wrap{
			&__b-title{
				font-size: 20px;
				line-height: 1.5;
				font-weight: 500;

				margin-bottom: 34px;
				@include media-breakpoint-up(md){
					margin-bottom: 38px;
				}
				@include media-breakpoint-between(xlg, xl){
					margin-bottom: 24px;
				}
				@include media-breakpoint-up(xl){
					margin-bottom: 47px;
				}
			}
			&__b-row{
				&.soc-row{
					@include roww(24px);
					@include media-breakpoint-up(base){
						@include roww(32px);
					}
					--col-mb: 24px;
				}
			}
			&__b-col-pd{
				max-width: var(--pd-col-w, 550px);
				flex-grow: 1;

				&--base{
					max-width: 100%;
					@include media-breakpoint-up(base){
						max-width: var(--pd-col-w, 550px);
					}
				}
			}
			&__port-col{
				max-width: calc(100% - var(--pd-col-w, 550px));

				&--square{
					@include media-breakpoint-up(base){
						padding-right: 43px;
					}
				}
			}

			&__{}
			//b-portrait
			&__b-portrait{
				display: block;
				width: 150px;
				height: 150px;
				@include media-breakpoint-up(md){
					width: 120px;
					height: 120px;
				}
				@include media-breakpoint-up(base){
					width: 146px;
					height: 146px;
				}
				border-radius: 50%;
				overflow: hidden;
				margin-bottom: 12px;

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				&--suare{
					border-radius: 5px;
					border: 1px solid $gray-100;
				}

				&--empty{
					padding: 24px;
					background: $gray-100;
					border: 1px solid $gray-100;
				}

			}
			&__b-change{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				color: $primary;
			}
			&__b-change-img{
				flex-shrink: 0;
				width: 16px;
				height: 16px;
				margin-right: 6px;

				display: flex;
				align-items: center;
				justify-content: center;

				img{
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}
			&__input-wrap{
				margin-bottom: 24px;
				@include media-breakpoint-between(xlg, xl){
					margin-bottom: 18px;
				}

				&--no-lab, label{
					@include media-breakpoint-up(md){
						display: flex;
						//align-items: center;
						align-items: flex-start;
						min-height: 40px;
					}
				}

				textarea{
					height: 160px;
				}
			}
			&__input{
				flex-grow: 1;
				width: 100%;
				@include media-breakpoint-up(md){
					width: calc(100% -  var(--i-title-w, 200px));
				}
				font-size: 15px;
				@include media-breakpoint-between(xlg, xl){
					font-size: 13px;
				}

				padding: 10px;
				border-radius: 5px;
			}
			&__select{
				padding: 9px 25px 9px 10px;
				font-size: 15px;
				@include media-breakpoint-between(xlg, xl){
					font-size: 13px;
				}
				background-position-x: calc(100% - 10px);
			}
			&__input-title{
				@include media-breakpoint-up(md){
					min-height: 40px;
					display: flex;
					align-items: center;
				}

				display: block;
				width: var(--i-title-w, 200px);
				flex-shrink: 0;
				padding-right: 24px;

				margin-bottom: 12px;
				@include media-breakpoint-up(md){
					margin-bottom: 0;
				}

				font-weight: 500;
				color: $gray-600;
			}
			//
			&__inps-row{
				flex-grow: 1;

				&.radio-row{
					@include roww(24px);
					@include media-breakpoint-up(md){
						@include roww(24px);
					}
				}

				@include roww(12px);
				@include media-breakpoint-up(md){
					@include roww(24px);
				}
			}
			.day-inp{
				width: 80px;
				@include media-breakpoint-up(md){
					width: 73px;
				}
			}
			//save-btn
			&__btn-col{
				text-align: right;

				padding-top: 9px;
				@include media-breakpoint-up(md){
					padding-top: 6px;
				}
				@include media-breakpoint-up(xl){
					padding-top: 22px;
				}

				&--security{
					//padding-top: 15px;
					@include media-breakpoint-up(md){
						padding-top: 15px;
					}
					@include media-breakpoint-up(base){
						padding-top: 44px;
					}
				}
			}
			&__save-btn{
				//-@extend .btn-default;
				@extend .green-btn;
				padding: 10.5px 20px;
				border-radius: 50px;

				font-size: 15px;
				@include media-breakpoint-between(xlg, xl){
					font-size: 13px;
				}
				line-height: (18/15);

				&.muted{
					cursor: not-allowed!important;
					//pointer-events: none;
					background: $light!important;
					color: $secondary!important;
					&:before,
					&:after{
						background: $light!important;
					}
				}
			}
			//



			//2
			//2
			&__hint-col{
				padding-bottom: 27px;
				@include media-breakpoint-up(md){
					padding-bottom: 38px;
				}
				order: -1;
				@include media-breakpoint-up(base){
					padding-bottom: 0;
					order: 0;
					padding-left: 28px;
					width: calc(100% - var(--pd-col-w, 700px));
				}
			}
			&__h-title{
				font-weight: 500;
				line-height: 1.75;

				margin-bottom: 6px;
			}
			&__h-list{
				list-style: none;
				margin-bottom: 0;
				li{
					margin-bottom: 0;
					line-height: 1.75;
					&:before{
						content: '•';
						color: $warning;
						display: inline-block;
						margin-right: 5px;
					}
				}
			}

			//pass-col
			&__pass-col{

			}
			&__inp-cont{
				@extend .inp-cont;
				flex-grow: 1;

				input{
					width: 100%;
				}
			}
			&__show-hide-btn{
				@extend .show-hide-btn;
			}

			//-3
			//-3
			&__soc-item{
				--link-col: #{$gray-600};
				&:hover{
					--link-col: #{$primary};
				}

				--icon-color: #{$gray-550};
				&.has-dell-link{
					--icon-color: #{$white};
					--link-col: #{$headings-color};
					&:hover {
						--link-col: #{$danger};
					}
				}

				display: flex;
				align-items: center;
				justify-content: center;
			}
			&__s-icon{
				display: flex;
				align-items: center;
				justify-content: center;

				width: 40px;
				height: 40px;
				margin-right: 12px;
				@include media-breakpoint-between(xlg, xl){
					width: 36px;
					height: 36px;
					margin-right: 10px;
				}

				border-radius: 5px;
				background-color: $light;

				.icon{
					font-size: 24px;
					@include media-breakpoint-between(xlg, xl){
						font-size: 18px;
					}

					&.icon-soc-tw{
						font-size: 20px;
						@include media-breakpoint-between(xlg, xl){
							font-size: 16px;
						}
					}
					color: var(--icon-color, #{$gray-550});
				}
			}
			&__s-link{

				color: var(--link-col, #{$headings-color});
			}
			//4
			//4
			&__chb-title{
				font-weight: 500;
				color: $gray-600;
				padding-bottom: 24px;
			}
			&__checkboxes{
				padding-bottom: 24px;
			}
			.custom-chb{
				&:last-child{
					margin-bottom: 0;
				}
				.square{
					margin-right: 6px;
				}
				.txt{
					font-size: 15px;
					@include media-breakpoint-between(xlg, xl){
						font-size: 13px;
					}
				}
			}

			//031
			&__couple-row{
				--bs-gutter-x: 0;
				margin-bottom: 12px;
			}
			&__c-col{
				&:first-child{
					--couple-inp-br: 5px 0 0 5px;
				}
				&:not(:last-child){
					input{
						border-right: none;
					}
				}

				&:last-child{
					--couple-inp-br: 0 5px 5px 0;
				}

				position: relative;
				z-index: 1;
				&:after{
					content: attr(data-ph);
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 12px;

          line-height: (18/15);
				}
			}
			//
			&__input--couple{
				width: 100%!important;
				border-radius: var(--couple-inp-br, 0);
				padding-left: 33px;
			}
			//

			&__input--big-ta{
				height: 440px!important;
				width: 100%!important;
			}
			//
			&__sub-btns-row{
				--bs-gutter-x: 12px;
				--bs-gutter-y: 12px;
			}
			//
			&__cr-btn{
				min-width: 219px;
				padding: 11px 16px;
				border-radius: 60px;

				font-size: 15px;
				@include media-breakpoint-between(xlg,xl){
					font-size: 13px;
				}

				&--gray{
					@extend .btn-gray-blue;
				}
				&--green{
					@extend .green-btn;
				}
			}
			&__cf-txt{
				font-style: italic;
				line-height: 1.75;
			}
			&__{}
			&__{}

			//end 031
		}
		//end form-wrap
	}

	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sProfileN

.custom-radio{
	display: flex!important;
	align-items: center!important;
	cursor: pointer!important;

	input:checked + .circle{
		&:after{
			opacity: 1;
		}
	}
	.circle{
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		margin-right: 6px;
		border-radius: 50%;
		position: relative;
		z-index: 1;

		&:after{
			content: '';
			opacity: 0;
			@include mt($smooth);
			position: absolute;
			top: 5px;
			left: 5px;

			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: $warning;
		}

		background: $white;
		border: 1px solid $gray-210;
	}
	.txt{

	}
}

.l-side-menu{
	position: sticky;
	top: calc(var(--header-h) + var(--sPT) + var(--top-nav-top, 0px));

	max-width: 100%;
	@include media-breakpoint-up(xlg){
		width: var(--aside-l-w, 240px);
	}
	&__slider-wrap{
		.swiper-container{
			overflow: visible!important;
		}
		.swiper-wrapper{
			@include media-breakpoint-up(xlg){
				flex-wrap: wrap!important;
				transform: none!important;
			}
		}
		.swiper-slide{
			width: auto;
			max-width: 100%;
			@include media-breakpoint-up(xlg){
				width: 100%;
				margin-right: 0!important;
			}
		}
	}
	&__item{
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		z-index: 1;

		@include mt($smooth);


		display: flex;
		align-items: center;

		background: transparent;

		border: 1px solid $gray-210;
		padding: 11.5px 23px;
		@include media-breakpoint-up(xlg){
			padding: 10.5px 10px;
			border: 1px solid transparent;
		}
		--icon-col: #{$gray-550};
		--ball-opacity: 0;
		&.active{
			background: $white;
			border: 1px solid $gray-210;
			--icon-col: #{$warning};
			--ball-opacity: 0.25;
			//0.25
		}

	}
	&__icon{
		width: 24px;
		height: 24px;
		margin-right: 12px;

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			@include mt($smooth);
			color: var(--icon-col, #{$gray-550});

			font-size: 24px;
			@include media-breakpoint-between(xlg, xl){
				font-size: 18px;
			}
		}
	}
	&__txt{
		color: $headings-color;
	}

	&__ball{
		&.has-transition{
			transition: all .22s linear;
		}

		position: absolute;
		z-index: -1;
		width: 120px;
		height: 120px;
		opacity: var(--ball-opacity, 0);

		&--1{
			left: 100%;
			top: 100%;
			background: radial-gradient(50% 50% at 50% 50%, #C4FBDC 0%, rgba(196, 251, 220, 0) 100%);
			transform: translateX(-40%) translateY(-40%);
		}
		&--2{
			z-index: -2;
			left: 100%;
			top: 100%;
			background: radial-gradient(50% 50% at 50% 50%, #88DDFC 0%, rgba(136, 221, 252, 0) 100%);
			transform: translateX(-60%) translateY(-60%);
		}
	}
	&__tracker{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	&__{}
}

.custom-select{
	font-family: inherit!important;
	*{
		font-family: inherit!important;
	}

	.select2.select2-container.select2-container--default{
		width: 100% !important;
		height: var(--select-h, 40px)!important;
	}
	.select2-selection{
		height: var(--select-h, 40px)!important;
		border-color: $input-border-color!important;
		border-radius: $input-border-radius!important;
	}
	.select2-selection__rendered{
		height: var(--select-h, 40px)!important;
		padding: 10px 30px 10px 10px!important;

		line-height: (18/15) !important;
		font-size: var(--rendered-fs, 15px)!important;
	}
	.select2-selection__arrow{
		height: var(--select-h, 40px)!important;
		width: 30px!important;
		*{
			display: none!important;
		}

		background-image: url(../img/svg/chevron-bot.svg);
		background-repeat: no-repeat;
		background-position: center;
	}

	.default-select-js{
		height: var(--select-h, 40px);
	}

}

.default-select2{
	font-family: $mono!important;
	*{
		font-family: $mono!important;
	}

	margin-top: 10px!important;
	border: 1px solid $input-border-color!important;
	border-radius: 5px!important;
	overflow: hidden!important;

	.select2-results__options{
		.select2-results__option{
			color: $headings-color!important;
			&--selectable{
				background-color: $white!important;
			}
			&--selected{
				background-color: rgba($light, 1)!important;
			}
			&--highlighted{
				background-color: rgba($light, .5)!important;
			}
		}
	}
}

.mainpage-select2{
	font-size: 14px!important;
	font-family: inherit!important;
	*{
		font-family: inherit!important;
	}

	margin-top: 10px!important;
	border: 1px solid var(--dd-bord-color, $gary-110)!important;
	background: $white!important;
	border-radius: 5px!important;
	overflow: hidden!important;

	.select2-results__options{
		.select2-results__option{
			color: $headings-color!important;
			&--selectable{
				background-color: $white!important;
			}
			&--selected{
				background-color: rgba($light, 1)!important;
			}
			&--highlighted{
				background-color: rgba($light, .5)!important;
			}
		}
	}
}