mixin sImportant(data)
	// start sImportant
	+b.SECTION.sImportant.section#sImportant&attributes(attributes)
		.container
			.text-center
				+b.section-title
					h2 Важно думать о будущем!
				+e.img
					img(loading="lazy" src="img/svg/sImportant.svg" alt="")
				+e.descr
					p Даже если вы не ищете работу сейчас. Знать о новых вакансиях в вашей сфере просто необходимо, чтобы не упустить хорошее предложение от которого невозможно отказаться.
	// end sImportant