mixin sBaner(data)
	// start sBaner
	+b.SECTION.sBaner.section#sBaner&attributes(attributes)
		+e.bg
			+e.ball--1
			+e.ball--2
			+e.ball--3.d-none.d-xl-block
			+e.ball--4.d-none.d-xl-block
		+e.container.container
			//-+pic('sBaner-img.png')(class="sBaner__img d-none d-xl-flex")
			+e.img.d-none.d-xl-flex
				img(loading='lazy' src="img/@2x/sBaner-img.png" alt="")
			+e.row.row
				.col-xl-5
					+b.section-title.text-center.text-xl-start
						h1
							| Подбор вакансий
							br
							| для медицинских сотрудников
						p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более...
				+form-wrap()
					+e.search-row.row.sBaner-search-row-js
						.col
							+e.sub-row.row.sBaner-sub-row-js
								.col-auto
									+customSlect('type', ['Вакансии','Самара2','Самара2'], 'main-page-select2-js')
									//-+e.select
										select.form-control.form-select
											//-option(selected disabled class="d-none") Вакансии
											option Вакансии
											option option 2
											option option 3
								.col
									+e.input-wrap.form-group
										+e.INPUT.input.form-control.sBaner-input-js(type="text" placeholder="Введите название вакансии" name="searc")
										+e.find-btn.d-none.d-md-block(type="submit") Найти
								//+input('Введите название вакансии', 'text', undefined, 'search')
						.col-md-auto.d-md-none
							+e.find-btn(type="submit") Найти

	// end sBaner