mixin sDescr(data)
	// start sDescr
	+b.SECTION.sDescr.section#sDescr&attributes(attributes)
		.container
			+b.section-title
				h2
					| Медицинские и фармацевтические организации
					|
					br.d-none.d-xl-block
					| в Санкт-Петербурге
				p Работа в Санкт-Петербурге — это широкий выбор вакансий в различных отраслях деятельности: от сотрудников сферы обслуживания до топ-менеджеров крупных компаний. Найти работу в этом многообразии несложно, для чего подходят различные методы. Можно пойти в Службу занятости или кадровое агентство, можно использовать свои социальные связи, можно напрямую обратиться в интересующие компании.
				p Однако наиболее популярным способом поиска работы в Санкт-Петербурге остаются сайты по трудоустройству. Чтобы быстро найти достойный вариант — размещайте резюме и ищите вакансии в тех источниках, которые пользуются широким спросом среди работодателей. К их числу относится Medicjobs. Используя нашу обширную информационную базу, вы быстро найдете подходящую вакансию.
				ul
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, error?
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, error?
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur consequatur dicta. A atque ex hic impedit ipsam, nam necessitatibus nulla obcaecati odio officiis repellendus voluptas, voluptatem. Doloremque praesentium, sit.
	// end sDescr