// start .sDescr
.sDescr {
	--sPB: 52px;
	--sPT: 26px;
	--sTPB: 30px;

	.section-title{
		h2{
			margin-bottom: 30px;
		}
		p{
			font-size: 14px;
			line-height: 2;
			margin-bottom: 29px;
		}
		ul{
			list-style: none;
			font-size: 14px;
			line-height: 2;
			margin: 0 0 29px;

			li{
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}

				padding-left: 24px;
				position: relative;
				&:before{
					content: '';
					position: absolute;

					top: 14px;
					left: 10px;
					width: 3px;
					height: 3px;

					transform: translateY(-50%);
					background-color: $body-color;
					border-radius: 50%;
				}

				&:before{
					content: '';
				}
			}
		}

		& > *:last-child{
			margin-bottom: 0;
		}
	}
	//
	&__{}
	&__{}
} // end.sDescr