mixin footerN(data)
	// start footerN
	+b.FOOTER.footerN--js#footerN&attributes(attributes)
		//-+e.ball--1
		//-+e.ball--2
		+e.container.container
			+e.row.row.row--mb
				.col-xl-auto
					+e.logo.mx-auto.mx-xl-0(href="/")
						img(loading="lazy" src='img/svg/logo.svg' alt="")
					+e.gray-txt.text-center.text-xl-start
						| Сервис по поиску работы
						|
						br.d-none.d-xl-block
						| в сфере медицины.
					//-+e.like.d-none.d-xl-flex
						+e.l-icon.fl-icon-js
							+icon('like')
							+icon('like-fill')
						+e.l-txt 244
				+e.menu-col.col-xl.d-none.d-xl-block
					+e.menu-row.row
						+fNMenu('MedicJobs', 'Контакты')
						+fNMenu('Соискателю', 'Вакансии', 'Организации', 'Оценить компанию', 'Рейтинг зарплат')
						+fNMenu('Работодателю', 'Публикация вакансии')
				.col-xl-auto
					+e.soc-items.row.row--mb.justify-content-center.justify-content-xl-end
						+fNSocItem('fb', 'https://vk.com/medicjobs')
						+fNSocItem('vk', '#')
						+fNSocItem('inst', '#')
						+fNSocItem('tg', '#')
					
					+e.business-logo.text-center.text-xl-end(href="#")
						img(loading="lazy" src="img/@2x/bissnes-logo.png" alt="")
					+e.all-rights.mb-27.d-xl-none © 2021 Все права защищены Medicjobs.ru.
					+e.policy-links.text-center.text-xl-end.pb-12.pb-xl-0
						+e.p-link(href='#') Пользовательское соглашение
						+e.p-link(href='#') Политика конфиденциальности
				.col-12.mb-0
				.col-xl.align-self-xl-center.d-xl-block.d-none
					+e.all-rights © 2021 Все права защищены Medicjobs.ru.
				.col-xl-auto.align-self-xl-center
					+e.scroll-top.scroll-top-js.justify-content-center
						+e.st-txt Наверх
						+e.st-ball
							+icon('chevron-top')
				//-.col-12.d-xl-none.text-center
					+e.like.d-inline-flex
						+e.l-icon.fl-icon-js
							+icon('like')
							+icon('like-fill')
						+e.l-txt 244
	// end footerN

mixin fNMenu(title, ...items)
	.col
		+e.m-title=title
		+e.UL.m-list
			- for(let item of items)
				li: a(href="#")=item

mixin fNSocItem(imgNum, link='#')
	.col-auto
		+e.s-item(href=link)
			//-img(loading="lazy" src=`img/svg/soc-fn-${imgNum}.svg` alt="")
			img(loading="lazy" src=`img/svg/new-soc-${imgNum}.svg` alt="")