mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.row.row.align-items-center
				.col-xl-6
					+pic(`${data.picTxt || 'sAbout-pic.png'}`, undefined, 0)(class="sAbout__pic")
				.col-xl-6.text-center.text-xl-start
					if block
						block
					else
						+b.section-title--lined
							h2 Что такое MedicJobs?
						+e.descr Медикджобс – это новый сервис, который помогает медицинским работникам найти работу с помощью интеллектуального алгоритма подбора, который ищет по рекрутинговым сайтам. Если система видит схожесть кандидата и вакансии, она знакомит кандидата и работодателя друг с другом, самостоятельно рассылает резюме и предлагает подходящие вакансии. Таким образом, мы значительно сокращаем время на поиск и минимизируем упущенные возможности. В нашей базе 150 тыся медицинских вакансий по всей России, которые мы обновляем каждые 2 минуты.
	// end sAbout