extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sBaner/_sBaner.pug
include ../blocks/sVacDay/_sVacDay.pug
include ../blocks/sEmplDay/_sEmplDay.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sBalls/_sBalls.pug
include ../blocks/sLogoes/_sLogoes.pug
include ../blocks/sVantage/_sVantage.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sNow/_sNow.pug

block variables
	- let  mainPage= 'headings-color has-reg-btn'
	- let  descr = 'Медикджобс – это сервис, который помогает медицинским сотрудникам найти работу, а работодателям кандидатов с помощью умного алгоритма подбора.'
block title
	- let  title= '00-modals'
	title= title
block pagecontent
	+mob-mnu4()
	+header()
		+top-nav4()
	.section
		.container
			.row.gy-3
				.col-auto
					a.btn-default.link-modal(href='#modal-city') Выберите город
				.col-auto
					a.btn-default.link-modal(href='#modal-city2') Выберите город2
				.col-12
					h2 10.06
				//-10.06
				.col-auto
					a.btn-default.link-modal(href='#modal-load') Загрузите фотографию
				.col-auto
					a.btn-default.link-modal(href='#modal-load2') Загрузите фотографию2
				//-
				.col-auto
					a.btn-default.link-modal(href='#modal-achive') В архив
				.col-auto
					a.btn-default.link-modal(href='#modal-achive2') В архив2
	+footerAlt()
	+b.reg-btn--js.d-md-none(href="#") Зарегистрироваться