extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sDescr/_sDescr.pug
include ../blocks/profesionals/_profesionals.pug
include ../blocks/logPage/_logPage.pug

block variables
	- let  mainPage= null
block title
	- let  title= '010-restore'
	title= title
block pagecontent
	+logPage()
		+b.reg-form
			+form-wrap
				h1
					| Восстановление
					br
					| доступа
				+e.input-wrap.form-group
					label
						+e.SPAN.input-title.reuire E-mail:
						+e.INPUT.input.form-control(type="email" required name="email")
				+e.fc-row.row.align-items-center.pb-0
					.col-auto
						+e.BUTTON.login-btn(type="submit") Продолжить
