extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sDescr/_sDescr.pug
include ../blocks/profesionals/_profesionals.pug
include ../blocks/logPage/_logPage.pug
include ../blocks/sAccProfile/_sAccProfile.pug
include ../blocks/headerAlt/_headerAlt.pug
include ../blocks/sProfileN/_sProfileN.pug
include ../blocks/footerN/_footerN.pug
include ../blocks/sNVac/_sNVac.pug
include ../blocks/sCurriculum/_sCurriculum.pug

block variables
	- let  mainPage= 'bg-gray-120 mvp-page'
block title
	- let  title= '024-my-cv-fill'
	title= title
block pagecontent
	.headerAlt-cont
		+headerAlt()
	+sProfileNCv({
		title: 'Мое резюме'
	})
		+dataBox({
			imgPass: '@2x/proffesional-1.jpg',
			dataItems: [
				{
					key: 'Возраст',
					val: '24 года',
				}, {
					key: 'Город проживания',
					val: 'Самара',
				}, {
					key: 'Email',
					val: 'arts.man@mail.ru',
				}, {
					key: 'Телефон',
					val: '+7 (919) 811-28-48',
				}
			],
			soc: true,
		})
		+completeBox()
		+addBox()
			+addBoxItem(1, 'Условия работы', '+10%', '#work-conditions')
			+addBoxItem(2, 'Опыт работы', '+10%', '#experience')
			+addBoxItem(3, 'Образование', '+10%', '#education')
			+addBoxItem(4, 'Обо мне', '+13%', '#about')
			+addBoxItem(5, 'Семья', '+2%', '#family')
			+addBoxItem(6, 'Место жительства', '+1%', '#address')
			+addBoxItem(7, 'Профессиональные навыки', '+15%', '#prof-skills')
			+addBoxItem(8, 'Общие навыки', '+15%', '#common-skills')
			+addBoxItem(9, 'Достижения и награды', '+7%', '#achievements')
			+addBoxItem(10, 'Знание языков', '+15%', '#languages')
			+addBoxItem(11, 'Научная степень', '+5%', '#sience-grade')
			+addBoxItem(12, 'Повышение квалификации', '+10%', '#training')
			+addBoxItem(13, 'Предпочтения по работодателю', '+15%', '#employer-preferences')
			+addBoxItem(14, 'Предпочтения по вакансии', '+16%', '#vacancy-preferences')
			+addBoxItem(15, 'Статьи', '+5%', '#articles')
			+addBoxItem(16, 'Профессиональные сообщества', '+5%', '#prof-communities')
			+addBoxItem(17, 'Автомобиль', '+5%', '#automobile')
			+addBoxItem(19, 'Бонусы в работе', '+10%', '#bonuses')
		+tableBox({
			imgNum: 1,
			title: 'Условия работы',
			addHRowClasses: 'pb-30',
		})
		+tableBox({
			imgNum: 2,
			title: 'Опыт работы',
		})
			+tableBoxExpItem()
			+tableBoxExpItem()
		+tableBox({
			imgNum: 3,
			title: 'Образование',
		})
			+tableBoxEducationItem()
			+tableBoxEducationItem()
		+tableBox({
			imgNum: 4,
			title: 'Обо мне',
		})
			+e.about-txt
				| Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
				br
				br
				| Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
				br
				br
				| За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
		+tableBox({
			imgNum: 5,
			title: 'Семья',
		})
			+tableBoxItem('В браке','Да')
			+tableBoxItem('Дети','Нет')
		//-
		+tableBox({
			imgNum: 6,
			title: 'Место жительства',
		})
			+b.exp-item
				+e.row.row.align-items-center
					.col-auto
						+e.regular Россия, г. Москва, ул. Иванова, д. 55
		+tableBox({
			imgNum: 7,
			title: 'Профессиональные навыки',
		})
			+b.cv-skills.gy-1
				+e.row.row
					+cvSkill('Умный')
					+cvSkill('Усидчевый')
					+cvSkill('Умный')
					+cvSkill('Усидчевый')
					+cvSkill('Усидчевый')
		+tableBox({
			imgNum: 8,
			title: 'Общие навыки',
		})
			+b.cv-skills.gy-1
				+e.row.row
					+cvSkill('Умный')
					+cvSkill('Усидчевый')
					+cvSkill('Умный')
					+cvSkill('Усидчевый')
					+cvSkill('Усидчевый')
		+tableBox({
			imgNum: 9,
			title: 'Достижения',
		})
			+tableBoxAchivementItem()
			+tableBoxAchivementItem()
		+tableBox({
			imgNum: 10,
			title: 'Знание языков',
		})
			+tableBoxItem('Родной язык','Русский')
			+tableBoxItem('Инностранный язык')
				.col-auto
					+e.plate Английский
				.col-auto
					+e.txt-val A1 - Начальный
			+tableBoxItem('Инностранный язык')
				.col-auto
					+e.plate Испанский
				.col-auto
					+e.txt-val A1 - Начальный
		+tableBox({
			imgNum: 11,
			title: 'Научная степень',
		})
			+tableBoxItem('Наименование','Кандидат наук')
			+tableBoxItem('Наименование','Доктор наук')
		+tableBox({
			imgNum: 12,
			title: 'Повышение квалификации',
		})
			+tableBoxQualItem()
			+tableBoxQualItem()
		//-Предпочтения по работодателю
		+tableBox({
			imgNum: 13,
			title: 'Предпочтения по работодателю',
		})
			+tableBoxItem('Форма собственности','Не важно')
			+tableBoxItem('Численность сотрудников','До 20')
		//-
		+tableBox({
			imgNum: 13,
			title: 'Предпочтения по вакансии',
		})
			+tableBoxItem('Готовность к перезду в другие города')
				.col-auto
					+e.plate Москва
				.col-auto
					+e.plate Самара
				.col-auto
					+e.txt-val--check Столица субъекта
			+tableBoxItem('Готовность к командировкам','Частые')
			+tableBoxItem('Время на дорогу до работы','До 30 минут')
			+tableBoxItem('Тип занятости','')
				.col-auto
					+e.plate Полная занятость
				.col-auto
					+e.plate Частичная занятость
			+tableBoxItem('График работы','')
				.col-auto
					+e.plate Полный день
			+tableBoxItem('Условия оказание медицинской помощи','')
				.col-auto
					+e.plate Амбулаторно
				.col-auto
					+e.plate Амбулаторно
				.col-auto
					+e.plate Амбулаторно
				.col-auto
					+e.plate Амбулаторно
				.col-auto
					+e.plate Амбулаторно
			+tableBoxItem('Ночные дежурства','Не важно')
		//-
		+tableBox({
			imgNum: 15,
			title: 'Статьи',
		})
			+tableBoxArticleItem()
			+tableBoxArticleItem()
		+tableBox({
			imgNum: 16,
			title: 'Профессиональные сообщества',
		})
			+tableBoxUnionsItem()
			+tableBoxUnionsItem()
		+tableBox({
			imgNum: 17,
			title: 'Автомобиль',
		})
			+tableBoxItem('Категория прав')
				.col-auto
					+e.ball A
				.col-auto
					+e.ball B
			+tableBoxItem('Инностранный язык', 'Есть личный автомобиль')
		+tableBox({
			imgNum: 19,
			title: 'Бонусы в работе',
		})
			+e.event-item ДМС или медицинское обслуживание
			+e.event-item Комфортные условия труда
	//-proffesional-1
	+footerN()
	+scrollTopBtn()