extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sDescr/_sDescr.pug
include ../blocks/profesionals/_profesionals.pug
include ../blocks/logPage/_logPage.pug
include ../blocks/sAccProfile/_sAccProfile.pug
include ../blocks/headerAlt/_headerAlt.pug
include ../blocks/sProfileN/_sProfileN.pug
include ../blocks/footerN/_footerN.pug
include ../blocks/sNVac/_sNVac.pug
include ../blocks/sMyCab/_sMyCab.pug
include ../blocks/sCurriculum/_sCurriculum.pug
include ../blocks/sCompilations/_sCompilations.pug

block variables
	- let  mainPage= 'bg-gray-120 mvp-page'
block title
	- let  title= '026-my-cabinet'
	title= title
block pagecontent
	.headerAlt-cont
		+headerAlt()
	+sProfileNMyCab()
		+sMyCab({
			userImg: 'svg/user-stab-big.svg',
			userName: 'ФИО не заполнено',
			userEmail: 'mymail@mail.ru',
			userTell: 'Телефон не указан',
			userDuty: 'Должность не указана, город не указан',
			userSalary: 'Заработная плата не указана',
			userCvCompletness: '0%',
			hasCompilation: false,
		})
	+footerN()