extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sBaner/_sBaner.pug
include ../blocks/sVacDay/_sVacDay.pug
include ../blocks/sEmplDay/_sEmplDay.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sBalls/_sBalls.pug
include ../blocks/sLogoes/_sLogoes.pug
include ../blocks/sVantage/_sVantage.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sNow/_sNow.pug
include ../blocks/sReg/_sReg.pug
include ../blocks/sSearch/_sSearch.pug

block variables
	- let  mainPage= 'headings-color reg-page'
	//-headings-color has-reg-btn new-header
	- let  descr = 'Медикджобс – это сервис, который помогает медицинским сотрудникам найти работу, а работодателям кандидатов с помощью умного алгоритма подбора.'
block title
	- let  title= '036-accept'
	title= title
block pagecontent
	+sReg({
		title: 'Подтвердите регистрацию',
		logo: true,
		backHeader: true,
		lowerRow: false,
	})
		+e.accept-txt
			p
				| По адресу:
				|
				b yourmail@mail.ru
				|
				| вам выслано письмо со ссылкой, перейдите по ней, чтобы подтвердить свою почту и завершить регстрацию.
			p Если вы не видите письма во входящих, проверьте папку со спамом, а также другие папки, в которые письмо может попасть.
			p
				| Или
				|
				a.fw-600(href="#") отправьте письмо повторно.