extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sBaner/_sBaner.pug
include ../blocks/sVacDay/_sVacDay.pug
include ../blocks/sEmplDay/_sEmplDay.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sBalls/_sBalls.pug
include ../blocks/sLogoes/_sLogoes.pug
include ../blocks/sVantage/_sVantage.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sNow/_sNow.pug
include ../blocks/sReg/_sReg.pug
include ../blocks/sSearch/_sSearch.pug

block variables
	- let  mainPage= 'headings-color reg-page'
	//-headings-color has-reg-btn new-header
	- let  descr = 'Медикджобс – это сервис, который помогает медицинским сотрудникам найти работу, а работодателям кандидатов с помощью умного алгоритма подбора.'
block title
	- let  title= '037-personal'
	title= title
block pagecontent
	+sReg({
		title: 'Личная информация',
		logo: false,
		backHeader: false,
		stepHeader: true,
		stepHeaderItems: [
			'Личная информация',
			'Условия работы',
			'Опыт работы',
			'Образование',
			'Повышение квалификации',
		],
		checkedItems: 0,
		currentItem: 0,
		lowerRow: false,
	})
		+e.portrait-bl
			+e.portrait.sReg-portrait-js
				img(loading="lazy" src="img/svg/portrait-stab.svg" alt='')
			+e.p-txt
				b
					| Ваша фотография.
					|
				| формат: jpg, png.
				br
				| Максимальный размер файла: 2 Mb.
				br
				| Рекомендованный размер: 300х300 px.
			+e.LABEL.upload-label
				input.sReg-portrait-inp-js(type="file" accept=".png, .jpg, .jpeg" class="invisible")
				+e.upload Загрузить
		+form-wrap()(class="with-labels")
			+e.input-wrap.form-group
				label
					+e.SPAN.input-title.require Имя
					+e.INPUT.input.form-control(type="text" required name="" placeholder="Введите имя")
			+e.input-wrap.form-group
				label
					+e.SPAN.input-title.require Отчество
					+e.INPUT.input.form-control(type="text" required name="" placeholder="Введите отчество")
			+e.input-wrap.form-group
				label
					+e.SPAN.input-title.require Фамилия
					+e.INPUT.input.form-control(type="email" required name="" placeholder="Введите фамилию")
			//-
			+e.input-wrap
				+e.input-title.require Пол
				+e.inps-row.row.radio-row
					.col-auto
						+customRadio('Мужской','male','man')(checked)
					.col-auto
						+customRadio('Женский','male','woman')
			//-
			+e.input-wrap
				+e.input-title.require Дата рождения
				+e.inps-row.row
					.col
						+customSlect('day')
							- for (var i=1; i <= 30; i++)
								option=i
					+e.month-col.col-auto
						+customSlect('month', ['Января', 'Февраля', 'Марта'])
					.col
						+customSlect('year')
							option 1997
							- for (var i=1998; i <= new Date().getFullYear(); i++)
								option=i
			//-
			+e.input-wrap.form-group
				label
					+e.SPAN.input-title.require Город проживания
					+e.INPUT.input.form-control(type="text" required name="" placeholder="Введите город (дадата)")
			+e.input-wrap.form-group
				label
					+e.SPAN.input-title.require Телефон
					+e.INPUT.input.form-control(type="tel" required name="" placeholder="+7 (912) 345-67-89")
			+e.btn-cont.pt-18
				+e.green-btn(type="submit") Сохранить
			//-+e.input-wrap.form-group
				label
					+e.SPAN.input-title.require
					+e.INPUT.input.form-control(type="" required name="" placeholder="")
