
extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sBaner/_sBaner.pug
include ../blocks/sVacDay/_sVacDay.pug
include ../blocks/sEmplDay/_sEmplDay.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sBalls/_sBalls.pug
include ../blocks/sLogoes/_sLogoes.pug
include ../blocks/sVantage/_sVantage.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sNow/_sNow.pug
include ../blocks/sAdvantage/_sAdvantage.pug

block variables
	- let  mainPage= 'headings-color has-reg-btn new-header'
	- let  descr = 'Медикджобс – это сервис, который помогает медицинским сотрудникам найти работу, а работодателям кандидатов с помощью умного алгоритма подбора.'
block title
	- let  title= 'Qwiz 1'
	title= title
block pagecontent
	+mob-mnu5({
		logged: false,
	})
	+header()
		+top-nav5({
			logged: false,
			location: 'Москва',
		})
	.section.container.pb-0
		+b.sQwiz--1
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd5Ey_KRVsIo2xT-iSflyNvoCQkTlHjwJeFttc6gwReWDfwgQ/viewform?embedded=true" width="100%" height="5200"  frameborder="0"  scrolling="no" marginheight="0" marginwidth="0">Загрузка…</iframe>
	+footerAlt()
	+b.reg-btn--js.d-md-none(href="#") Зарегистрироваться