extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sDescr/_sDescr.pug
include ../blocks/profesionals/_profesionals.pug
include ../blocks/sVacPage/_sVacPage.pug


block variables
	- let  mainPage= null
block title
	- let  title= '05-vac-page'
	title= title
block pagecontent
	+mob-mnu4()
	+header()
		+top-nav4()
	+sVacPage()
		+inpStrip('Вакансии', 'Введите название вакансии')
		+breadcrumb('Главная', 'Вакансии', 'Врач стоматолог-терапевт')
	+footerAlt()