extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sBaner/_sBaner.pug
include ../blocks/sVacDay/_sVacDay.pug
include ../blocks/sEmplDay/_sEmplDay.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sBalls/_sBalls.pug
include ../blocks/sLogoes/_sLogoes.pug
include ../blocks/sVantage/_sVantage.pug
include ../blocks/sHow/_sHow.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sNow/_sNow.pug

block variables
	- let  mainPage= 'headings-color'
block title
	- let  title= 'index-alt'
	title= title
block pagecontent
	+mob-mnu2()
	+header()
		+top-nav2()
	+sBaner()
	+sVacDay()
	+sEmplDay()
	+sAbout()
	+sBalls()
	+sLogoes()
	+sVantage()
	+sHow()
	+sFAQ()
	+sNow()
	+footer('bg-white')