// start .sCompilations
.sCompilations {
	&__{}
	&__{}
	&__top-row{
		--bs-gutter-y: 24px;
		@include roww(24px);
		padding-bottom: 24px;

		@include media-breakpoint-between(xlg, xl){
			--bs-gutter-y: 18px;
			@include roww(18px);
			padding-bottom: 18px;
		}
	}
	&__edit-btn{
		color: $gray-600;
		.icon{
			@include mt();

			@media (max-width: 576px){
				font-size: 30px;
			}
			font-size: 24px;
			margin-right: 15px;
			@include media-breakpoint-between(xlg, xl){
				font-size: 18px;
				margin-right: 12px;
			}
		}

		span{
			font-weight: 500;
		}
	}

	//.custom-switch{
	//	@include media-breakpoint-between(xlg, xl){
	//		font-size: 13px;
	//	}
	//}

	.c-tabs{
		&__caption{
			@include roww(0);
			padding-bottom: 24px;
		}
		&__btn{
			display: flex;
			align-items: center;
			justify-content: center;
			height: rem(60);

			font-size: inherit;
			//font-size: 15px;
			//line-height: 18/15;

			background-color: $white;
			&:hover{
				background-color: $gray-100;
			}
			--btn-ba-o: 0;
			color: $gray-600;
			&.active{
				color: $headings-color;
				--btn-ba-o: 1;

				.icon-heart{
					color: $orange;
				}
			}

			//
			@include media-breakpoint-down(lg){
				--border-r: 0;
				&:first-child{
					--border-r: 5px 5px 0 0;
				}
				border: 1px solid $gray-210;
				border-bottom: none;
				&:last-child{
					--border-r: 0 0 5px 5px;
					border-bottom: 1px solid $gray-210;
				}
				border-radius: var(--border-r);
			}
			@include media-breakpoint-up(lg){
				--border-r: 0;
				&:first-child{
					--border-r: 5px 0 0 5px;
				}
				border: 1px solid $gray-210;
				border-right: none;
				&:last-child{
					--border-r: 0 5px 5px 0;
					border-right: 1px solid $gray-210;
				}
				border-radius: var(--border-r);
			}

			//outline
			position: relative;
			z-index: 1;
			&:before,
			&:after{
				opacity: var(--btn-ba-o);
				@include mt($sharp);
				//transition: all 3s ease-in-out;
				content: '';
				position: absolute;
			}

			&:before{
				z-index: -2;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(86.99deg, #2AED80 0.21%, #10B7F5 99.92%);
				border-radius: var(--border-r);
			}
			&:after{
				position: absolute;
				z-index: -1;
				background-color: $white;
				top: 2px;
				left: 2px;
				width: calc(100% - 4px);
				height: calc(100% - 4px);
				border-radius: var(--border-r);
			}

			//
			.icon{
				@include mt();

				@media (max-width: 576px){
					font-size: 30px;
				}
				font-size: 24px;
				@include media-breakpoint-between(xlg, xl){
					font-size: 18px;
				}

				margin-right: 14px;
			}

			.icon-cross-big{
				color: $gray-550;
			}
		}
		&__wrap{

		}
		&__content{
			display: none;
			&.active{
				display: block;
			}
		}
		&__ball{
			@media (max-width: 576px){
				width: 24px;
				height: 24px;
				font-size: 16px;
			}
			width: 20px;
			height: 20px;
			font-size: 12px;

			border-radius: 50%;
			background: $orange;

			margin-left: 6px;

			display: flex;
			align-items: center;
			justify-content: center;
			color: $white;

			font-weight: 500;
			line-height: (15/12);
		}
		&__{}
		&__{}

		&__plates-row{
			@include roww(12px);
			--bs-gutter-y: 12px;
			@include media-breakpoint-up(md){
				@include roww(24px);
				--bs-gutter-y: 24px;
			}

			@include media-breakpoint-between(xlg, xl){
				@include roww(18px);
				--bs-gutter-y: 18px;
			}
		}
	}

	//
	&__{}
	&__{}
} // end.sCompilations

.custom-switch{
	display: flex!important;
	align-items: center;
	cursor: pointer;

	input:checked + .line{
		background: $primary;

		&:before{
			left: calc(100% - 2px);
		}
	}
	.line{
		display: block;
		width: 36px;
		height: 18px;

		background: $gray-550;
		border-radius: 10px;
		margin-right: 12px;

		position: relative;
		&:before{
			@include mt();
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(-100%);
			width: 14px;
			height: 14px;
			background-color: $white;
			border-radius: 50%;
			left: calc(2px + 14px);
		}
	}
	.txt{
		//font-size: 15px;
		line-height: (18/15);
		color: $headings-color;
	}
}


//???
.form-check{
	//margin-bottom: 0!important;
	.form-check-input{
		//width: rem(36)!important;
		//height: rem(18);
		box-shadow: none!important;
		margin-right: 12px!important;
	}
}

//
.sComp-item{
	@include mt();
	min-height: 100%;

	display: flex;
	flex-direction: column;

	background: $white;
	border: 1px solid $gray-210;

	box-shadow: 0px 0px 15px rgba(38, 39, 40, 0);
	&:hover{
		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);
	}
	border-radius: 5px;
	overflow: hidden;

	--card-x-padd: 34px;
	@include media-breakpoint-up(md){
		--card-x-padd: 24px;
	}
	@include media-breakpoint-between(xlg,xl){
		--card-x-padd: 18px;
	}

	&__head{
		padding: 18px var(--card-x-padd, 24px);
		border-bottom: 1px solid $gray-210;
	}
	&__h-row{
		@include roww(8px)
	}
	&__h-time{
		display: flex;
		align-items: center;

		&:before{
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $orange;
			margin-right: 8px;
		}

		&--ball{
			&:before{
				content: '';
			}
		}
	}
	&__h-sub-row{}
	&__percents{
		font-weight: 500;
		//font-size: 15px;
		line-height: (18/15);
		color: $headings-color;
	}
	&__batery{
		@media (max-width: 576px){
			width: 30px;
			height: 30px;
		}
		width: 24px;
		height: 24px;
		@include media-breakpoint-between(xlg, xl){
			width: 18px;
			height: 18px;
		}

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	//hint
	.hint-row{
		&__quest-sign{
			@media (max-width: 576px){
				width: 24px;
				height: 24px;
			}
			.icon{
				//!!!!!min
				position: relative;
				left: 1px;

				//!!!!!max
				@media (max-width: 576px){
					font-size: 15px;
				}

			}
		}

		&__hint-cont{
			width: 240px;
			left: unset;
			right: -10px;
		}

		&__hint{
			&:before,
			&:after{
				left: calc(100% - 20px);
			}
		}
	}
	//
	&__content{
		flex-grow: 1;
		padding: 24px var(--card-x-padd, 24px) 30px var(--card-x-padd, 24px);

		@include media-breakpoint-between(xlg,xl){
			padding: 18px var(--card-x-padd, 24px) 24px var(--card-x-padd, 24px);
		}
	}
	&__title{
		font-weight: 500;

		@media (max-width: 576px){
			font-size: 24px;
		}
		font-size: 20px;

		@include media-breakpoint-between(xlg,xl){
			font-size: 18px;
			margin-bottom: 10px;
		}

		line-height: 1.5;
		color: $cyan;
		margin-bottom: 6px;
	}
	&__salary{
		font-weight: 500;

		@media (max-width: 576px){
			font-size: 24px;
		}
		font-size: 20px;
		margin-bottom: 18px;
		@include media-breakpoint-between(xlg,xl){
			font-size: 16px;
			margin-bottom: 16px;
		}

		line-height: 1.5;
	}
	&__logo-row{
		@include roww(12px);
		padding-bottom: 18px;
	}
	&__logo{
		@media (max-width: 576px){
			width: 72px;
			height: 72px;
		}
		width: 48px;
		height: 48px;
		border-radius: 5px;

		background: $white;
		border: 1px solid $gray-210;
		padding: rem(5);
		&--empty{
			background: $gray-100;
			border: 1px solid $gray-100;
			//padding: rem(8);
		}

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-height: 100%;
			max-width: 100%;
		}
	}
	&__descr{
		line-height: 1.75;
		margin-bottom: 6px;
	}
	&__detail{
		display: inline-block;
		font-weight: 500;
		line-height: 1.75;

		@extend .primary-link;
	}
	&__footer{
		position: relative;

		border-top: 1px solid $gray-210;

		display: flex;
		//align-items: center;
	}
	&__f-btn{
		background: $white;
		cursor: pointer;
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 576px){
			font-size: 20px;
		}
		padding: 18px;
		font-size: 15px;
		@include media-breakpoint-between(xlg, xxl){
			padding: 18px 12px;
			font-size: 12px;
		}

		&--like{
			color: $orange;
			&:hover{
				color: $orange;
			}
		}
		&--dislike{
			border-right: 1px solid $gray-210;
			color: $gray-600;
			&:hover{
				color: $gray-600;
			}
		}
		&--long{
			width: 100%;
			border-right: none;
		}

		font-weight: 500;
		line-height: (18/15);

		.icon{
			@media (max-width: 576px){
				font-size: 28px;
			}
			font-size: 24px;
			@include media-breakpoint-between(xlg, xxl){
				font-size: 18px;
			}
			margin-right: 12px;
			color: currentColor;
		}
	}

	//.big-btn-cont
	&__big-btn-cont{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $white;
	}
	&__{}
}