// start .sTitle
.sTitle {
	padding-top: 0;

	--sPT: 24px;
	--sPB: 27px;
	--sTPB: 20px;
	@include media-breakpoint-up(md){
		--sPT: 40px;
		--sPB: 40px;
	}
	@include media-breakpoint-up(xl){
		--sPT: 48px;
		--sPB: 52px;
		--sTPB: 24px;
	}

  @include media-breakpoint-up(md){
		background: $gray-130;
	}

	&__top-box{
		padding-top: var(--sPT);
		position: relative;
		z-index: 1;
		&:after{
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: calc(-1 * (100vw - 100%) / 2);
			width: 100vw;
			height: 100%;
			background: $gray-130;
		}

		margin-bottom: 24px;
		padding-bottom: 24px;
		@include media-breakpoint-up(md){
			padding-bottom: 0;
			margin-bottom: 20px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 24px;
		}
	}
	.section-title{

		h1{
			font-weight: 600;
			letter-spacing: -0.4px;

			font-size: 36px;
			@include media-breakpoint-up(xl){
				font-size: 42px;
			}
		}
	}

	//
	&__slider-wrap{
		padding: 12px;
		margin: -12px;
		@include media-breakpoint-up(md){
			overflow: hidden;
		}

		.swiper-container{
			overflow: visible!important;
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			width: 218px;
			@include media-breakpoint-up(md){
				width: calc(100%/4 - 12px*3/4);
			}
			@include media-breakpoint-up(lg){
				width: calc(100%/5 - 12px*4/5);
			}
			@include media-breakpoint-up(xl){
				width: calc(100%/6 - 12px*5/6);
			}

			height: auto;
		}
	}
	&__item{
		@include mt();
		min-height: 100%;
		display: flex;
		flex-direction: column;
		text-decoration: none;

		color: $body-color;
		&:hover{
			color: $cyan;
		}

		background: $white;

		padding: 22px 22px;
		border-radius: 12px;
		@include media-breakpoint-up(md){
			padding: 20.5px 19px;
			border-radius: 6px;
		}

		border: 1px solid $gary-110;
		box-shadow: 0px 4px 8px rgba(38, 39, 40, 0);
		&:hover{
			border: 1px solid $white;
			box-shadow: 0px 4px 8px rgba(38, 39, 40, 0.15);
		}

	}
	&__name{
		margin-bottom: 6px;
		//font-size: rem(16);
	}
	&__vac-amount{
		margin-top: auto;

		font-size: 20px;
		@include media-breakpoint-up(md){
			font-size: 14px;
		}
		color: $gray-600;
	}

	&__{}
	&__{}
	&__{}
} // end.sTitle

//
.new-search{
	&__search-row{
		--bs-gutter-x: 12px;
		--bs-gutter-y: 12px;
	}
	&__input-wrap{
		position: relative;
	}
	&__input{
		padding: 19px 24px;
		font-size: 24px;
		@include media-breakpoint-up(md){
			padding: 19.5px 19px;
			font-size: 15.5px;
		}

		padding-right: var(--inp-nav-w, 24px)!important;
	}
	&__inv-nav{
		position: absolute;
		z-index: 5;
		right: 5px;
		top: 5px;
		height: calc(100% - 10px);
		width: auto;

		display: flex;
		align-items: center;
	}
	&__in-row{
		--bs-gutter-x: 20px;
	}
	&__location{
		display: flex;
		align-items: center;
		text-decoration: none;

		.icon{
			@include mt();
			font-size: 24px;
			margin-right: 6px;
			color: $gray-550;
		}

		line-height: 1.25;
		color: $headings-color;

		&:hover{
			.icon{
				color: $orange;
			}
		}
	}
	&__filter-btn{
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			@include mt();
			font-size: 24px;
			color: $gray-550;
		}
		&:hover{
			.icon{
				color: $primary;
			}
		}
	}
	&__mob-filter-btn{
		@extend .white-btn;
		width: 60px;
		height: 60px;
		padding: 12px;

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			@include mt();
			font-size: 30px;
			color: $gray-550;
		}
	}
	&__mob-location{
		@extend .white-btn;
		padding: 14px 23px;

		display: flex;
		align-items: center;

		.icon{
			@include mt();
			font-size: 30px;
			margin-right: 12px;
			color: $orange;
		}

		color: $headings-color;
		font-size: 24px;
		line-height: (28/24);
	}

	&__find-btn{
		@extend .green-btn;

		font-weight: bold;
		line-height: (20/18);

		padding: 18px 24px;
		font-size: 24px;
		@include media-breakpoint-up(md){
			font-size: 18px;
			padding: 15px 24px;
		}
		width: 120px;
		@include media-breakpoint-up(lg){
			width: 170px;
		}
	}
}