include ../sBlogN/_sBlogN.pug

mixin sUsefull(data)
	// start sUsefull
	+b.SECTION.sUsefull.section#sUsefull&attributes(attributes)
		.container
			+b.section-title
				h2 Полезные статьи
			+e.slider-wrap
				.swiper-container.sUsefull-slider-js
					.swiper-wrapper
						- for (var i = 0; i < 2; i++)
							.swiper-slide
								+sUsefullItem(1)
							.swiper-slide
								+sUsefullItem(2)
							.swiper-slide
								+sUsefullItem(3)
					.d-none.d-lg-block
						+arrow2()
					.swiper-pagination.d-none.d-lg-flex
			.text-lg-center
				+b.all-btn(href="#")
					span Все статьи
					+icon('chevron-right')
	// end sUsefull

mixin sUsefullArticle(data)
	// start sUsefull
	+b.SECTION.sUsefull--article.section#sUsefull&attributes(attributes)
		.container
			+b.section-title
				h2 Похожее из блога
			+e.row.row
				.col-md-6.col-lg-4
					+sUsefullItemAlt({
						imgNum: 1,
						title: 'Что нужно знать о командировках, чтобы поездка не обернулась кошмаром',
						descr: 'Что можно считать стыдной работой? У каждого своя история',
					})
				.col-md-6.col-lg-4
					+sUsefullItemAlt({
						imgNum: 2,
						title: 'Долой территоризм: какие личные вещи запрещены на работе',
						descr: 'Что можно считать стыдной работой? У каждого своя история',
					})
				.col-md-6.col-lg-4.d-md-none.d-lg-block
					+sUsefullItemAlt({
						imgNum: 3,
						title: 'Тест: какой вы начальник?',
						descr: 'Что можно считать стыдной работой? У каждого своя история',
					})

mixin sUsefullItem(imgNum, addClasses='')
	+e.item(href="#" class=addClasses)
		+e.img
			img(loading="lazy" src=`img/@2x/sUsefull-${imgNum}.jpg` alt='')
		+e.title Долой территоризм: какие личные вещи запрещены на работе
		+e.descr Что можно считать стыдной работой? У каждого своя история
		+e.date 19 ноября 2021
