mixin sWhat(data)
	// start sWhat
	+b.SECTION.sWhat.section#sWhat&attributes(attributes)
		.container
			+b.section-title
				h2 Что такое MedicJobs?
			+e.row.row
				+sWhatItem(1, '#EBFBF3')
				+sWhatItem(2, '#F0F8FC')
				+sWhatItem(3, '#FAF4F2')
			+e.txt-box
				p Работа в Санкт-Петербурге — это широкий выбор вакансий в различных отраслях деятельности: от сотрудников сферы обслуживания до топ-менеджеров крупных компаний. Найти работу в этом многообразии несложно, для чего подходят различные методы. Можно пойти в Службу занятости или кадровое агентство, можно использовать свои социальные связи, можно напрямую обратиться в интересующие компании.
				p Однако наиболее популярным способом поиска работы в Санкт-Петербурге остаются сайты по трудоустройству. Чтобы быстро найти достойный вариант — размещайте резюме и ищите вакансии в тех источниках, которые пользуются широким спросом среди работодателей. К их числу относится Medicjobs. Используя нашу обширную информационную базу, вы быстро найдете подходящую вакансию.
	// end sWhat

mixin sWhatItem(imgNum, bgCol)
	.col-12.col-lg-4
		+e.item.text-center(style=`background-color: ${bgCol}`)
			+e.img
				img(loading="lazy" src=`img/svg/sWhat-${imgNum}.svg` alt="")
			+e.txt Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона