// start .sCatalog
.sCatalog {
	--sPB: 24px;
	--sTPB: 0;

	--sPT: 24px;
	@include media-breakpoint-up(md){
		--sPT: 20px;
	}
	@include media-breakpoint-up(xl){
		--sPT: 24px;
	}

	&__top-row{
		--bs-gutter-x: 20px;
		--bs-gutter-y: 12px;

		padding-bottom: 24px;
		@include media-breakpoint-up(md){
			padding-bottom: 20px;
		}
		@include media-breakpoint-up(xl){
			padding-bottom: 24px;
		}
	}
	&__found{
		font-size: 14px;
		color: $gray-600;
	}
	//
	&__dd{
		position: relative;
		z-index: 1;
		font-size: 14px;
	}
	&__dd-head{
		cursor: pointer;
		display: flex;
		align-items: center;

		&:after{
			content: '';
			width: 10px;
			height: 10px;
			margin-left: 6px;

			background-image: url(../img/svg/chevron-down-sm.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
	&__dd-content{
		display: none;
		&.active{
			display: block;
		}

		position: absolute;
		z-index: 20;
		min-width: 126px;
		max-width: 200px;

		left: 0;
		top: calc(100% + 7px);
		padding: 4px 0;

		background: $white;
		border: 1px solid $gray-220;
		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);
		border-radius: 5px;
	}
	&__dd-item{
		cursor: pointer;
		display: block;
		input:checked + .txt{
			&:after{
				opacity: 1;
			}
		}

		.txt{
			@include mt();
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 12px;

			background-color: $white;
			&:hover{
				background-color: rgba($light, .5);
			}

			&:after{
				flex-shrink: 0;
				@include mt();
				opacity: 0;
				content: '';
				width: 10px;
				height: 10px;
				margin-left: 6px;

				background-image: url(../img/svg/chevron-down-sm.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}
	}

	&__wide-btn{
		display: flex;
		align-items: center;
		cursor: pointer;
		font-size: 14px;

		.icon{
			@include mt();
			font-size: 20px;
			margin-left: 6px;
			color: $gray-550;
		}
		&:hover{
			.icon{
				color: $primary;
			}
		}
	}
	//
	&__baner{
    background: $gray-100;

		padding: 24px 24px 0;
		border-radius: 12px;
		@include media-breakpoint-up(md){
			padding: 40px;
			border-radius: 8px;
		}
		@include media-breakpoint-up(xl){
			padding: 48px;
		}
		margin-bottom: 24px;
	}
	&__b-row{
		--bs-gutter-x: 24px;
		--bs-gutter-y: 24px;
	}
	&__b-title{
		font-weight: 600;
		margin-bottom: 18px;

		font-size: 36px;
		@include media-breakpoint-up(md){
			font-size: 30px;
		}
		@include media-breakpoint-up(lg){
			font-size: 32px;
		}
		@include media-breakpoint-up(xl){
			font-size: 36px;
		}
	}
	&__b-txt-col{

		@include media-breakpoint-up(md){
			width: calc(308px + var(--bs-gutter-x));
		}
		@include media-breakpoint-up(lg){
			width: calc(336px + var(--bs-gutter-x));
		}
		@include media-breakpoint-up(xl){
			width: calc(380px + var(--bs-gutter-x));
		}
	}
	&__b-txt{
		margin-bottom: 24px;
		@include media-breakpoint-up(lg){
			margin-bottom: 20px;
		}
		@include media-breakpoint-up(md){
			margin-bottom: 24px;
		}
	}
	&__b-btn{
		@extend .green-btn;
		font-size: inherit;

		padding: 15px 24px;
		@include media-breakpoint-up(md){
			padding: 15px 34px;
		}
	}
	&__b-img{
		margin: 0 auto;
		@include media-breakpoint-up(md){
			margin: 0 0 0 auto;
		}

		width: 416px;
		@include media-breakpoint-up(md){
			width: 308px;
		}
		@include media-breakpoint-up(lg){
			width: 254px;
		}
		@include media-breakpoint-up(xl){
			width: 340px;
		}
		img{
			width: 100%;
			height: auto;
		}
	}

	//
	&__items{
		padding-bottom: 24px;
	}
	&__{}
} // end.sCatalog


//
.cat-item{
	@include mt();
	background: $white;

	border: 1px solid $gary-110;
	box-shadow: inset 0 0 0 1px rgba($primary, 0);
	&:hover{
		border: 1px solid $primary;
		box-shadow: inset 0 0 0 1px rgba($primary, 1);
	}

	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
	&:last-child{
		margin-bottom: 0;
	}

	overflow: hidden;
	position: relative;
	z-index: 1;
	&__bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&.gray-card{
		border: none!important;
		box-shadow: none!important;
		&:hover{
			border: none!important;
			box-shadow: none!important;
		}

		.cat-item__descr{
			max-width: 465px;
		}
		.cat-item__salary{
			color: $green4;
		}
		.cat-item__date{
			color: $headings-color;
		}

		.like-btn{

			color: $green4;
			&:hover{
				color: $green4;
			}
			&.active{
				.icon-like-fill{
					opacity: 1;
				}
				.icon-like{
					opacity: 0;
				}

				.icon{
					color: $green4!important;
				}
			}
		}
	}
	//

	&__top-row{
		--bs-gutter-x: 24px;
		--bs-gutter-y: 12px;

		padding-bottom: 12px;
	}
	&__title{
		display: inline-block;
		font-weight: 600;
		margin-bottom: 4px;
		letter-spacing: -0.3px;

		color: $headings-color;
		&:hover{
			color: $primary;
		}
	}
	&__salary{
		font-weight: 600;
		color: $primary;
	}
	&__date-row{
		--bs-gutter-x: 12px;
		--bs-gutter-y: 12px;
	}
	&__date{
		font-size: 14px;
		color: $gray-600;
	}
	.like-btn{

	}
	//
	&__pills-row{
		--bs-gutter-x: 6px;
		--bs-gutter-y: 6px;
		padding-bottom: 12px;
	}
	&__pill{
		font-size: 14px;
		line-height: (20/14);
		display: inline-flex;
		align-items: center;

		padding: 4px 6px;
		border-radius: 4px;
		min-height: 100%;
	}
	&__p-img{
		width: 20px;
		height: 20px;
		margin-right: 6px;

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__descr{
		font-size: 14px;

		& > *:last-child{
			margin-bottom: 0;
		}
		padding-bottom: 12px;
	}
	&__btns-row{
		--bs-gutter-x: 12px;
		--bs-gutter-y: 12px;
		padding-bottom: 11px;
	}
	&__btn{
		@extend .btn;
		padding: 10px 19px;
		min-width: 146px;
		border-radius: 6px;
		font-size: inherit;
		letter-spacing: -0.3px;

		&--blue{
			@extend .btn-primary;
			color: $white!important;
			font-weight: 600;
		}
		&--gray{
			@extend .btn-light;
		}
		&--teal{
			@extend .btn-teal2;
			color: $white!important;
			font-weight: 600;
		}
		&--white{
			@extend .btn-white;
		}
	}
	&__s-gray{
		font-size: 12px;
		color: $gray-600;
	}
	&__s-link{
		display: inline-block;
		color: $green4;
	}
	//
	&__bot-row{
		--bs-gutter-x: 12px;
		--bs-gutter-y: 12px;
	}
	&__org-name{
		font-size: 20px;
		@include media-breakpoint-up(md){
			font-size: 13.5px;
			line-height: 1.35;
		}

		margin-bottom: 6px;
		@include media-breakpoint-up(md){
			margin-bottom: 4px;
		}
	}
	&__city{
		font-size: 20px;
		@include media-breakpoint-up(md){
			font-size: 14px;
		}
		color: $gray-600;
	}
	&__logo{
		width: 66px;
		height: 66px;
		@include media-breakpoint-up(md){
			width: 48px;
			height: 48px;
		}

		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}

		background-color: $white;
	}
	//
	&__{}
}