mixin sLogoes(data)
	// start sLogoes
	+b.SECTION.sLogoes.section#sLogoes&attributes(attributes)
		.container
			+b.section-title--lined.text-center
				h2
					| На нашем сайте
					|
					br.d-md-none
					| представлены вакансии
					br
					| частных и государственных
					|
					br.d-xl-none
					| медицинских организаций
			+e.row.row
				-for(var i = 1; i < 13; i++)
					+sLogoesItem(i)
				-for (var i = 13; i < 25; i++)
					+sLogoesItem(i)
			//- +e.h-row-cont.sLogoes-row-js
			//- 	+e.row--hidden.row.hidden-row-js
			+e.show-hide-cont.text-center.pt-18.pt-sm-24.d-md-none
				+e.show-hide-btn.sLogoes-btn-js
					span Показать еще
					span Скрыть
	// end sLogoes

mixin sLogoesItem(imgNum)
	+e.col.col-4.col-md-3.col-xl-2
		+e.item
			.logo-img
				img(loading="lazy" src=`img/@2x/sLogoes-${imgNum}.png` alt="")