mixin mob-mnu()
	+b.mm--js.d-xl-none
		.container
			+b.UL.navMenu
				+e.LI.item: +e.A.link.active(href="#") Организации
				+e.LI.item: +e.A.link(href="#") Вакансии
				+e.LI.item: +e.A.link(href="#") Профессионалы
				+e.LI.item: +e.A.link.fw-400(href="#") Личный кабинет
				+e.LI.item: +e.A.link.fw-400(href="#") Уведомления
				+e.LI.item: +e.A.link.fw-400.text-warning(href="#") Выйти
	//  мобильное меню

mixin mob-mnu2()
	+b.mm--js.d-xl-none
		.container
			+b.UL.navMenu--alt
				+e.LI.item: +e.A.link.active(href="#") Соискатель
				+e.LI.item: +e.A.link.muted(href="#") Работодатель
				+e.LI.item: +e.A.link.fw-400(href="#") О проекте
				+e.LI.item: +e.A.link.fw-400(href="#") Помощь
				+e.LI.item: +e.A.link.fw-400(href="#") Контакты
			+e.btn-cont
				+e.btn(href="#") Разместить резюме

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.row.row
				.col.col-xl-auto
					+e.logo(href='#')
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col.d-none.d-xl-block
					+b.UL.navMenu
						+e.LI.item: +e.A.link.active(href="#") Организации
						+e.LI.item: +e.A.link(href="#") Вакансии
						+e.LI.item: +e.A.link(href="#") Профессионалы
				.col-auto
					+e.location(href='#')
						+icon('location')
						+e.loc-txt Санкт-Петербург
				.col-auto.d-none.d-lg-block
					+e.p-cab
						+e.pc-img
							img(loading="lazy" src="img/svg/user-stab.svg" alt="")
						+e.pc-txt Личный кабинет
						+icon('chevron-down')
				.col-auto.d-xl-none
					+e.burger.burger-js
						span
	// end top-nav

mixin top-nav2()
	// start top-nav
	+b.top-nav--alt.block-with-lazy
		+e.container.container
			+e.row.row
				.col.col-xl-auto
					+e.logo(href='#')
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col.d-none.d-xl-block
					+b.UL.navMenu
						+e.LI.item: +e.A.link.active(href="#") Соискатель
						+e.LI.item: +e.A.link(href="#") Работодатель
				+e.location-col.col-auto
					+e.location(href='#')
						+icon('location')
						+e.loc-txt Санкт-Петербург
				.col-auto.d-none.d-lg-block
					+e.place-cv(href="#") Разместить резюме
				.col-auto.d-xl-none
					+e.burger.burger-js
						span