.top-nav {
	border: 1px solid $gary-110;

	background-color: $body-bg;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-h);

	&.fixed{
		box-shadow: 0 9px 9px -9px rgba($black, .25);
	}

	//top-nav2
	&--alt{
		.top-nav__location{
			@include media-breakpoint-up(xl){

			}
		}
		.top-nav__{}
	}
	&__location-col{
		@include media-breakpoint-up(xl){
			padding-right: 2px;
		}
	}
	//

	&__container{

	}
	&__row{
		height: var(--header-h);
		align-items: center;


		@include media-breakpoint-up(md){
			@include roww(48px);
		}
	}

	&__logo{
		display: block;
		width: 218px;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}

	.navMenu{
		list-style: none;
		padding: 0;
		margin: 0;

		&__item{
			padding: 0;

			margin-right: 12px;
			@include media-breakpoint-up(lg){
				margin-right: 24px;
			}

			&:last-child{
				margin-right: 0;
			}
		}
		&__link{
			height: calc(var(--header-h) - 0px);
			line-height: calc(var(--header-h) - 0px);
			&.active{
				position: relative;
				&:before{
					content: '';
					position: absolute;
					bottom: 1px;
					left: 0;
					width: 100%;
					height: 2px;
					background: linear-gradient(86.99deg, #2AED80 0.21%, #10B7F5 99.92%);
				}
			}

			display: block;
			padding: 0;
			margin: 0;

			color: $body-color;
			&:hover{
				color: $primary;
			}
		}
	}
	//location
	&__location{
		display: flex;
		align-items: center;

		.icon{
			color: $warning;
			font-size: 24px;
			margin-right: 5px;
		}

		color: $body-color;
		&:hover{
			color: $primary;
		}

		margin-right: 7px;
		@include media-breakpoint-up(sm){
			margin-right: 0;
		}
	}
	&__loc-txt{

	}
	//place-cv
	&__place-cv{
		@extend .btn-default-outline;
		padding: 14px 22.25px;

		//line-height: 1.25;
	}

	//p-cab
	&__p-cab{
		display: flex;
		align-items: center;

		.icon{
			color: $warning;
			font-size: 8px;
		}
	}
	&__pc-img{
		width: 30px;
		height: 30px;
		margin-right: 10px;
		border-radius: 50%;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__pc-txt{
		margin-right: 8px;
	}

	&__burger{
		cursor: pointer;
		width: 40px;
		height: 40px;
		position: relative;

		span,
		span:before,
		span:after{
			display: block;
			@include mt();
			content: '';
			position: absolute;
			height: 3px;
			background-color: $secondary;
		}

		span{
			top: calc(50% - 1.5px);
			right: 0;
			width: 20px;
		}
		span:before{
			top: -10px;
			right: 0;
			width: 40px;
		}
		span:after{
			right: 0;
			top: 10px;
			width: 30px;
		}

		&.active{
			span{
				background-color: transparent;
			}
			span:before{
				top: -1.5px;
				transform: rotate(45deg);
			}
			span:after{
				width: 40px;
				top: -1.5px;
				transform: rotate(-45deg);
			}
		}
	}
	&__{}
	&__{}
}


.mm{
	position: fixed;
	top: var(--header-h);
	left: -120vw;
	//left: 0;
	&.active{
		left: 0;
	}
	overflow: auto;
	border-top: 1px solid $gary-110;

	width: 100vw;
	height: calc(100vh - var(--header-h));
	background-color: $white;
	z-index: 998;

	.navMenu{
		display: block;
		list-style: none;
		padding: 0;
		margin: 0;

		&__item{
			padding: 0;
			margin: 0 0 1px 0;

			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 100vw;
				bottom: 0;
				left: calc(-1 * (100vw - 100%) / 2);
				border-bottom: 1px solid $gary-110;
			}
		}
		&__link{
			&.active{
				color: $primary!important;
			}
			display: block;
			padding: 28px 0;
			text-align: inherit;
			font-weight: 600;

			color: $body-color;
			&:hover{
				color: $body-color;
				//color: $primary;
			}
		}

		//alt menu
		&--alt{
			.navMenu__item{}
			.navMenu__link{
				padding: 28px 0;

				&.active{
					color: $body-color!important;
					position: relative;
					z-index: 1;
					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: calc(-1 * (100vw - 100%) / 2);
						width: 2px;
						height: 100%;
						background: linear-gradient(180deg, #2AED80 0.21%, #10B7F5 99.92%);
					}
				}
				&.muted{
					color: $secondary!important;
				}



			}
		}
	}

	//
	&__btn-cont{
		padding: 24px 0;
	}
	&__btn{
		@extend .btn-default-outline2;
		width: 100%;
		padding: 14px 20px;

		font-weight: 600;
		font-size: 16px;
		line-height: 1.25;
	}
}