mixin mob-mnu()
	+b.mm--js.d-xl-none
		.container
			+b.UL.navMenu
				+e.LI.item: +e.A.link.active(href="#") Организации
				+e.LI.item: +e.A.link(href="#") Вакансии
				+e.LI.item: +e.A.link(href="#") Профессионалы
				+e.LI.item: +e.A.link.fw-400(href="#") Личный кабинет
				+e.LI.item: +e.A.link.fw-400(href="#") Уведомления
				+e.LI.item: +e.A.link.fw-400.text-warning(href="#") Выйти
	//  мобильное меню

mixin mob-mnu2()
	+b.mm--js.d-xl-none
		.container
			+b.UL.navMenu--alt
				+e.LI.item: +e.A.link.active(href="#") Соискатель
				+e.LI.item: +e.A.link.muted(href="#") Работодатель
				+e.LI.item: +e.A.link.fw-400(href="#") О проекте
				+e.LI.item: +e.A.link.fw-400(href="#") Помощь
				+e.LI.item: +e.A.link.fw-400(href="#") Контакты
			+e.btn-cont
				+e.btn(href="#") Разместить резюме

mixin mob-mnu3()
	+b.mm--js.d-xl-none
		.container
			+b.UL.navMenu--alt
				//-+e.LI.item: +e.A.link.active(href="#") Соискатель
				//-+e.LI.item: +e.A.link.muted(href="#") Работодатель
				+e.LI.item: +e.A.link.fw-400(href="#") О проекте
				+e.LI.item: +e.A.link.fw-400(href="#") Помощь
				+e.LI.item: +e.A.link.fw-400(href="#") Контакты
			+e.btn-cont
				+e.btn(href="#") Заполнить резюме

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.row.row
				.col.col-xl-auto
					+e.logo(href='#')
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col.d-none.d-xl-block
					+b.UL.navMenu
						+e.LI.item: +e.A.link.active(href="#") Организации
						+e.LI.item: +e.A.link(href="#") Вакансии
						+e.LI.item: +e.A.link(href="#") Профессионалы
				.col-auto
					+e.location
						+icon('location')
						+e.loc-txt Санкт-Петербург
				.col-auto.d-none.d-lg-block
					+e.p-wrap.lc-cont-js
						+e.p-cab.lc-dd-btn-js
							+e.pc-img
								img(loading="lazy" src="img/svg/user-stab.svg" alt="")
							+e.pc-txt.d-none.d-md-block Личный кабинет
							+e.pc-icon
								+icon('chevron-down')
						+pCabDD()
				.col-auto.d-xl-none
					+e.burger.burger-js
						span
	// end top-nav

mixin top-nav2()
	// start top-nav
	+b.top-nav--alt.block-with-lazy
		+e.container.container
			+e.row.row
				.col.col-xl-auto
					+e.logo(href='#')
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col.d-none.d-xl-block
					+b.UL.navMenu
						+e.LI.item: +e.A.link.active(href="#") Соискатель
						+e.LI.item: +e.A.link(href="#") Работодатель
				+e.location-col.col-auto
					+e.location
						+icon('location')
						+e.loc-txt Санкт-Петербург
				.col-auto.d-none.d-lg-block
					+e.place-cv(href="#") Разместить резюме
				.col-auto.d-xl-none
					+e.burger.burger-js
						span

mixin top-nav3()
	// start top-nav
	+b.top-nav--alt.block-with-lazy
		+e.container.container
			+e.row.row
				.col
					+e.logo(href='#')
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col-auto
					+e.location.link-modal(href='#modal-city') 
						+icon('location')
						+e.loc-txt Санкт-Петербург
				.col-auto
					+e.p-wrap.lc-cont-js
						+e.p-cab.lc-dd-btn-js
							+e.pc-img
								img(loading="lazy" src="img/svg/user-stab.svg" alt="")
							+e.pc-txt.d-none.d-md-block Личный кабинет
							+e.pc-icon
								+icon('chevron-down')
						+pCabDD()
				.col-auto.d-none.d-lg-block
					+e.place-cv(href="#") Разместить резюме
				.col-auto.d-xl-none
					+e.burger.burger-js
						span

mixin pCabDD()
	+b.p-cab-dd.lc-dd--js
		+e.inner
			+e.top-txt
				+e.name Константинопольский К. К.
				+e.id №1330-4
			+e.menu
				ul
					li: a(href="#") Подборки вакансий
					li: a(href="#") Мое резюме
					li: a(href="#") Настройки профиля
					li: a.log-out(href="#") Выйти из профиля

mixin top-nav4()
	// start top-nav
	+b.top-nav--alt.block-with-lazy
		+e.container.container
			+e.row.row
				.col.col-xl-auto
					+e.logo(href='#')
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col-auto.d-none.d-xl-block
					+e.colooker-dd-cont
						+e.c-dd-btn.colooker-dd-btn-js Соискатель
						+colookerDD()
				.col.d-none.d-xl-block
					+b.UL.navMenu
						+e.LI.item: +e.A.link.active(href="#") Главная
						+e.LI.item: +e.A.link(href="#") Вакансии
						+e.LI.item: +e.A.link(href="#") Организации
				+e.location-col.col-auto
					+e.location.link-modal(href='#modal-city') 
						+icon('location')
						+e.loc-txt Санкт-Петербург
				.col-auto.d-xl-none
					+e.burger.burger-js
						span

mixin colookerDD()
	+b.colooker-dd--js
		+e.content
			+e.box--top
				+e.item.active(href="#") Соискатель
				+e.item(href='#') Вакансии
				+e.item(href='#') Организации
			+e.box
				+e.item(href="#") Работодатель
			+e.box
				+e.item(href='#') О компании
				+e.item(href='#') Помощь
				+e.item(href='#') Контакты


mixin mob-mnu4()
	+b.mm--js.--alt.d-xl-none
		.container
			+b.UL.navMenu--alt
				+e.LI.item: +e.A.link.active(href="#") Соискатель
				+e.LI.item: +e.A.link.muted(href="#") Работодатель
				+e.LI.item: +e.A.link.fw-400(href="#") О проекте
				+e.LI.item: +e.A.link.fw-400(href="#") Помощь
				+e.LI.item: +e.A.link.fw-400(href="#") Контакты
			//-+e.btn-cont
				+e.btn(href="#") Разместить резюме

mixin top-nav5(data)
	// start top-nav
	+b.top-nav--alt.block-with-lazy
		+e.container--alt5.container
			+e.row--alt.row
				.col-auto.d-lg-none
					+e.burger--alt.burger-js
						span
				.col.col-lg-auto
					+e.logo--alt(href='#')
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col.d-none.d-lg-block
					+e.colooker-dd-cont
						+e.c-dd-btn.colooker-dd-btn-js Соискатель
						+colookerDD()
				+e.location-col.col-auto.d-none.d-md-block
					+e.location.link-modal(href='#modal-city')
						+icon('location')
						+e.loc-txt=`${data.location || 'Санкт-Петербург'}`
				.col-auto
					+e.blue-cv-btn.d-none.d-md-inline-block(href="#") Разместить резюме
					+e.mob-cv-btn.d-md-none(href="#")
						+e.mcv-icon
							+icon('plus-bold')
						+e.mcv-txt Разместить резюме
				if !data.logged
					.col-auto
						+e.enter-link.d-none.d-md-inline(href="#") Войти
						+e.mob-enter.d-md-none(href='#')
							+icon('avatar-stab')
				else
					.col-auto
						+e.p-wrap.lc-cont-js
							+e.p-cab.lc-dd-btn-js
								+e.pc-img
									img(loading="lazy" src="img/svg/user-stab.svg" alt="")
								+e.pc-txt.d-none.d-md-block Личный кабинет
								+e.pc-icon
									+icon('chevron-down')
							+pCabDD()

mixin mob-mnu5(data)
	+b.mm--js.--alt5.d-xl-none
		+b.new-mnu
			+e.box
				a.top-nav__blue-cv-btn(href="#") Разместить резюме
				if !data.logged
					+e.enter-btn(href="#") Войти
				else
					+e.enter-btn(href="#") Мой кабинет
			+e.box
				a.top-nav__location.link-modal(href='#modal-city')
					+icon('location')
					span.top-nav__loc-txt Санкт-Петербург
			+e.box--menu
				+e.item.active(href="#") Соискатель
				+e.item(href="#") Работодатель
				+e.item(href='#') Вакансии
				+e.item(href='#') Организации
			+e.box--menu
				+e.item(href='#') О компании
				+e.item(href='#') Помощь
				+e.item(href='#') Контакты

mixin alertLine()
	+b.alert-line--js.active
		.container
			.swiper-container.alert-line-slider-js
				.swiper-wrapper
					.swiper-slide
						+e.txt Уважаемые посетители! Сайт Medicjobs.ru находится на стадии технического запуска, заранее приносим извинения за возможные временные сбои в работе сайта.

mixin top-nav6(data)
	// start top-nav
	+b.top-nav--alt.--new.block-with-lazy
		+e.container--alt5.container.container-md-fluid.container-lg
			+e.row--alt.row
				.col-auto.d-lg-none
					+e.burger--alt.burger-js
						span
				.col.col-lg-auto.order-first.order-md-0
					+e.logo--alt(href='#')
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col.d-none.d-lg-block
					+e.colooker-dd-cont
						+e.c-dd-btn.colooker-dd-btn-js Соискатель
						+colookerDD2()
				+e.location-col.col-auto.d-none.d-md-block
					+e.location.link-modal(href='#modal-city')
						+icon('location')
						+e.loc-txt=`${data.location || 'Санкт-Петербург'}`
				.col-auto.d-none.d-md-block
					+e.blue-cv-btn.d-none.d-md-inline-block(href="#") Разместить резюме
				if !data.logged
					.col-auto.d-none.d-md-block
						+e.enter-link.d-none.d-md-inline.link-modal(href="#modal-login") Войти
						//+e.mob-enter.d-md-none(href='#')
							+icon('avatar-stab')
				else
					.col-auto
						+e.p-wrap.lc-cont-js
							+e.p-cab.lc-dd-btn-js
								+e.pc-img
									img(loading="lazy" src="img/svg/user-stab.svg" alt="")
								+e.pc-txt.d-none.d-md-block Личный кабинет
								+e.pc-icon
									+icon('chevron-down')
							+pCabDD()

mixin colookerDD2()
	+b.colooker-dd--js
		+e.content
			+e.box--top
				+e.item.active(href="#") Соискатель
				+e.item(href='#') Вакансии
				+e.item(href='#') Организации
				+e.item(href='#') Оценить компанию
				+e.item(href='#') Рейтинг зарплат
			+e.box
				+e.item.active(href="#") Работодатель
				+e.item(href='#') Публикация вакансии
				+e.item(href='#') Тарифы
			+e.box
				+e.item(href='#') Контакты

mixin mob-mnu6(data)
	+b.mm--js.--alt6.d-xl-none
		+b.new-mnu
			+e.box
				a.top-nav__blue-cv-btn(href="#") Разместить резюме
				if !data.logged
					+e.enter-btn(href="#") Войти
				else
					+e.enter-btn(href="#") Мой кабинет
			+e.box
				a.top-nav__location.link-modal(href='#modal-city')
					+icon('location')
					span.top-nav__loc-txt Комсомольск-на-Амуре
			+e.box--menu
				+e.item.active(href="#") Соискатель
				+e.item(href="#") Вакансии
				+e.item(href='#') Организации
				+e.item(href='#') Оценить компанию
				+e.item(href='#') Рейтинг зарплат
			+e.box--menu
				+e.item(href='#') Работодатель
				+e.item(href='#') Публикация вакансии
				+e.item(href='#') Тарифы
			+e.box--menu
				+e.item(href='#') Контакты
