.top-nav {
	transition: top .3s ease-in-out;
	border-bottom: 1px solid $gary-110;

	background-color: $body-bg;
	position: fixed;
	z-index: 999;
	top: var(--top-nav-top, 0px);
	left: 0;
	width: 100%;
	height: var(--header-h);

	&.fixed{
		box-shadow: 0 9px 9px -9px rgba($black, .25);
	}
	&.active{
		box-shadow: 0 9px 9px -9px rgba($black, 0) !important;
	}

	//top-nav2
	&--alt{
		.top-nav__row{
			@include roww(18px);
			@include media-breakpoint-up(md){
				@include roww(24px);
			}
		}
		.top-nav__{}
	}
	&--new{
		.top-nav__logo{
			@include media-breakpoint-down(md){
				width: 236px;
				img{
					width: 100%;
				}
			}
		}

		.top-nav__burger{
			width: 36px;

			@include media-breakpoint-down(md){
				span,
				span:before,
				span:after{
					height: 3px;
				}

				span:before{
					top: -12px;
				}
				span:after{
					top: 12px;
				}
			}
		}
		//
		.colooker-dd{
			font-size: 14px;
		}

		//burger
	}



	&__location-col{
		@include media-breakpoint-up(xl){
			padding-right: 2px;
		}
	}
	//top-nav4
	&__colooker-dd-cont{
		//margin: 0 24px;

		position: relative;

		--c-dd-scale: 0;
		&:hover{
			--c-dd-scale: 1;
		}
	}
	&__c-dd-btn{
		cursor: pointer;
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 1.25;
		color: $headings-color;

		&:after{
			@include mt();
			transform: var(--arrow-tf, rotateX(0deg));
			content: '';
			width: 10px;
			height: 10px;
			flex-shrink: 0;
			margin-left: 6px;

			background-image: url(../img/svg/chevron-down.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&.active{
			--arrow-tf: rotateX(180deg);
		}
	}


	&__{}
	//5
	&--alt5{

	}
	&__container{
		&--alt5{
			@include media-breakpoint-between(lg, xlg){
				padding: 0 8px;
			}
		}
	}
	&__row{
		height: var(--header-h);
		align-items: center;

		@include media-breakpoint-up(md){
			@include roww(48px);
		}
	}

	&__logo{
		display: block;
		width: 218px;

		&--alt{
			width: 188px;
			@include media-breakpoint-up(md){
				width: 170px;
			}
		}

		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}

	.navMenu{
		list-style: none;
		padding: 0;
		margin: 0;

		&__item{
			padding: 0;

			margin-right: 12px;
			@include media-breakpoint-up(lg){
				margin-right: 24px;
			}

			&:last-child{
				margin-right: 0;
			}
		}
		&__link{
			height: calc(var(--header-h) - 0px);
			line-height: calc(var(--header-h) - 0px);
			&.active{
				position: relative;
				&:before{
					content: '';
					position: absolute;
					bottom: 1px;
					left: 0;
					width: 100%;
					height: 2px;
					background: linear-gradient(86.99deg, #2AED80 0.21%, #10B7F5 99.92%);
				}
			}

			display: block;
			padding: 0;
			margin: 0;

			color: $body-color;
			&:hover{
				color: $primary;
			}
		}
	}
	//location
	&__location{
		display: flex;
		align-items: center;

		.icon{
			color: $warning;
			@media (max-width: 576px){
				font-size: 30px;
			}
			font-size: 24px;
			margin-right: 5px;
		}

		color: $body-color;
		&:hover{
			//color: $primary;
			color: $body-color;
		}

		margin-right: 7px;
		@include media-breakpoint-up(sm){
			margin-right: 0;
		}
	}
	&__loc-txt{
		@media (max-width: 576px){
			font-size: 20px;
		}
	}
	//place-cv
	&__place-cv{
		@extend .btn-default-outline2;
		padding: 14px 22.25px;

		font-weight: 600;
		font-size: 16px;
		line-height: 1.25;
		text-align: center;
	}

	//p-cab
	&__p-wrap{
		position: relative;
	}
	&__p-cab{
		cursor: pointer;
		display: flex;
		align-items: center;
		//
		//--p-cab-dd-scale: 0;
		//&:hover{
		//	--p-cab-dd-scale: 1;
		//}
		&.active{
			--chevron-tf: 180deg;
		}
	}
	&__pc-icon{
		@include mt($smooth);
		transform: rotateX(var(--chevron-tf, 0deg));

		.icon{
			color: $warning;
			font-size: 8px;
		}
	}

	&__pc-img{
		width: 30px;
		height: 30px;
		margin-right: 10px;
		border-radius: 50%;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__pc-txt{
		margin-right: 8px;
	}

	&__burger{
		cursor: pointer;
		width: 40px;
		height: 40px;
		position: relative;

		span,
		span:before,
		span:after{
			display: block;
			@include mt();
			content: '';
			position: absolute;
			height: 3px;
			background-color: $secondary;
		}

		span{
			top: calc(50% - 1.5px);
			right: 0;
			width: 20px;
		}
		span:before{
			top: -10px;
			right: 0;
			width: 40px;
		}
		span:after{
			right: 0;
			top: 10px;
			width: 30px;
		}

		&.active{
			span{
				background-color: transparent;
			}
			span:before{
				top: -1.5px;
				transform: rotate(45deg);
			}
			span:after{
				width: 40px;
				top: -1.5px;
				transform: rotate(-45deg);
			}
		}

		&--alt{
			width: 24px;
			height: 24px;
			@media (max-width: 576px){
				width: 32px;
				height: 32px;
			}

			span,
			span:before,
			span:after{
				width: 100%!important;
				height: 2px;
			}

			span:before{
				top: -8px;
			}
			span:after{
				top: 8px;
			}
		}
	}

	//5
	&__blue-cv-btn{
		@extend .btn;
		@extend .btn-outline-primary;

		padding: 8px 16px;
		min-width: 200px;
		font-weight: bold;
		font-size: rem(16);
		@media (max-width: 576px){
			font-size: 20px;
		}

		line-height: 1.25;
	}
	&__enter-link{
		font-size: 16px;
		@media (max-width: 576px){
			font-size: 20px;
		}

		line-height: 1.25;
		color: $headings-color;
		&:hover{
			color: $primary;
		}
	}

	//
	&__mob-cv-btn{
		display: inline-flex;
		align-items: center;

	}
	&__mcv-icon{
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		@media (max-width: 576px){
			width: 30px;
			height: 30px;
		}

		margin-right: 10px;
		border-radius: 50%;
		background: $cyan;

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			font-size: 12px;
			@media (max-width: 576px){
				font-size: 16px;
			}
			color: $white;
		}
	}
	&__mcv-txt{
		font-size: rem(16);
		@media (max-width: 576px){
			font-size: 20px;
		}
		line-height: 1.25;
		color: $headings-color;
	}
	&__mob-enter{
		margin-left: 3px;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		@media (max-width: 576px){
			width: 30px;
			height: 30px;
		}

		.icon{
			font-size: 24px;
			@media (max-width: 576px){
				font-size: 30px;
			}
			color: $gray-550;
		}
	}
	&__{}
	&__{}
}


.mm{
	position: fixed;
	top: var(--header-h);
	left: -120vw;
	//left: 0;
	&.active{
		left: 0;
	}
	overflow: auto;
	//border-top: 1px solid $gary-110;

	width: 100vw;
	max-height: calc(100vh - var(--header-h));
	height: auto;
	&--alt{
		height: calc(100vh - var(--header-h));
	}
	&--alt5{
		height: calc(100vh - var(--header-h));

		width: 374px;
		@include media-breakpoint-up(md){
			width: 272px;
		}
	}
	&--alt6{
		height: calc(100vh +  var(--header-h));
		max-height: unset;
		z-index: 1000!important;
		top: 0;

		width: 374px;
		@include media-breakpoint-up(md){
			width: 272px;
		}

		.top-nav__blue-cv-btn,
		.new-mnu__enter-btn{
			font-family: inherit!important;
			line-height: 1.25!important;
			font-size: inherit!important;
			font-weight: bold!important;
			border-width: 2px!important;

			padding: 13px 20px!important;
			@include media-breakpoint-up(md){
				padding: 3px 20px!important;
			}
		}
	}


	background-color: $white;
	z-index: 998;
	//border-bottom: 1px solid $gary-110;
	box-shadow: 0 10px 10px -10px rgba(38, 39, 40, 0.15);

	.navMenu{
		display: block;
		list-style: none;
		padding: 0;
		margin: 0;

		&__item{
			padding: 0;
			margin: 0 0 1px 0;

			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 100vw;
				bottom: 0;
				left: calc(-1 * (100vw - 100%) / 2);
				border-bottom: 1px solid $gary-110;
			}
		}
		&__link{
			&.active{
				color: $primary!important;
			}
			display: block;
			padding: 28px 0;
			text-align: inherit;
			font-weight: 600;

			color: $body-color;
			&:hover{
				color: $body-color;
				//color: $primary;
			}
		}

		//alt menu
		&--alt{
			.navMenu__item{}
			.navMenu__link{
				padding: 28px 0;

				&.active{
					color: $body-color!important;
					&:hover{
						color: $primary!important;
					}

					position: relative;
					z-index: 1;
					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: calc(-1 * (100vw - 100%) / 2);
						width: 2px;
						height: 100%;
						background: linear-gradient(180deg, #2AED80 0.21%, #10B7F5 99.92%);
					}
				}
				&.muted{
					color: $secondary!important;
					&:hover{
						color: $secondary!important;
					}
				}

				&:hover{
					color: $primary;
				}



			}
		}
	}

	//
	&__btn-cont{
		padding: 24px 0;
	}
	&__btn{
		@extend .btn-default-outline2;
		width: 100%;
		padding: 14px 20px;

		font-weight: 600;
		font-size: 16px;
		line-height: 1.25;
	}
}

.p-cab-dd{
	font-family: $mono;
	@include mt();
	transform-origin: top center;
	//transform: scaleY(var(--p-cab-dd-scale, 0));

	transform: scaleY(0);
	&.active{
		transform: scaleY(1);
	}


	position: absolute;
	right: 0;
	top: 100%;
	min-width: 260px;
	@media (max-width: 576px){
		min-width: 300px;
	}
	padding-top: 25px;

	&__inner{
		background: $white;
		border: 1px solid $gray-210;
		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);
		border-radius: 5px;
		padding: 12px 0;
		--inner-x-padd: 12px;
	}
	&__top-txt{
		padding: 12px var(--inner-x-padd, 12px);
	}
	&__name{
		font-weight: 500;
		//font-size: 15px;
		font-size: inherit;
		line-height: (18/15);
		color: $headings-color;
		margin-bottom: 6px;
	}
	&__id{
		//font-size: 15px;
		font-size: inherit;
		line-height: (18/15);
		color: $secondary;
	}
	&__menu{
		& > ul{
			list-style: none;
			padding: 0;
			margin: 0;

			& > li{

				a{
					display: block;
					//font-size: 15px;
					font-size: inherit;
					line-height: (18/15);
					color: $headings-color;

					padding: 10px var(--inner-x-padd, 12px);

					&:hover{
						background: rgba($gray-100, 0.5);
					}

					&.log-out{
						color: $secondary;
					}
				}
			}
		}
	}
	&__{}
	&__{}
}

.colooker-dd{
	@include mt();
	transform-origin: top center;
	//transform: scaleY(var(--c-dd-scale, 0));

	transform: scaleY(0);
	&.active{
		transform: scaleY(1);
	}

	position: absolute;
	z-index: 10;
	top: 100%;
	left: 0;
	width: auto;
	min-width: 186px;
	height: auto;
	padding-top: 20px;

	&__content{
		background: $white;
		border: 1px solid $gray-220;
		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);
		border-radius: 5px;
	}
	&__box{
		padding: 10px 0;
		border-bottom: 1px solid $gray-220;
		&:last-child{
			border-bottom: none;
		}
	}
	&__item{
		padding: 12px 14px;
		display: block;

		background-color: transparent;
		color: $headings-color;
		&:hover{
			color: $headings-color;
			background-color: rgba($gray-100, .5);
		}

		&.active{
			font-weight: bold;
		}
	}
	&__{}
}

//
.new-mnu{
	height: 100%;
	overflow-y: auto;

	--box-px: 24px;
	@include media-breakpoint-up(md){
		--box-px: 18px;
	}

	&__box{
		padding: 24px var(--box-px, 18px);
		border-bottom: 1px solid $gray-220;

		&:last-child{
			border-bottom: none;
		}

		&--menu{
			padding: 10px 0;
		}
	}
	.top-nav{
		&__blue-cv-btn{
			display: block;
			min-width: 100%;
			margin-bottom: 12px;
		}
		&__location{
			.icon{

			}
		}
		&__loc-txt{

		}
	}
	&__enter-btn{
		@extend .btn;
		@extend .btn-light;
		min-width: 100%;
		border-radius: 6px;

		font-weight: bold;
		font-size: rem(16);
		line-height: 1.25;
		color: $secondary;

		padding: 10px 15px;
	}

	&__item{
		display: block;
		padding: 10px var(--box-px, 18px);

		@media (max-width: 576px){
			font-size: 20px;
		}
		background-color: transparent;
		color: $headings-color;
		&:hover{
			background: rgba($gray-100, .5);
			color: $primary;
		}

		&.active{
			font-weight: bold;
		}
	}
	&__{}
}