mixin sMyCab(data)
	// start sMyCab
	+b.SECTION.sMyCab#sMyCab&attributes(attributes)
		+e.top-row.row
			if !data.hasCompilation
				.col-12.myCab-alert-js
					+e.alert
						+e.a-row.row.align-items-lg-center
							.col
								+e.a-sub-row.row.align-items-center
									.col-auto
										+e.a-img
											img(loading="lazy" src="img/svg/orange-alert.svg" alt="")
									.col
										+e.a-txt
											span.bolder Подтвердите регистрацию!
											br
											span
												| Мы отправили письмо для подтверждения регистрации на вашу почту:
												|
											span.bolder mymail@mail.ru
									+e.a-btn-col.col-lg-auto
										+e.a-btn(href="#") Отправить повторно
							.col-auto
								+e.close-btn.myCab-close-alert-js
									+icon('cross-big')
			.col-12
				h1.sProfileN__title Мой кабинет
			+sMyCabItem({
				title: 'Настройки профиля',
			})
				.col-auto
					+e.img
						img(loading="lazy" src=`img/${data.userImg || '@2x/proffesional-1.jpg'}` alt="")
				.col
					+e.txt-box
						+e.name=data.userName
						+e.b-txt=data.userEmail
						+e.b-txt=data.userTell
			+sMyCabItem({
				title: 'Мое резюме',
			})
				.col-12
					+e.b-txt=data.userDuty
					+e.b-txt.mb-24=data.userSalary
					+e.b-hint-cont
						+b.hint-row.row.mb-12
							+e.title.col-auto Заполненность резюме
							.col
								+e.quest-sign
									+icon('q-sign')
									+e.hint-cont
										+e.hint Чем больше информации вы укажите в своем резюме, тем эффективнее интеллектуальная подборка сможет подобрать для вас подходящие вакансии.
					+completeStrip(data.userCvCompletness)
			.col-12
				+e.compil-row.row
					.col-auto
						+e.c-title Мои подборки
					if data.hasCompilation
						.col-auto
							+e.c-ball 12
			if data.hasCompilation
				+threeCards('item-regular-js', 'col-md-6 col-lg-4')
				.col-12.text-center
					+e.compil-btn(href="#") Перейти в Мои подборки
			else
				.col-12
					+compilationsEmpty()
	// end sMyCab

mixin sMyCabItem(data)
	.col-xl-6
		+e.box
			+e.b-row.row.pb-24.align-items-center
				.col
					+e.title=data.title
				.col-auto
					+e.edit-btn(href='#')
						+icon('pencil2')
						span Редактировать
			+e.b-row.row.align-items-center
				block

mixin sMyCabC(data)
	// start sMyCab
	+b.SECTION.sMyCab#sMyCab&attributes(attributes)
		+e.top-row.row
			if !data.hasCompilation && !data.moderation
				.col-12.myCab-alert-js
					+e.alert
						+e.a-row.row.align-items-lg-center
							.col
								+e.a-sub-row.row.align-items-center
									.col-auto
										+e.a-img
											img(loading="lazy" src="img/svg/orange-alert.svg" alt="")
									.col
										+e.a-txt
											span.bolder Подтвердите регистрацию!
											br
											span
												| Мы отправили письмо для подтверждения регистрации на вашу почту:
												|
											span.bolder mymail@mail.ru
									+e.a-btn-col.col-lg-auto
										+e.a-btn(href="#") Отправить повторно
							.col-auto
								+e.close-btn.myCab-close-alert-js
									+icon('cross-big')
			if data.moderation
				.col-12.myCab-alert-js
					+e.alert
						+e.a-sub-row.row.align-items-center
							.col-auto
								+e.a-img
									img(loading="lazy" src="img/svg/orange-alert.svg" alt="")
							.col
								+e.a-txt--alt-lh
									span.bolder Ваш профиль на модерации.
									br
									span Вы можете создавать вакансии, но пока не можете их публиковать. Мы свяжемся с вами для подтверждения регистрации, после чего вы сможете воспользоваться полным функционалом.
			.col-12
				h1.sProfileN__title Мой кабинет
			.col-12
				+e.box
					+e.b-row.row.pb-24.align-items-center
						.col
							+e.title=data.title
						.col-auto
							+e.edit-btn(href='#')
								+icon('pencil2')
								span Редактировать
					+e.cr-row.row.align-items-center
						.col-auto
							if data.logo
								+e.cr-portrait
									img(loading="lazy" src='img/@2x/creator-my-cab-logo.png' alt="")
							else
								+e.cr-portrait--empty
									img(loading="lazy" src='img/svg/company-stab6.svg' alt="")
						+e.cr-txt-col.col
							+e.cr-name=data.name
							+e.cr-city=data.city
							+e.cr-tel=data.tel
							+e.cr-mail=data.mail
							if data.cite
								+e.cr-cite(href="#" target="blank") https://medclinica.ru
							else
								+e.cr-no-cite Адрес сайта не указан
			.col-12
				+e.compil-row.row
					.col-auto
						+e.c-title Мои вакансии
			if data.hasVacantions
				.col-12
					+snVacItemCreator({
						time: 'Вчера, 17:53',
						vacName: 'Врач хирург-терапевт',
						salary: '330 000 ₽',
						publishedDate: true,
						remain: true,
						greenPlate: true,
						mutedPlate: false,
						hasBtnsRow: true,
						blueBtn: true,
						grayBtn: true,
						orangeBtn: true,
					})
					+snVacItemCreator({
						time: 'Вчера, 17:53',
						vacName: 'Врач хирург-терапевт',
						salary: '330 000 ₽',
						mutedPlate: 'Черновик',
						hasBtnsRow: true,
						grayBtn: true,
					})
					+snVacItemCreator({
						time: 'Вчера, 17:53',
						vacName: 'Врач хирург-терапевт',
						salary: '330 000 ₽',
						mutedPlate: 'Архив',
					})
				.col-12.text-center
					+e.compil-btn(href="#") Перейти в Мои вакансии
			else
				.col-12
					+sNVacCreatorEmpty()

			//-if data.hasCompilation