extends layout/main.pug

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sDescr/_sDescr.pug
include ../blocks/profesionals/_profesionals.pug
include ../blocks/logPage/_logPage.pug
include ../blocks/sAccProfile/_sAccProfile.pug
include ../blocks/headerAlt/_headerAlt.pug
include ../blocks/sProfileN/_sProfileN.pug
include ../blocks/footerN/_footerN.pug
include ../blocks/sNVac/_sNVac.pug
include ../blocks/sCurriculum/_sCurriculum.pug

block variables
	- let  mainPage= 'bg-gray-120 mvp-page my-cv-page'
block title
	- let  title= '023-my-cv'
	title= title
block pagecontent
	.headerAlt-cont
		+headerAltNew({
			logoColClasses: 'col',
			hasSearch: false,
			hasVacBtn: '',
			hasBell: false,
			bellActive: '',
		})
	+sProfileNCv({
		title: 'Мое резюме'
	})
		+dataBox({
			imgPass: 'svg/sm-portrait-stab.svg',
			dataItems: [
				{
					key: 'Возраст',
				}, {
					key: 'Город проживания',
				}, {
					key: 'Email',
					val: 'arts.man@mail.ru',
				}, {
					key: 'Телефон',
				}
			],
			soc: false,
		})
		//+resumeMove()
		+resumeMove()
		+completeBox()
		+addBox()
	//-proffesional-1
	+footerN()