extends layout/main.pug


include ../blocks/sNow/_sNow.pug
include ../blocks/sSearch/_sSearch.pug
include ../blocks/sTitle/_sTitle.pug
include ../blocks/sDayVac/_sDayVac.pug
include ../blocks/sEmployer/_sEmployer.pug
include ../blocks/sFresh/_sFresh.pug
include ../blocks/sWork/_sWork.pug
include ../blocks/sTell/_sTell.pug
include ../blocks/sUsefull/_sUsefull.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sService/_sService.pug
include ../blocks/sStart/_sStart.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sVacCard/_sVacCard.pug

block variables
	- let  mainPage= 'headings-color new-header new-page'
	- let  htmlClasses= 'alt-base-size'
	- let  descr = 'Медикджобс – это сервис, который помогает медицинским сотрудникам найти работу, а работодателям кандидатов с помощью умного алгоритма подбора.'
block title
	- let  title= 'no-logo'
	title= title
block pagecontent
	+mob-mnu6({
		logged: false,
		modalLocationAlt: true,
	})
	+header()
		+top-nav6({
			logged: false,
			modalLocationAlt: true,
			location: 'Санкт-Петербург',
		})
	+sVacCard({
		gray: true,
		pillsRowAlt: true,
		loginBaner: true,
		noLogo: true,

		likeLinkHref: '#modal-login',
		likeLinkJsClass: 'link-modal',
	})
	+footerAltNew('bigger')