extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sWhat/_sWhat.pug

block variables
	- let  mainPage= ''
	- let  descr = 'Медикджобс – это сервис, который помогает медицинским сотрудникам найти работу, а работодателям кандидатов с помощью умного алгоритма подбора.'
block title
	- let  title= 'MEDICJOBS.RU | Подбор вакансий для медицинских сотрудников'
	title= title
block pagecontent
	+mob-mnu4()
	+alertLine()
	+header()
		+top-nav4()
	+headerBlock()
	+sCards()
	+sWhat()
	+footerAlt()