mixin sService(data)
	// start sService
	+b.SECTION.sService.section#sService&attributes(attributes)
		.container
			+b.section-title
				h2 О сервисе MedicJobs
				+e.toggle-box.toggle-box-js
					+e.content
						p MedicJobs создан медиками для медиков. Мы понимаем, с какими проблемами сталкивается медицинский сотрудник при поиске работы. Именно для этого мы создали MedicJobs, чтобы работодатели могли быстро найти подходящего сотрудника, а соискатели — хорошую работу. Мы понимаем всю специфичность профессии, поэтому внедрили гибкие фильтры, интеллектуальный подбор, систему оценок и многое другое. MedicJobs будет выдавать в поиске только подходящие вакансии и рекомендовать резюме работодателям автоматически. Наша задача - минимизировать ваши потери времени и оказать эффективную помощь по поиску работы.
					+e.hidden.toggle-content-js
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur autem consequatur cupiditate ex laudantium minima minus modi molestiae mollitia nesciunt numquam, odit qui sint tenetur. Ab culpa eaque eligendi id ipsa maxime minus nisi non odit omnis perspiciatis quas, qui rem saepe veritatis vero voluptates? Ab ad adipisci aliquam aliquid architecto asperiores atque consequatur cumque doloremque, ea eligendi eos excepturi explicabo facere id incidunt iure maxime, molestiae nobis non obcaecati odit perferendis placeat provident quidem repellendus sed temporibus vel voluptas voluptate. Ab ad asperiores at, corporis, culpa distinctio fugit ipsam maxime modi molestiae molestias numquam perferendis quaerat, ut voluptatum?
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur autem consequatur cupiditate ex laudantium minima minus modi molestiae mollitia nesciunt numquam, odit qui sint tenetur. Ab culpa eaque eligendi id ipsa maxime minus nisi non odit omnis perspiciatis quas, qui rem saepe veritatis vero voluptates? Ab ad adipisci aliquam aliquid architecto asperiores atque consequatur cumque doloremque, ea eligendi eos excepturi explicabo facere id incidunt iure maxime, molestiae nobis non obcaecati odit perferendis placeat provident quidem repellendus sed temporibus vel voluptas voluptate. Ab ad asperiores at, corporis, culpa distinctio fugit ipsam maxime modi molestiae molestias numquam perferendis quaerat, ut voluptatum?
					+b.toggle-txt-btn.toggle-btn-js
						span Показать полностью
						span Свернуть
	// end sService