// start .headerAlt
.headerAlt {
	transition: top .3s ease-in-out;
	top: var(--top-nav-top, 0px);
	//top: 0;

	position: fixed;
	width: 100%;

	left: 0;
	z-index: 999;
	background-color: $white;
	border-bottom: 1px solid $gray-210;

	@media (max-width: 576px){
		padding: 24px 0;
	}
	padding: 18px 0;
	@include media-breakpoint-up(md){
		padding: 24px 0;
	}
	@include media-breakpoint-up(xl){
		padding: 15px 0;
	}

	&__container{

	}
	&__row{
		@media (max-width: 576px){
			--col-mb: 18px;
		}
		@include roww(18px);
		--col-mb: 14px;
		@include media-breakpoint-up(md){
			@include roww(24px);
			--col-mb: 18px;
		}
	}
	&__logo-col{
		@include media-breakpoint-up(xlg){
			min-width: 241px;
		}
		@include media-breakpoint-up(xl){
			min-width: 246px;
		}
		@include media-breakpoint-up(xxl){
			min-width: 290px;
		}
		@include media-breakpoint-up(base){
			min-width: 265px;
		}
	}
	&__logo{
		display: block;
		width: 200px;
		@media (max-width: 576px){
			width: 240px;
			img{
				width: 100%;
			}
		}

		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}
	//
	&__search-col{

	}
	&__search{
		max-width: var(--cont-mw-xl, 1140px);
		margin: 0 auto;
		position: relative;
	}
	&__s-input{
		width: 100%;
		@media (max-width: 576px){
			font-size: 21px;
			padding: 12px 44px;
		}

		padding: 9px 38px;
		border-radius: 50px;

		@include media-breakpoint-between(xlg, xl){
			font-size: 14px;
		}
	}
	&__search-btn{
		@extend .btn;
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);

		@media (max-width: 576px){
			width: 24px;
			height: 24px;
		}
		width: 18px;
		height: 18px;
		padding: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		font-size: 15px;
		line-height: (18/15);

		.icon{
			@include mt($smooth);

			@media (max-width: 576px){
				font-size: 24px;
			}
			font-size: 18px;
			color: $secondary;
		}
		&.active{
			.icon{
				color: $warning;
			}
		}
	}
	//

	//serch-type-dd
	&__serch-type-dd{
		position: absolute;
		top: 0;
		height: 100%;
		right: 0;
	}
	&__st-txt{
		cursor: pointer;
		height: 100%;
		display: flex;
		align-items: center;
		padding-right: 24px;

		&:after{
			@include mt();
			transform: rotateX(0deg);

			display: inline-block;
			content: '';
			width: 10px;
			height: 10px;
			margin-left: 12px;

			background-image: url(../img/svg/chevron-down.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&.active{
			&:after{
				transform: rotateX(180deg);
			}
		}
	}
	&__st-dd{
		@include mt();
		transform-origin: top center;

		position: absolute;
		top: 100%;
		right: 24px;
		width: auto;
		padding-top: 12px;

		transform: scaleY(0);
		z-index: 99;
		&.active{
			transform: scaleY(1);
			z-index: 990;
		}
	}
	&__st-inner{
		background: $white;
		border: 1px solid $gray-210;
		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);
		border-radius: 5px;
		padding: 12px 0;
	}

	&__st-item{
		display: block;
		cursor: pointer;
		padding: 12px;

		&.current{
			background: $gray-100;
		}
		&:hover{
			background: rgba($gray-100, .5);
		}
	}
	&__{}
	//

	&__bell{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;

		&:after{
			opacity: 0;
			@include mt($sharp);
			content: '';
			position: absolute;
			z-index: 1;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $warning;
			top: 0;
			right: 0;
		}

		@media (max-width: 576px){
			width: 30px;
			height: 30px;
		}
		width: 24px;
		height: 24px;
		.icon{
			@include mt($sharp);
			@media (max-width: 576px){
				font-size: 30px;
			}
			font-size: 24px;
			color: $gray-550;
		}

		&.active{
			&:after{
				opacity: 1;
			}
			.icon{
				color: $warning;
			}
		}
	}
	&__lc-cont{
		--p-cab-dd-scale: 0;
		&:hover{
			--p-cab-dd-scale: 1;
		}

		position: relative;
		&:hover{
			//--dd-scale: 1;
		}
	}
	&__lc-row{
		@include roww(12px);
		cursor: pointer;

		--dd-scale: 0;
		position: relative;

		&.active{
			--chevron-tf: 180deg;
		}
	}
	&__lc-txt{
		@media (max-width: 576px){
			display: none;
		}
	}
	&__lc-img{
		display: block;
		@media (max-width: 576px){
			width: 40px;
			height: 40px;
		}
		width: 30px;
		height: 30px;
		border-radius: 50%;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__lc-icon{
		@include mt($smooth);
		transform: rotateX(var(--chevron-tf, 0deg));

		.icon{
			font-size: 7px;
			color: $warning;
		}
	}

	&__burger{
		cursor: pointer;
		@media (max-width: 576px){
			width: 40px;
			height: 40px;
		}
		width: 34px;
		height: 34px;
		position: relative;

		span,
		span:before,
		span:after{
			display: block;
			@include mt();
			content: '';
			position: absolute;
			height: 3px;
			background-color: $secondary;
			width: 100%;
		}

		span{
			top: calc(50% - 1.5px);
			right: 0;
		}
		span:before{
			top: -8px;
			right: 0;
		}
		span:after{
			right: 0;
			top: 8px;
		}

		&.active{
			span{
				background-color: transparent;
			}
			span:before{
				top: -1.5px;
				transform: rotate(45deg);
			}
			span:after{
				top: -1.5px;
				transform: rotate(-45deg);
			}
		}
	}
	//
	&__{}
	&__{}
	&__{}
} // end.headerAlt

.lc-dd{
	@include mt(($smooth * 1.25));
	position: absolute;
	transform-origin: top left;

	transform: scaleY(var(--p-cab-dd-scale, 0));
	//transform: scaleY(0);
	//z-index: 99;
	//&.active{
	//	transform: scaleY(1);
	//	z-index: 990;
	//}
	top: 100%;
	right: 0;
	max-width: 80vw;
	width: auto;
	padding-top: 25px;

	--lc-padd-x: 12px;

	&__box{
		padding: 12px 0;
		background: $white;
		border: 1px solid $gray-210;
		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);
		border-radius: 5px;

		//1 ul
		& > ul{
			list-style: none;
			padding: 0;
			margin: 0;

			//1 li
			& > li{

				//1 a
				& > a{
					display: block;
					color: $headings-color;
					padding: 10px var(--lc-padd-x, 12px);

					background-color: $white;
					&:hover{
						background-color: rgba($gray-100, .5);
					}
				}
			}
		}
	}
	&__name{
		white-space: nowrap;
		padding: 12px var(--lc-padd-x, 12px) 6px var(--lc-padd-x, 12px);
		font-weight: 500;
	}
	&__id{
		//font-size: 15px;
		line-height: (18/15);
		color: $gray-600;
		padding: 0 var(--lc-padd-x, 12px) 12px var(--lc-padd-x, 12px);
	}
	&__{}
	&__{}
}

.mvp-menu{
	@include mt(($smooth * 1.25));
	transform-origin: top left;

	transform: scaleY(0);
	z-index: 100;
	&.active{
		transform: scaleY(1);
		z-index: 998;
	}
	position: absolute;
	background: $white;
	box-shadow: 0px 10px 15px rgba(38, 39, 40, 0.15);

	width: 100vw;
	left: 0;
	top: calc(100% + 0.8px);
	height: auto;

	& > ul{
		list-style: none;
		padding: 0;
		margin: 0;
		& > li{
			border-bottom: 1px solid $gray-100;
			&:last-child{
				border-bottom: none;
			}

			& > a{
				display: block;
				padding: 18px var(--mvp-cont-padd-x, 24px);
				color: $headings-color;
				line-height: 1.5;
			}
		}
	}
}

//
.bell-dd{
	@include mt(($smooth * 1.25));
	transform-origin: top center;

	--bell-scale: scaleY(0);
	z-index: 99;
	&.active{
		--bell-scale: scaleY(1);
		z-index: 990;
	}

	position: absolute;
	top: 100%;

	//transform: var(--bell-scale);
	left: 50%;
	transform: translateX(-50%) var(--bell-scale);
	padding-top: 28px;

	&__box{
		width: 390px;
		height: auto;
		max-height: 320px;
		overflow-y: auto;

		background: $white;
		border: 1px solid $gray-210;
		box-shadow: 0px 0px 15px rgba(38, 39, 40, 0.15);
		border-radius: 5px;
	}
	&__message{
		@include mt($sharp);
		border-bottom: 1px solid $gray-100;

		padding: 12px 12px 12px 23px;
		display: block;
		background-color: $white;
		&:hover{
			background-color: $light;
		}

		position: relative;
		&:before{
			flex-shrink: 0;
			content: '';
			position: absolute;
			left: 12px;
			top: 16px;

			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $warning;
			margin-right: 6px;
		}
	}
	&__title{
		display: block;
		margin-bottom: 6px;
		color: $headings-color;
	}
	&__date{
		display: block;
		font-size: 13px;
		line-height: (16/13);
		color: $secondary;
	}
}

.headerAlt-cont{
	//padding-top: var(--header-h, 125px);
	padding-top: calc(var(--header-h, 125px) + var(--top-nav-top, 0px));
	@include media-breakpoint-up(md){
		//padding-top: var(--header-h, 90px);
		padding-top: calc(var(--header-h, 90px) + var(--top-nav-top, 0px));
	}
}

//
.vac-btn{
	@extend .btn;
	@extend .btn-light;
	border: none!important;
	padding: 8px 20px;
	border-radius: 60px;

	font-size: 15px;
	@include media-breakpoint-between(xlg, xl){
		font-size: 13px;
	}

	display: inline-flex;
	align-items: center;

	color: $headings-color!important;
	background-color: $gray-100!important;
	&:hover{
		color: $white!important;
		background-color: $primary!important;

		--v-icon-bg: #{$white};
		--v-icon-col: #{$primary};
	}

	&__v-icon{
		@include mt();
		width: 24px;
		height: 24px;
		@include media-breakpoint-between(xlg, xl){
			width: 18px;
			height: 18px;
		}

		border-radius: 50%;
		background-color: var(--v-icon-bg, #{$primary});
		margin-right: 10px;

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			@include mt();
			font-size: 12px;
			color: var(--v-icon-col, #{$white});
			//color: $white;
		}
	}
}