// start .sSearch
.sSearch {
	--sPB: 26px;

	--sPT: 18px;
	--sTPB: 48px;
	@include media-breakpoint-up(md){
		--sPT: 24px;
		--sTPB: 46px;
	}
	@include media-breakpoint-up(xl){
		--sPT: 24px;
		--sTPB: 48px;
	}

	.inp-str{
		margin-bottom: 50px;
		@include media-breakpoint-up(md){
			margin-bottom: 44px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 44px;
		}
	}
	.section-title{
		@include media-breakpoint-between(md,xl){
			height: 0;
			overflow: visible;
			max-width: calc(100% - 200px);
			padding-bottom: 0;
		}
	}

	//
	&__filter-col{
		padding-bottom: 16px;
		@include media-breakpoint-up(md){
			padding-bottom: 46px;
		}
		@include media-breakpoint-up(xl){
			padding-bottom: 0;
		}
	}
	&__filter-cont{
		position: relative;
	}
	//f-btn
	&__f-btn{
		@extend .btn;
		@extend .btn-light;
		&.active{
			background-color: transparent!important;
		}

		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		@include media-breakpoint-up(md){
			width: 170px;
		}
		margin-left: auto;

		--img-1-o: 1;
		--img-2-o: 0;
		--txt-1-d: block;
		--txt-2-d: none;
		&.active{
			--img-1-o: 0;
			--img-2-o: 1;
			--txt-1-d: none;
			--txt-2-d: block;
		}
	}
	&__f-img{
		position: relative;
		width: 18px;
		height: 18px;
		margin-right: 15px;

		img:first-child{
			opacity: var(--img-1-o);
		}
		img:last-child{
			opacity: var(--img-2-o);
		}

		img{
			@include mt();
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}
	}
	&__f-btn-txt{
		span:first-child{
			display: var(--txt-1-d);
		}
		span:last-child{
			display: var(--txt-2-d);
		}

	}

	//.sort-row
	&__sort-row{
		@extend .row-default-sm;
	}
	&__sort-select{
		select{
			padding: 15px 30px 15px 13px;
			width: 100%;

			font-size: 14px;
			line-height: (16/14);
			background-position: calc(100% - 13px) center;
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}

} // end.sSearch

.filter{
	display: none;
	&.active{
		display: block;
	}

	position: absolute;
	z-index: 5;
	right: 0;
	top: calc(100% + 15px);
	width: 100%;
	@include media-breakpoint-up(md){
		top: calc(100% + 5px);
		width: 267px;
	}

	@include media-breakpoint-up(xl){
		width: auto;
		display: block!important;
		position: relative;
		top: unset;
		right: unset;
		bottom: unset;
		left: unset;
		margin-right: -5px;
	}

	background-color: $light;
	border-radius: 5px;

	padding: 19px 24px 24px 24px;

	&__item{
		padding-bottom: 17px;

		--chevron-filter: grayscale(1);
		&.active{

		}
	}
	&__head{
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;

		font-weight: 600;
		font-size: 14px;
		line-height: 1.5;

		&:after{
			@include mt();
			filter: grayscale(1);
			flex-shrink: 0;
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-left: 15px;

			background-image: url(../img/svg/chevron-down.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 10px;
		}

		&:hover:after{
			filter: grayscale(0);
		}

		//margin-bottom: 21px;
	}
	&__content{
		//transition: padding-bottom .3s ease-in-out;
		padding-top: 21px;

		display: none;
		&.active{
			display: block;
		}

		&.pt-sm{
			padding-top: 7px;
		}
	}
	&__checkboxes{
		& > *:last-child{
			//margin-bottom: 0;
		}
	}
	//
	&__select{
		select{
			padding: 15px 30px 15px 13px;
			font-size: 14px;
			line-height: (16/14);
			background-position: calc(100% - 13px) center;
		}
	}

	//
	&__show-btn{
		@extend .btn-default-outline;
		width: 100%;
		font-weight: 400;

		padding: 13px 20px;

		@include media-breakpoint-up(xl){
			margin-top: 7px;
		}
	}

	&__{}
	//
	&__show-more{
		display: none;
		&.active{
			display: block;
		}

		cursor: pointer;
		transition: color .3s ease-in-out;

		color: $secondary;
		&:hover{
			color: $primary;
		}

		font-size: 14px;
		line-height: 16px;

		padding: 10px 0;
	}
	&__shm-content{
		display: none;
		&.active{
			display: block;
		}
	}
	//
	&__{}
	&__{}
}

.two-inps{
	margin-top: -4px;
	margin-bottom: 24px;

	display: flex;
	align-items: stretch;

	&__input-wrap{
		width: 50%;

		&:first-child{
			--inp-bord-rad: 5px 0 0 5px;
			--before-c: 'от';
		}
		&:last-child{
			--inp-bord-rad: 0 5px 5px 0;
			--before-c: 'до';
		}

		position: relative;
		&:before{
			content: var(--before-c);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 14px;

		}
	}
	&__input{
		width: 100%;
		border-radius: var(--inp-bord-rad);

		padding: 15px 15px 15px 37px;

		font-size: 14px;
		line-height: (16/14);
	}
	&__{}
	&__{}
	&__{}
	&__{}
}

.custom-chb{
	display: flex;
	align-items: flex-start;
	margin-bottom: 12px;
	cursor: pointer;


	--sq-border: #{1px solid $gary-110};
	&:hover{
		--sq-border: #{1px solid $primary};
	}

	input:checked + .square:after{
		opacity: 1;
	}

	.square{
		display: block;
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		margin-right: 8px;

		@include mt();

		background: $white;
		border: var(--sq-border);
		border-radius: 5px;

		position: relative;
		&:after{
			opacity: 0;
			@include mt();
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			background-repeat: no-repeat;
			background-image: url(../img/svg/check.svg);
			background-position: center;
			background-size: 10px;
		}
	}
	.txt{
		display: block;
		margin-top: 2px;
		font-size: 14px;
		line-height: 1.5;
	}


}

.organ{
	padding-bottom: 18px;
	@include media-breakpoint-up(md){
		padding-bottom: 36px;
	}

	&--vac{
		padding-bottom: 16px;
		@include media-breakpoint-up(md){
			padding-bottom: 16px;
		}
		@include media-breakpoint-up(xl){
			padding-bottom: 23px;
		}
	}

	&__item{
		@include mt();
		background-color: $white;
		border: 1px solid $gary-110;
		border-radius: 5px;

		padding: 28px 23px 26px 20px;
		margin-bottom: 18px;
		@include media-breakpoint-up(md){
			padding: 28px 23px 26px 20px;
			margin-bottom: 12px;
		}
		@include media-breakpoint-up(xl){
			padding: 24px 25px 22px 20px;
		}

		--like-btn-col: #{$gray-120};
		--title-col: #{$body-color};
		box-shadow: 0px 5px 10px rgba(38, 39, 40, 0);
		&:hover{
			--like-btn-col: #{$warning};
			--title-col: #{$primary};
			box-shadow: 0px 5px 10px rgba(38, 39, 40, 0.15);
		}

		min-height: 168px;
		@include media-breakpoint-up(md){
			min-height: 172px;
		}

		display: flex;
		flex-direction: column;

		//--vac
		&--vac{
			padding: 28px 23px 18px 20px;
			@include media-breakpoint-up(md){
				padding: 28px 23px 24px 20px;
				margin-bottom: 18px;
			}
			@include media-breakpoint-up(xl){
				padding: 28px 25px 22px 19px;
				margin-bottom: 12px;
			}
		}
	}

	&__org-name{
		display: block;
		font-size: 14px;
		line-height: (16/14);
		color: $secondary;
		&:hover{
			color: $primary;
		}

		margin-bottom: 14px;
		@include media-breakpoint-up(md){
			margin-bottom: 6px;
		}
	}
	&__city{
		display: block;
		font-size: 14px;
		line-height: (16/14);
		color: $secondary;

		//margin-bottom: 16px;
	}
	&__description{
		font-size: 14px;

		margin-bottom: 19px;
		@include media-breakpoint-up(md){
			margin-bottom: 16px;
		}
	}
	&__salary{
		font-weight: 600;
		margin-bottom: 20px;
	}
	//galary
	&__galary{}
	&__g-row{
		@include roww(10px);

		& > *{
			margin-bottom: 10px;
		}

		margin-bottom: -10px;

		padding-bottom: 22px;

		.col-part-5{
			width: 20%;
			max-width: 20%;
		}
	}
	&__g-img{
		@extend .accept-ratio-frame;
		border-radius: 5px;
		padding-top: (86/152) * 100%;
	}
	//
	&__btns-row{
		@include roww(12px);

		& > *{
			margin-bottom: 12px;
		}

		margin-bottom: -12px;
	}
	&__respond-btn{
		min-width: 160px;
		@extend .btn-default-outline;

		padding: 12px 10px;
		font-size: 14px;
	}
	&__show-btn{
		min-width: 160px;
		font-size: 14px;

		padding: 12px 10px;
		@extend .btn;
		@extend .btn-outline-light;

		color: $body-color;
	}
	&__placement{
		color: $secondary;
		font-size: 14px;

		margin: 10px 12px 0 0;
		@include media-breakpoint-up(md){
			margin: 0;
			padding: 0 12px;
		}

		span{

		}

		span:first-child{

		}
		span:last-child{

		}
	}
	&__{}
	&__{}

	//end vac

	//main-row
	&__row{
		@extend .row-default;
		@include media-breakpoint-up(xl){
			//align-items: center;//?
		}

		padding-bottom: 19px;
	}
	&__title{
		display: block;
		color: var(--title-col);

		font-weight: 600;
		font-size: 16px;
		margin-bottom: 10px;
	}
	&__descr{
		font-size: 14px;
		color: $secondary;
	}
	&__lower-row{
		margin-top: auto;
	}
	&__company-logo{
		display: block;
		img{
			width: auto;
			height: auto;
			max-width: 150px;
		}
	}
	&__data-row{
		@include roww(24px);

		& > *{
			margin-bottom: 24px;
		}
		margin-bottom: -24px;
	}
	&__workers-amount{
		font-size: 14px;
	}
	&__vac-link{
		font-size: 14px;
		display: block;
		color: $primary;

		border-bottom: 1px dashed $primary;
		&:hover{
			border-bottom: 1px dashed transparent;
		}
	}
	&__vac-empty{
		font-size: 14px;
		color: $secondary;
	}


	&__like-btn{
		cursor: pointer;
		color: var(--like-btn-col, #{$gray-120});

		&.active{
			color: $warning;
			fill: $warning;
		}

		.icon{
			@include mt();
			font-size: 24px;
			color: currentColor;
		}

		&:hover{
			color: var(--like-btn-col, #{$warning});
			.icon{
				filter: drop-shadow(0 0 2.5px rgba($warning,0.4));
			}
		}
	}
	&__{}
	&__{}
	&__{}
}

//pugin
.pugination{
	background: $white;

	display: inline-flex;
	width: auto;

	&__item{
		@include mt();

		width: 34px;
		height: 44px;
		font-size: 14px;
		@include media-breakpoint-up(ss){
			font-size: 16px;
			width: 48px;
			height: 48px;
		}


		display: flex;
		align-items: center;
		justify-content: center;

		border-top: 1px solid $gray-300;
		border-right: none;
		border-bottom: 1px solid $gray-300;
		border-left: 1px solid $gray-300;
		&:last-child{
			border-right: 1px solid $gray-300 !important;
			border-radius: 0 5px 5px 0;
		}
		&:first-child{
			border-radius: 5px 0 0 5px;
		}
		&:last-child{
			border-right: none;
		}

		color: $body-color;
		&:hover{
			color: $body-color;
			background-color: $gray-200;
		}

		&.current{
			//border-bottom: 1px solid $primary;
			//border-image: linear-gradient(86.99deg, #2AED80 0.21%, #10B7F5 99.92%);

			position: relative;
			&:after{
				content: '';
				position: absolute;
				z-index: 5;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: linear-gradient(86.99deg, #2AED80 0.21%, #10B7F5 99.92%);
			}

			box-shadow: inset 0 -2px 0 -1px $primary;
		}

		&--controll{

			&:hover{
				.icon{
					color: $primary;
				}
			}

			.icon{
				@include mt();
				font-size: 12px;
				color: $warning;
			}
		}

	}
	&__{}
	&__{}
}
.pugin-row{
	@include roww(10px);
	margin-bottom: -37px;

	& > *{
		margin-bottom: 37px;
	}

	//select
	&__select-cont{
		display: flex;
		align-items: center;
	}
	&__sel-title{
		font-size: 14px;
		line-height: (16/14);
		white-space: nowrap;
		margin-right: 8px;
	}
	&__select{
		min-width: 90px;
		padding: 15px 30px 15px 13px;

		font-size: 14px;
		line-height: (16/14);
		background-position: calc(100% - 13px) center;
	}
}