mixin sWork(data)
	// start sWork
	+b.SECTION.sWork.section#sWork&attributes(attributes)
		.container
			+b.section-title
				h2 Работа по профессиям в Санкт-Петербурге
			+e.row.row
				//-
				+sWorkItem('Врач-терапевт', '163 вакансий')
				+sWorkItem('Главный врач', '163 вакансий')
				+sWorkItem('Медицинская сестра общей практики', '163 вакансий')
				+sWorkItem('Провизор', '163 вакансий')
				//-
				+sWorkItem('Врач-педиатр', '1089 вакансий')
				+sWorkItem('Заведующий отделением', '1089 вакансий')
				+sWorkItem('Главный фельдшер', '1089 вакансий')
				+sWorkItem('Врач-эндокринолог', '1089 вакансий')
				//-
				+sWorkItem('Медицинская сестра', '54 вакансий')
				+sWorkItem('Акушер', '54 вакансий')
				+sWorkItem('Зубной техник', '54 вакансий')
				+sWorkItem('Врач-пластический хирург', '54 вакансий')
				//-
				+sWorkItem('Медицинская сестра участковая', '87 вакансий')
				+sWorkItem('Лаборант', '87 вакансий')
				+sWorkItem('Медицинский статистик', '87 вакансий')
				+sWorkItem('Врач-детский хирург', '87 вакансий')
				//-
				+sWorkItem('Фельдшер', '29 вакансий')
				+sWorkItem('Младший фармацевт', '29 вакансий')
				+sWorkItem('Операционная медицинская сестра', '29 вакансий')
				+sWorkItem('Врач приемного отделения', '66 вакансий')
				//-
				+sWorkItem('Врач-стоматолог', '66 вакансий')
				+sWorkItem('Рентгенолаборант', '66 вакансий')
				+sWorkItem('Старший фармацевт', '66 вакансий')
				+sWorkItem('Врач приемного отделения', '66 вакансий')
				//-
				+sWorkItem('Врач-уролог', '88 вакансий')
				+sWorkItem('Фармацевт', '88 вакансий')
				+sWorkItem('Фельдшер-нарколог', '88 вакансий')
				+sWorkItem('Врач-акушер-гинеколог', '88 вакансий')
				//-
				+sWorkItem('Главная медицинская сестра', '5 вакансий')
				+sWorkItem('Врач-терапевт участковый', '5 вакансий')
				+sWorkItem('Врач-хирург', '5 вакансий')
				+sWorkItem('Врач-аллерголог-иммунолог', '5 вакансий')
			.text-lg-center
				+b.all-btn(href="#")
					span Все профессии
					+icon('chevron-right')
	// end sWork

mixin sWorkItem(name, vac)
	.col-6.col-md-4.col-lg-3
		+e.item(href='#')
			+e.name=name
			+e.vac=vac