// start .sTell
.sTell {
	--sPT: 20px;
	--sPB: 27px;
	--sTPB: 32px;
	@include media-breakpoint-up(md){
		--sPT: 20px;
		--sPB: 20px;
		--sTPB: 30px;
	}
	@include media-breakpoint-up(xl){
		--sPT: 24px;
		--sPB: 24px;
		--sTPB: 36px;
	}
	&--alt{
		.sTell__txt-col{
			@include media-breakpoint-up(md){
				width: calc(309px + var(--bs-gutter-x));
			}
			@include media-breakpoint-up(lg){
				width: calc(416px + var(--bs-gutter-x));
				padding-top: 40px;
				padding-bottom: 37px;
			}
			@include media-breakpoint-up(xl){
				width: calc(510px + var(--bs-gutter-x));
				padding-top: 58px;
				padding-bottom: 58px;
			}
		}

		.sTell__img{
			width: 416px;
			margin: 0 auto;
			@include media-breakpoint-up(md){
				margin: 0 0 0 auto;
				width: 310px;
			}
			@include media-breakpoint-up(lg){
				width: 416px;
			}
			@include media-breakpoint-up(xl){
				width: 447px;
			}
		}
	}
	//
	&__box{
		background: $gray-100;
		border-radius: 12px;

		padding: 24px 24px 0 24px;
		@include media-breakpoint-up(md){
			padding: 41px 37px 40px 40px;
		}
		@include media-breakpoint-up(lg){
			padding: 0 40px;
		}
		@include media-breakpoint-up(xl){
			padding: 0 72px 0 48px;
		}
	}
	&__row{
		--bs-gutter-y: 24px;
		@include media-breakpoint-up(md){
			align-items: center;
			--bs-gutter-y: 0px;
		}

		--bs-gutter-x: 24px;

		@include media-breakpoint-up(lg){
			align-items: stretch;
		}
	}
	&__txt-col{
		@include media-breakpoint-up(md){
			width: calc(309px + var(--bs-gutter-x));
		}
		@include media-breakpoint-up(lg){
			width: calc(375px + var(--bs-gutter-x));
			padding-top: 43px;
			padding-bottom: 43px;
		}
		@include media-breakpoint-up(xl){
			width: calc(375px + var(--bs-gutter-x));
			padding-top: 68px;
			padding-bottom: 68px;
		}

	}
	&__title{
		font-weight: 600;
		margin-bottom: 18px;

		font-size: 36px;
		@include media-breakpoint-up(md){
			font-size: 30px;
		}
		@include media-breakpoint-up(xl){
			font-size: 36px;
		}
	}
	&__descr{
		margin-bottom: 24px;
	}
	&__btn{
		@extend .green-btn;
		font-size: inherit;

		padding: 15px 24px;
		@include media-breakpoint-up(md){
			padding: 15px 35px;
		}
	}
	&__img{
		max-width: 100%;

		width: 416px;
		margin: 0 auto;
		@include media-breakpoint-up(md){
			margin: 0 0 0 auto;
			width: 310px;
		}
		@include media-breakpoint-up(lg){
			width: 416px;
		}
		@include media-breakpoint-up(xl){
			width: 510px;
		}

		img{
			width: 100%;
			height: auto;
		}
	}
	//
	&__{}
	&__{}
} // end.sTell