mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		+e.container.container
			+e.main-row.row
				.col-lg-9
					+e.top-row.row
						.col-auto
							+e.date 12 августа 2021
						.col-auto
							+e.all-link(href='#') Статьи
					+b.section-title
						h1 H1. Кандидаты на важные должности в Роскосмосе проходят детектор лжи
						p Новые требования введены с этого лета
					+e.content
						+e.img
							img(loading="lazy" src='img/@2x/sArticle-img.jpg' alt="")
						span.text-secondary Shutterstock
					+e.content
						+e.big Глава Роскосмоса Дмитрий Рогозин написал в Facebook, что в корпорации и на подчиненных ей предприятиях работает система собеседований с полиграфом.
					+e.content--alt
						h2 H2. Заголовок
						p
							| Перед этим такое предложение выдвинули участники дискуссии вокруг других слов Рогозина о суровых наказаниях за коррупцию в
							|
							b оборонно-промышленной сфере
							|. Руководитель Роскосмоса заметил, что уже подумал об этом.
						p
							| Он не уточнил, с какого порога использование детектора лжи становится
							|
							a(href="#") обязательным
							|. Некоторые комментаторы сочли, что такой способ выявлять ненадежных сотрудников малопродуктивен.
						p Ранее мы писали, что отечественным космонавтам в этом году повысили в разы зарплаты — почти до уровня американских и европейских коллег.
					//-div class="sFresh" can be removed
					+b.sFresh
						+e.slider-wrap
							.swiper-container.sDayVac-slider-js
								.swiper-wrapper
									-for(var i = 0; i < 2; i++)
										+sFreshSlide({
											name: 'Врач рентгенолог КТ',
											organization: 'ГБУЗ Городская клиническая больница имени И. В. Давыдовского ДЗМ',
											imgNum: 2,
										})
										+sFreshSlide({
											name: 'Медицинская сестра',
											organization: 'МРЦ Беляево (Центр Дикуля)',
											imgNum: 5,
										})
										+sFreshSlide({
											name: 'Медицинская сестра',
											organization: 'БУДЬ ЗДОРОВ, Клиника',
											imgNum: 4,
										})
								+arrow2()
					+e.content
						h3 H3. Заголовок
						p
							| Перед этим такое предложение выдвинули участники дискуссии вокруг других слов Рогозина о суровых наказаниях за коррупцию в
							|
							b оборонно-промышленной сфере
							| . Руководитель Роскосмоса заметил, что уже подумал об этом.
						p
							| Он не уточнил, с какого порога использование детектора лжи становится
							|
							a(href="#") обязательным
							| . Некоторые комментаторы сочли, что такой способ выявлять ненадежных сотрудников малопродуктивен.
						p Ранее мы писали, что отечественным космонавтам в этом году повысили в разы зарплаты — почти до уровня американских и европейских коллег.
					+e.content
						h4 H4. Заголовок
						p Перед этим такое предложение выдвинули участники дискуссии вокруг других слов Рогозина о суровых наказаниях за коррупцию в оборонно-промышленной сфере. Руководитель Роскосмоса заметил, что уже подумал об этом.
					+e.content
						h5 H5. Заголовок
						p Перед этим такое предложение выдвинули участники дискуссии вокруг других слов Рогозина о суровых наказаниях за коррупцию в оборонно-промышленной сфере. Руководитель Роскосмоса заметил, что уже подумал об этом.
					+e.content
						h6 H6. Заголовок
						p Перед этим такое предложение выдвинули участники дискуссии вокруг других слов Рогозина о суровых наказаниях за коррупцию в оборонно-промышленной сфере. Руководитель Роскосмоса заметил, что уже подумал об этом.
					+e.content
						h6 Маркированный список
						ul
							li опыт работы по специальности врачом-стоматологом-терапевтом от 5-ти лет
							li наличие действующего сертификата по "стоматологии терапевтической"
							li владение современными методами лечения
							li опыт работы с ассистентом в "четыре руки"
					+e.content
						h6 Нумированный спиок
						ol
							li Опыт работы по специальности врачом-стоматологом-терапевтом от 5-ти лет.
							li Наличие действующего сертификата по “стоматологии терапевтической”.
							li Владение современными методами лечения.
							li Опыт работы с ассистентом в “четыре руки”.
					+e.src(href="#" target="_blank") Источник: https://vademec.ru/news/2021/08/11/v-yanao-postroyat-polikliniku-za-1-4-mlrd-rubley/
				+e.soc-col.col-lg-3.d-none.d-lg-block
					+e.soc-box
						+e.sb-main-row.row.align-items-center
							.col-md-12
								+e.sb-title Поделиться
							.col-md-12
								+e.sb-sub-row.row
									+sArticleSocItem('tg', '#139BD0')
									+sArticleSocItem('vk', '#4A76A8')
									+sArticleSocItem('tw', '#03A9F4')
									+sArticleSocItem('fb', '#4267B2')
									+sArticleSocItem('ok', '#EE8208')
									+sArticleSocItem('share', '#A8B1BC')
	// end sArticle

mixin sArticleSocItem(iconName, bgcolor)
	.col-auto.col-lg-4.col-xxl-3
		+e.soc-item(href="#")
			+e.sb-bg(style=`background-color: ${bgcolor};`)
			img(loading="lazy" src=`img/svg/sArticle-soc-${iconName}.svg` alt="")